[Unit]
Description=bunkerized-nginx - web services security
Documentation=https://bunkerized-nginx.readthedocs.io
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/tmp/nginx.pid
ExecStart=/usr/sbin/nginx -g 'daemon on; user nginx;'
ExecReload=/bin/sh -c "/bin/kill -s HUP $(/bin/cat /tmp/nginx.pid)"
ExecStop=/bin/sh -c "/bin/kill -s TERM $(/bin/cat /tmp/nginx.pid)"

[Install]
WantedBy=multi-user.target
