<form
  action="https://bunkerity.us1.list-manage.com/subscribe/post?u=ec5b1577cf427972b9bd491a6&amp;id=37076d9d67"
  method="POST"
  class="needs-validation"
  id="subscribe-newsletter"
>
  <div class="input-group mb-2">
    <input
      type="text"
      id="newsletter-email"
      name="EMAIL"
      class="form-control"
      placeholder="John.doe@example.com"
      pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$"
      required=""
    />
    <button class="btn btn-outline-light" type="submit" formtarget="_blank">
      Subscribe
    </button>
  </div>
  <div class="input-group align-items-center">
    <input
      class="col-auto form-check form-switch"
      type="checkbox"
      id="newsletter-check"
      required=""
    />
    &nbsp;&nbsp;
    <h6 class="col-auto h6 mb-0">
      I've read and agree to the
      <a href="https://www.bunkerity.com/privacy-policy/" _target="_blank"
        >privacy policy</a
      >
    </h6>
  </div>
</form>
