<div class="col-lg-2 footer-social animated fadeInDown">
  <h4>Follow Us</h4>
  <ul class="list-unstyled">
    <li>
      <a href="https://twitter.com/bunkerity" target="_blank"
        ><i class="bi bi-twitter" aria-label="Twitter"></i>Twitter</a
      >
    </li>
    <li>
      <a href="https://www.linkedin.com/company/bunkerity/" target="_blank"
        ><i class="bi bi-linkedin" aria-label="LinkedIn"></i>LinkedIn</a
      >
    </li>
    <li>
      <a href="https://discord.gg/fTf46FmtyD" target="_blank"
        ><i class="bi bi-discord" aria-label="Discord"></i>Discord</a
      >
    </li>
    <li>
      <a href="https://github.com/bunkerity" target="_blank"
        ><i class="bi bi-github" aria-label="GitHub"></i>GitHub</a
      >
    </li>
  </ul>
</div>
