*.conf      @TheophileDiot @fl0ppy-d1sk
*.css       @TheophileDiot
*.html      @TheophileDiot
*.in        @TheophileDiot
*.ini       @TheophileDiot
*.js        @TheophileDiot
*.json      @TheophileDiot
*.lua       @TheophileDiot @fl0ppy-d1sk
*.md        @TheophileDiot
*.py        @TheophileDiot
*.sh        @TheophileDiot
*.tf        @fl0ppy-d1sk
*.txt       @TheophileDiot
*.yaml      @TheophileDiot
*.yml       @TheophileDiot
Dockerfile* @TheophileDiot
