site/
.idea/
.vscode/
__pycache__
env/
tmp_venv/
node_modules
package-lock.json
/src/ui/*.txt
.mypy_cache
.cache/
.pytest_cache/
.env
/package*.json
src/ui/client/static
src/ui/client/templates
src/ui/static
src/ui/templates
src/ui/builder
src/ui/client/builder/*.json
src/ui/client/builder/*.txt
