[submodule "LuaJIT"]
	path = src/deps/src/luajit2
	url = https://github.com/openresty/luajit2.git

[submodule "zlib"]
	path = src/deps/src/zlib
	url = https://github.com/madler/zlib.git

[submodule "lua-nginx-module"]
	path = src/deps/src/lua-nginx-module
	url = https://github.com/openresty/lua-nginx-module.git

[submodule "lua-resty-core"]
	path = src/deps/src/lua-resty-core
	url = https://github.com/openresty/lua-resty-core.git

[submodule "ModSecurity"]
	path = src/deps/src/ModSecurity
	url = https://github.com/SpiderLabs/ModSecurity.git

[submodule "libinjection"]
	path = src/deps/src/libinjection
	url = https://github.com/libinjection/libinjection.git

[submodule "ModSecurity-nginx"]
	path = src/deps/src/ModSecurity-nginx
	url = https://github.com/SpiderLabs/ModSecurity-nginx.git

[submodule "lua-resty-lrucache"]
	path = src/deps/src/lua-resty-lrucache
	url = https://github.com/openresty/lua-resty-lrucache.git

[submodule "lua-resty-dns"]
	path = src/deps/src/lua-resty-dns
	url = https://github.com/openresty/lua-resty-dns.git

[submodule "lua-resty-string"]
	path = src/deps/src/lua-resty-string
	url = https://github.com/openresty/lua-resty-string.git

[submodule "lua-cjson"]
	path = src/deps/src/lua-cjson
	url = https://github.com/openresty/lua-cjson.git

[submodule "lua-resty-session"]
	path = src/deps/src/lua-resty-session
	url = https://github.com/bungle/lua-resty-session.git

[submodule "lua-resty-random"]
	path = src/deps/src/lua-resty-random
	url = https://github.com/bungle/lua-resty-random.git

[submodule "lua-gd"]
	path = src/deps/src/lua-gd
	url = https://github.com/ittner/lua-gd.git

[submodule "lua-resty-http"]
	path = src/deps/src/lua-resty-http
	url = https://github.com/ledgetech/lua-resty-http.git

[submodule "lualogging"]
	path = src/deps/src/lualogging
	url = https://github.com/lunarmodules/lualogging.git

[submodule "luasocket"]
	path = src/deps/src/luasocket
	url = https://github.com/diegonehab/luasocket.git

[submodule "luasec"]
	path = src/deps/src/luasec
	url = https://github.com/brunoos/luasec.git

[submodule "lua-resty-ipmatcher"]
	path = src/deps/src/lua-resty-ipmatcher
	url = https://github.com/api7/lua-resty-ipmatcher.git

[submodule "lua-resty-redis"]
	path = src/deps/src/lua-resty-redis
	url = https://github.com/openresty/lua-resty-redis.git

[submodule "lua-resty-upload"]
	path = src/deps/src/lua-resty-upload
	url = https://github.com/openresty/lua-resty-upload.git

[submodule "luajit-geoip"]
	path = src/deps/src/luajit-geoip
	url = https://github.com/leafo/luajit-geoip.git

[submodule "lbase64"]
	path = src/deps/src/lbase64
	url = https://github.com/iskolbin/lbase64.git

[submodule "lua-resty-env"]
	path = src/deps/src/lua-resty-env
	url = https://github.com/3scale/lua-resty-env.git

[submodule "lua-resty-mlcache"]
	path = src/deps/src/lua-resty-mlcache
	url = https://github.com/thibaultcha/lua-resty-mlcache.git

[submodule "lua-resty-template"]
	path = src/deps/src/lua-resty-template
	url = https://github.com/bungle/lua-resty-template.git

[submodule "lua-resty-lock"]
	path = src/deps/src/lua-resty-lock
	url = https://github.com/openresty/lua-resty-lock.git

[submodule "lua-pack"]
	path = src/deps/src/lua-pack
	url = https://github.com/kong/lua-pack.git

[submodule "lua-resty-openssl"]
	path = src/deps/src/lua-resty-openssl
	url = https://github.com/fffonion/lua-resty-openssl.git

[submodule "lua-ffi-zlib"]
	path = src/deps/src/lua-ffi-zlib
	url = https://github.com/hamishforbes/lua-ffi-zlib.git

[submodule "lua-resty-signal"]
	path = src/deps/src/lua-resty-signal
	url = https://github.com/openresty/lua-resty-signal.git

[submodule "libmaxminddb"]
	path = src/deps/src/libmaxminddb
	url = https://github.com/maxmind/libmaxminddb.git

[submodule "headers-more-nginx-module"]
	path = src/deps/src/headers-more-nginx-module
	url = https://github.com/openresty/headers-more-nginx-module.git

[submodule "nginx_cookie_flag_module"]
	path = src/deps/src/nginx_cookie_flag_module
	url = https://github.com/AirisX/nginx_cookie_flag_module.git

[submodule "ngx_brotli"]
	path = src/deps/src/ngx_brotli
	url = https://github.com/google/ngx_brotli.git

[submodule "ngx_devel_kit"]
	path = src/deps/src/ngx_devel_kit
	url = https://github.com/vision5/ngx_devel_kit.git

[submodule "stream-lua-nginx-module"]
	path = src/deps/src/stream-lua-nginx-module
	url = https://github.com/openresty/stream-lua-nginx-module.git
