[submodule "bunkerized-nginx-crowdsec"]
	path = examples/crowdsec/bunkerized-nginx-crowdsec
	url = https://github.com/bunkerity/bunkerized-nginx-crowdsec

[submodule "examples/clamav/bunkerized-nginx-clamav"]
	path = examples/clamav/bunkerized-nginx-clamav
	url = https://github.com/bunkerity/bunkerized-nginx-clamav.git
