site/
.idea/
.vscode/
__pycache__
env/
tmp_venv/
node_modules
/src/ui/*.txt
.mypy_cache
.cache/
/package*.json
src/ui/client/static
src/ui/client/templates
src/ui/static
src/ui/templates
src/ui/builder
