defaults
	timeout connect 5s
	timeout client 5s
	timeout server 5s

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold other 10s
    hold refused 10s
    hold nx 10s
    hold timeout 10s
    hold valid 10s

frontend http_front
    mode http
    bind *:8080
    default_backend http_back

backend http_back
    mode http
	option forwardfor
    server server01 bunkerweb:8080 check resolvers docker resolve-prefer ipv4
