<div class="form-check form-switch mt-1">
    <input id="{{ setting_id_prefix }}{{ setting_data['id'] }}{{ setting_id_suffix }}"
           name="{{ setting }}"
           class="form-check-input"
           type="checkbox"
           role="switch"
           aria-labelledby="label-{{ setting_id_prefix }}{{ setting_data['id'] }}{{ setting_id_suffix }}"
           data-original="{% if current_endpoint != 'new' %}{{ setting_value }}{% else %}{{ setting_default }}{% endif %}"
           data-default="{{ setting_default }}"
           {% if setting_value == "yes" %}checked{% endif %}
           {% if disabled %}disabled{% endif %}
           {% if required %}required{% endif %}>
    <label class="form-check setting-checkbox-label d-flex align-items-center text-truncate ps-0"
           for="{{ setting_id_prefix }}{{ setting_data['id'] }}{{ setting_id_suffix }}">{{ setting }}</label>
</div>
