<div class="form-check form-switch mt-1 position-relative">
    <input id="{{ setting_id_prefix }}{{ setting_data['id'] }}{{ setting_id_suffix }}"
           name="{{ setting }}"
           class="form-check-input plugin-setting"
           type="checkbox"
           role="switch"
           aria-labelledby="label-{{ setting_id_prefix }}{{ setting_data['id'] }}{{ setting_id_suffix }}"
           data-original="{% if current_endpoint != 'new' %}{{ setting_value }}{% else %}{{ setting_default }}{% endif %}"
           data-default="{{ setting_default }}"
           {% if setting_value == "yes" %}checked{% endif %}
           {% if disabled %}disabled{% endif %}
           {% if required %}required{% endif %}>
    <label class="form-check setting-checkbox-label d-flex align-items-center text-truncate ps-0"
           for="{{ setting_id_prefix }}{{ setting_data['id'] }}{{ setting_id_suffix }}">{{ setting }}</label>
    {% if setting_config %}
        {% if current_endpoint != 'global-config' and setting_config and setting_config.get('global') and setting_value != setting_default %}
            {% set tooltip_key = "tooltip.button.reset_global" %}
            {% set tooltip_fallback = "Reset to global value" %}
        {% else %}
            {% set tooltip_key = "tooltip.button.reset_default" %}
            {% set tooltip_fallback = "Reset to default value" %}
        {% endif %}
        <button type="button"
                class="btn btn-sm btn-link {% if disabled %}text-muted{% else %}text-danger{% endif %} position-absolute end-0 top-0 mt-1 me-1 reset-setting"
                {% if not disabled %} data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="{{ tooltip_fallback }}" data-i18n="{{ tooltip_key }}" {% endif %}>
            <i class="bx bx-sm bx-reset"></i>
        </button>
    {% endif %}
</div>
