<div class="form-floating mt-1{% if setting_data['type'] == 'password' %} input-group input-group-merge form-password-toggle{% endif %}">
    <input id="{{ setting_id_prefix }}setting-{{ plugin['id'] }}-{{ setting_data['id'] }}{{ setting_id_suffix }}"
           name="{{ setting }}"
           type="{{ setting_data['type'] }}"
           class="form-control plugin-setting"
           aria-labelledby="label-{{ plugin['id'] }}-{{ setting_data['id'] }}{{ setting_id_suffix }}"
           pattern="{{ setting_data['regex'] }}"
           value="{{ setting_value }}"
           data-original="{{ setting_value }}"
           data-default="{{ setting_default }}"
           {% if disabled %}disabled{% endif %}>
    <label for="{{ setting_id_prefix }}setting-{{ plugin['id'] }}-{{ setting_data['id'] }}{{ setting_id_suffix }}">
        {{ setting }}
    </label>
    {% if setting_data['type'] == 'password' %}
        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
    {% endif %}
</div>
