<div class="form-floating mt-1 overflow-hidden{% if setting_data['type'] == 'password' %} input-group input-group-merge form-password-toggle{% endif %} position-relative">
    <input id="{{ setting_id_prefix }}{{ setting_data['id'] }}{{ setting_id_suffix }}"
           name="{{ setting }}"
           type="{{ setting_data['type'] }}"
           class="form-control plugin-setting"
           aria-labelledby="label-{{ setting_id_prefix }}{{ setting_data['id'] }}{{ setting_id_suffix }}"
           pattern="{{ setting_data['regex'] }}"
           value="{{ setting_value }}"
           data-original="{% if current_endpoint != 'new' %}{{ setting_value }}{% else %}{{ setting_default }}{% endif %}"
           data-default="{{ setting_default }}"
           {% if setting_data['type'] == 'password' %}autocomplete="off"{% endif %}
           {% if disabled %}disabled{% endif %}
           {% if setting == 'SERVER_NAME' or required %}required{% endif %}
           {% if input_readonly %}readonly{% endif %}>
    <label for="{{ setting_id_prefix }}{{ setting_data['id'] }}{{ setting_id_suffix }}"
           class="text-truncate">{{ setting }}</label>
    {% if setting_data['type'] == 'password' %}
        <span class="input-group-text cursor-pointer rounded-end"><i class="bx bx-hide"></i></span>
    {% endif %}
    {% if setting_config %}
        {% if current_endpoint != 'global-config' and setting_config and setting_config.get('global') and setting_value != setting_default %}
            {% set tooltip_key = "tooltip.button.reset_global" %}
            {% set tooltip_fallback = "Reset to global value" %}
        {% else %}
            {% set tooltip_key = "tooltip.button.reset_default" %}
            {% set tooltip_fallback = "Reset to default value" %}
        {% endif %}
        <button type="button"
                class="btn btn-sm btn-link {% if disabled or input_readonly %}text-muted{% else %}text-danger{% endif %} position-absolute end-0 top-0 mt-1 me-1 reset-setting"
                data-bs-toggle="tooltip"
                data-bs-placement="left"
                data-bs-original-title="{{ tooltip_fallback }}"
                data-i18n="{{ tooltip_key }}">
            <i class="bx bx-sm bx-reset"></i>
        </button>
    {% endif %}
</div>
