{% set blacklisted_settings = get_blacklisted_settings(current_endpoint == "global-config") %}
<div class="card p-1 mb-4">
    <div class="d-flex flex-wrap justify-content-around align-items-center">
        <div class="dropdown btn-group">
            <button id="select-plugin"
                    type="button"
                    class="btn btn-outline-primary dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="bx bx-extension"></i>
                <span class="d-none d-md-inline">&nbsp;Plugins</span>
            </button>
            <ul id="plugins-dropdown-menu"
                class="dropdown-menu nav-pills max-vh-60 overflow-auto pt-0"
                role="tablist">
                <div class="input-group input-group-merge mb-2">
                    <span class="input-group-text p-2 border-0 border-primary border-bottom shadow-none"><i class="bx fs-6 bx-search"></i></span>
                    <input id="plugin-search"
                           type="text"
                           class="form-control border-0 border-primary border-bottom shadow-none"
                           placeholder="Search..."
                           aria-label="Search...">
                </div>
                {% for plugin in plugins if get_filtered_settings(plugin["settings"], current_endpoint == "global-config") %}
                    <li class="nav-item" data-type="{{ plugin['type'] }}">
                        <button type="button"
                                class="dropdown-item{% if loop.index == 1 %} active{% endif %}"
                                role="tab"
                                data-bs-toggle="tab"
                                data-bs-target="#navs-plugins-{{ plugin['id'] }}"
                                aria-controls="navs-plugins-{{ plugin['id'] }}"
                                {% if loop.index == 1 %}aria-selected="true"{% endif %}>{{ plugin["name"] }}</button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="row align-items-center">
            <div class="col form-floating ps-0 pe-0 pe-md-2">
                <input id="plugin-keyword-search"
                       type="text"
                       class="form-control form-control-sm border-0 border-primary border-bottom shadow-none"
                       placeholder="Keywords...">
                <label for="plugin-keyword-search">Keywords</label>
            </div>
            <div class="col-auto form-floating ps-0 pe-0 d-none d-md-block">
                <select id="plugin-type-select"
                        class="form-select form-select-sm border-0 border-primary border-bottom shadow-none">
                    <option value="all"{% if type == "all" %} selected{% endif %} value="all">All</option>
                    <option value="core"{% if type == "core" %} selected{% endif %}>Core</option>
                    <option value="external"{% if type == "external" %} selected{% endif %}>External</option>
                    <option value="pro"{% if type == "pro" %} selected{% endif %}>Pro</option>
                </select>
                <label for="plugin-type-select">Type</label>
            </div>
        </div>
        <button id="save-settings"
                type="button"
                class="btn btn-sm btn-outline-bw-green">
            <i class="bx bx-save bx-sm"></i>
            <span class="d-none d-md-inline">&nbsp;Save</span>
        </button>
    </div>
</div>
{% set plugin_types = {
    "core": {
        "icon": "<i class=\"bx bx-cube\"></i>",
        "title-class": " border-dark"
    },
    "external": {
        "icon": "<i class=\"bx bx-plug\"></i>",
        "title-class": " border-secondary text-secondary fw-bold"
    },
    "pro": {
        "title-class": " border-primary text-primary fw-bold shine"
    }
} %}
<div class="card tab-content position-relative">
    {% for plugin in plugins if get_filtered_settings(plugin["settings"], current_endpoint == "global-config") %}
        <div id="navs-plugins-{{ plugin['id'] }}"
             class="tab-pane fade{% if loop.index == 1 %} show active{% endif %}"
             role="tabpanel"
             aria-labelledby="navs-plugins-{{ plugin['id'] }}-tab"
             data-type="{{ plugin['type'] }}">
            <div class="card-header">
                <h5 class="card-title d-inline border p-2{{ plugin_types[plugin['type']].get('title-class', '') }}">
                    {{ plugin["name"] }}&nbsp;－&nbsp;v{{ plugin["version"] }}&nbsp;－&nbsp;{{ plugin_types[plugin["type"]].get('icon', '<img src="' + pro_diamond_url + '"
     alt="Pro plugin"
     width="18px"
     height="15.5px">') |safe }}
                </h5>
                <p class="card-subtitle text-muted mt-2">{{ plugin["description"] }}</p>
            </div>
            <div class="card-body row pb-0">
                {% for setting, setting_data in get_filtered_settings(plugin["settings"], current_endpoint == "global-config").items() if not setting_data.get('multiple', false) and setting not in blacklisted_settings and (not service_endpoint or setting_data['context'] == "multisite") %}
                    {% set setting_config = config.get(setting, {}) %}
                    {% set setting_value = setting_config.get("value", setting_data["default"]) %}
                    {% set setting_method = setting_config.get("method", "default") %}
                    {% set setting_template = setting_config.get("template", "") %}
                    {% set disabled = setting_method not in ('ui', 'default') %}
                    <div class="col-12 col-sm-6 col-lg-4 pb-3"
                         {% if disabled %}data-bs-toggle="tooltip" data-bs-placement="top" title="Disabled by {{ setting_method }}"{% endif %}>
                        <div class="d-flex justify-content-between align-items-center">
                            <label id="label-{{ plugin['id'] }}-{{ setting_data['id'] }}"
                                   for="setting-{{ plugin['id'] }}-{{ setting_data['id'] }}"
                                   class="form-label fw-semibold text-truncate">
                                {{ setting_data["label"]|capitalize }}
                            </label>
                            <div class="d-flex align-items-center">
                                {% if current_endpoint == "global-config" and setting_data["context"] == "multisite" %}
                                    <a role="badge"
                                       href='https://docs.bunkerweb.io/latest/concepts/?utm_campaign=self&utm_source=ui#multisite-mode'
                                       class="badge badge-center rounded-pill bg-secondary d-flex align-items-center justify-content-center p-1 me-1"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Multisite setting"
                                       target="_blank"
                                       rel="noopener">
                                        <span class="bx bx-server bx-xs"></span>
                                    </a>
                                {% endif %}
                                {% if setting_template %}
                                    <span class="badge badge-center rounded-pill bg-secondary d-flex align-items-center justify-content-center p-1 me-1"
                                          data-bs-toggle="tooltip"
                                          data-bs-placement="top"
                                          title="From template: {{ setting_template }}">
                                        <span class="bx bx-spreadsheet bx-xs"></span>
                                    </span>
                                {% endif %}
                                <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                      data-bs-toggle="tooltip"
                                      data-bs-placement="top"
                                      title="{{ setting_data['help']|capitalize }}">
                                    <span class="bx bx-question-mark bx-xs"></span>
                                </span>
                            </div>
                        </div>
                        {% if setting_data["type"] == "select" %}
                            {% include "models/select_setting.html" %}
                        {% elif setting_data["type"] == "check" %}
                            {% include "models/checkbox_setting.html" %}
                        {% else %}
                            {% include "models/input_setting.html" %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            {% set multiples = get_multiples(get_filtered_settings(plugin["settings"], current_endpoint == "global-config")) %}
            {% if multiples %}
                {% set setting_id_prefix = "multiple-" %}
                {% set multiple_multiples = multiples|length > 1 %}
                <div class="card-body row card-body row border-primary border-top pt-3">
                    <h5 class="row card-title text-uppercase">Multiple settings</h5>
                    {% for multiple, settings in multiples.items() %}
                        {% set multiple_settings = settings|length > 1 %}
                        <div class="col-12{% if multiple_multiples %} col-md-6{% endif %}{% if multiples|length > 2 and not multiple_settings %} col-lg-4{% endif %} pb-3">
                            <div class="row">
                                <div class="ps-0 d-flex align-items-center justify-content-start">
                                    <h6 class="mb-0">{{ multiple.replace('-', ' ') | capitalize }}</h6>
                                    <button id="add-multiple-{{ plugin['id'] }}-{{ multiple }}"
                                            type="button"
                                            class="btn btn-xs btn-outline-bw-green rounded-pill add-multiple ms-2">
                                        <i class="bx bx-plus-circle bx-sm"></i>&nbsp;ADD
                                    </button>
                                    <button id="show-multiple-{{ plugin['id'] }}-{{ multiple }}"
                                            type="button"
                                            class="btn btn-xs btn-outline-secondary rounded-pill show-multiple ms-2"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#multiple-{{ plugin['id'] }}-{{ multiple }}"
                                            aria-expanded="true"
                                            aria-controls="multiple-{{ plugin['id'] }}-{{ multiple }}">
                                        <i class="bx bx-show-alt bx-sm"></i>&nbsp;HIDE
                                    </button>
                                </div>
                                <div id="multiple-{{ plugin['id'] }}-{{ multiple }}"
                                     class="collapse show multiple-collapse">
                                    <div class="row multiple-container mt-2 pt-2">
                                        {% for setting, setting_data in settings.items() if setting not in blacklisted_settings %}
                                            {% set setting_config = config.get(setting, {}) %}
                                            {% set setting_value = setting_config.get("value", setting_data["default"]) %}
                                            {% set setting_method = setting_config.get("method", "default") %}
                                            {% set setting_template = setting_config.get("template", "") %}
                                            {% set disabled = setting_method not in ('ui', 'default') %}
                                            <div id="multiple-{{ plugin['id'] }}-{{ multiple }}-{{ loop.index - 1 }}"
                                                 class="col-12{% if multiple_multiples and multiple_settings %} col-md-6{% endif %}{% if not multiple_multiples %} col-lg-4{% endif %} ps-0 pb-2"
                                                 {% if disabled %}data-bs-toggle="tooltip" data-bs-placement="top" title="Disabled by {{ setting_method }}"{% endif %}>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <label id="multiple-label-{{ plugin['id'] }}-{{ setting_data['id'] }}"
                                                           for="multiple-setting-{{ plugin['id'] }}-{{ setting_data['id'] }}"
                                                           class="form-label fw-semibold text-truncate">
                                                        {{ setting_data["label"]|capitalize }}
                                                    </label>
                                                    <div class="d-flex align-items-center">
                                                        {% if current_endpoint == "global-config" and setting_data["context"] == "multisite" %}
                                                            <a role="badge"
                                                               href='https://docs.bunkerweb.io/latest/concepts/?utm_campaign=self&utm_source=ui#multisite-mode'
                                                               class="badge badge-center rounded-pill bg-secondary d-flex align-items-center justify-content-center p-1 me-1"
                                                               data-bs-toggle="tooltip"
                                                               data-bs-placement="top"
                                                               title="Multisite setting"
                                                               target="_blank"
                                                               rel="noopener">
                                                                <span class="bx bx-server bx-xs"></span>
                                                            </a>
                                                        {% endif %}
                                                        {% if setting_template %}
                                                            <span class="badge badge-center rounded-pill bg-secondary d-flex align-items-center justify-content-center p-1 me-1"
                                                                  data-bs-toggle="tooltip"
                                                                  data-bs-placement="top"
                                                                  title="From template: {{ setting_template }}">
                                                                <span class="bx bx-spreadsheet bx-xs"></span>
                                                            </span>
                                                        {% endif %}
                                                        <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                                              data-bs-toggle="tooltip"
                                                              data-bs-placement="top"
                                                              title="{{ setting_data['help']|capitalize }}">
                                                            <span class="bx bx-question-mark bx-xs"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                {% if setting_data["type"] == "select" %}
                                                    {% include "models/select_setting.html" %}
                                                {% elif setting_data["type"] == "check" %}
                                                    {% include "models/checkbox_setting.html" %}
                                                {% else %}
                                                    {% include "models/input_setting.html" %}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
