bcrypt<5.0.0
biscuit-python==0.4.0
certbot==5.2.2
Flask==3.1.2
Flask-Login==0.6.3
Flask-Session[cachelib]==0.8.0
Flask-WTF==1.2.2
gunicorn[gthread]==25.0.0
openpyxl==3.1.5
passlib==1.7.4
pillow==12.1.0
psutil==7.2.2
python_dateutil==2.9.0.post0
qrcode==8.2
regex==2026.1.15
user_agents==2.2.0
