bcrypt==4.2.0
beautifulsoup4==4.12.3
Flask==3.0.3
Flask-Login==0.6.3
Flask-Principal==0.4.0
Flask-WTF==1.2.1
gunicorn[gthread]==23.0.0
passlib==1.7.4
python-magic==0.4.27
python_dateutil==2.9.0.post0
pytz==2024.1
qrcode==7.4.2
regex==2024.7.24
werkzeug==3.0.3
