services:
  bunkerweb:
    image: bunkerity/bunkerweb:1.6.6-rc3
    container_name: bunkerweb
    ports:
      - "80:8080" # required to resolve let's encrypt challenges
      - "10000:10000" # app1 without SSL/TLS
      - "10001:10001" # app1 with SSL/TLS
      - "20000:20000" # app2 without SSL/TLS
      - "20001:20001" # app2 with SSL/TLS
    environment:
      API_WHITELIST_IP: "127.0.0.0/8 10.20.30.0/24"
    restart: "unless-stopped"
    networks:
      - bw-universe
      - bw-services

  bw-scheduler:
    image: bunkerity/bunkerweb-scheduler:1.6.6-rc3
    container_name: bunkerweb-scheduler
    depends_on:
      - bunkerweb
    volumes:
      - bw-storage:/data
    environment:
      BUNKERWEB_INSTANCES: "bunkerweb"
      SERVER_NAME: "app1.example.com app2.example.com" # replace with your domains
      MULTISITE: "yes"
      API_WHITELIST_IP: "127.0.0.0/8 10.20.30.0/24"
      SERVE_FILES: "no"
      DISABLE_DEFAULT_SERVER: "yes"
      AUTO_LETS_ENCRYPT: "yes"
      USE_CLIENT_CACHE: "yes"
      USE_GZIP: "yes"
      USE_REVERSE_PROXY: "yes"
      SERVER_TYPE: "stream"
      app1.example.com_REVERSE_PROXY_HOST: "app1:9000"
      app1.example.com_LISTEN_STREAM_PORT: "10000"
      app1.example.com_LISTEN_STREAM_PORT_SSL: "10001"
      app2.example.com_REVERSE_PROXY_HOST: "app2:9000"
      app2.example.com_LISTEN_STREAM_PORT: "20000"
      app2.example.com_LISTEN_STREAM_PORT_SSL: "20001"
    restart: "unless-stopped"
    networks:
      - bw-universe

  app1:
    image: istio/tcp-echo-server:1.3
    command: [ "9000", "app1" ]
    networks:
      - bw-services

  app2:
    image: istio/tcp-echo-server:1.3
    command: [ "9000", "app2" ]
    networks:
      - bw-services

volumes:
  bw-storage:


networks:
  bw-universe:
    name: bw-universe
    ipam:
      driver: default
      config:
        - subnet: 10.20.30.0/24
  bw-services:
    name: bw-services
