@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Public_sans/300-italic.ttf), format("truetype");
}
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Public_sans/500-italic.ttf), format("truetype");
}
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Public_sans/600-italic.ttf), format("truetype");
}
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Public_sans/700-italic.ttf), format("truetype");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Public_sans/300-normal.ttf), format("truetype");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Public_sans/400-normal.ttf), format("truetype");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Public_sans/500-normal.ttf), format("truetype");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Public_sans/600-normal.ttf), format("truetype");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Public_sans/700-normal.ttf), format("truetype");
}
