<head>
	<base href="{{ config["ABSOLUTE_URI"] }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="bunkerized-nginx user interface">
	<meta name="author" content="bunkerity">
	<title>bunkerized-nginx-ui - {{ title }}</title>
	<!-- TODO : favicon -->
	<link rel="icon" type="image/png" href="img/favicon16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="img/favicon32.png" sizes="32x32">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/fa.min.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
</head>
