{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

	{% if operation != "" %}
	<div class="alert alert-primary alert-dismissible fade show text-break" role="alert">
		{{ operation }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endif %}

	{% if instances|length == 0 %}
	<div class="alert alert-primary text-center">
		No instance to show...
	</div>
	{% endif %}

	{% for instance in instances %}
		{% set color = "dark" %}
		{% if instance["status"] == "up" %}
			{% set color = "success" %}
		{% elif instance["status"] == "down" %}
			{% set color = "danger" %}
		{% endif %}

	<div class="col col-12">
		<form id="form-instance-{{ instance["id"] }}">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
			<input type="hidden" name="INSTANCE_ID" value="{{ instance["id"] }}">
		</form>
		<div class="card border-{{ color }} mb-3" style="max-width: 80rem;">
			<div class="card-header border-{{ color }} bg-{{ color }} text-white">
				{{ instance["name"] }}
				<div class="btn-group mx-2 float-end" role="group">
					<button id="btnGroupDrop1" class="btn btn-sm dropdown-toggle btn-light" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fas fa-cogs"></i>
					</button>
					<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
						<li><a class="dropdown-item" href="#" onClick="reloadInstance('{{ instance["id"] }}');">Reload</a></li>
						{% if instance["type"] == "local" %}<li><a class="dropdown-item" href="#" onClick="return startInstance('{{ instance["id"] }}');">Start</a></li>{% endif %}
						<li><a class="dropdown-item" href="#" onClick="return stopInstance('{{ instance["id"] }}');">Stop</a></li>
						{% if instance["type"] == "local" %}<li><a class="dropdown-item" href="#" onClick="return restartInstance('{{ instance["id"] }}');">Restart</a></li>{% endif %}
					</ul>
				</div>
			</div>
			<div class="card-body text-dark">
				<h5 class="card-title">
					Status : {{ instance["status"] }}<br>
					Type : {{ instance["type"] }}
				</h5>
				<span class="card-text">
				</span>
			</div>
		</div>
	</div>
	{% endfor %}

</div>

{% endblock %}
