{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

	{% for instance in instances %}
		{% set color = "dark" %}
		{% if instance["status"] == "running" %}
			{% set color = "success" %}
		{% elif instance["status"] == "created" or instance["status"] == "restarting" or instance["status"] == "paused" %}
			{% set color = "warning" %}
		{% elif instance["status"] == "exited" or instance["status"] == "dead" %}
			{% set color = "danger" %}
		{% endif %}

	<div class="col col-1 row-col-md-3 mx-auto">
		<div class="card border-{{ color }} mb-3" style="max-width: 80rem;">
			<div class="card-header border-{{ color }} bg-{{ color }}">{{ instance["name"] }}</div>
			<div class="card-body text-dark">
				<h5 class="card-title">Status : {{ instance["status"] }}</h5>
				<span class="card-text">
					Web services : <span class="badge bg-primary">X</span><br />
					Environment variables :<br />
					{% for env in instance.attrs["Config"]["Env"] %}
						{{ env }}<br />
					{% endfor %}
				</span>
			</div>
		</div>
	</div>
	{% endfor %}

</div>

{% endblock %}
