services:
  bunkerweb:
    image: bunkerity/bunkerweb:1.6.5-rc2
    container_name: bunkerweb
    ports:
      - "80:8080/tcp"
      - "443:8443/tcp"
      - "443:8443/udp" # for QUIC
    environment:
      API_WHITELIST_IP: "127.0.0.0/8 10.20.30.0/24"
    restart: "unless-stopped"
    networks:
      - bw-universe
      - bw-services

  bw-scheduler:
    image: bunkerity/bunkerweb-scheduler:1.6.5-rc2
    container_name: bw-scheduler
    depends_on:
      - bunkerweb
    environment:
      BUNKERWEB_INSTANCES: "bunkerweb"
      SERVER_NAME: "www.example.com" # replace with your domain
      API_WHITELIST_IP: "127.0.0.0/8 10.20.30.0/24"
      AUTO_LETS_ENCRYPT: "yes"
      DISABLE_DEFAULT_SERVER: "yes"
      USE_CLIENT_CACHE: "yes"
      SERVE_FILES: "no"
      MAX_CLIENT_SIZE: "50m"
      USE_GZIP: "yes"
      # Methods used by the radarr API
      # more info at https://radarr.video/docs/api/
      ALLOWED_METHODS: "GET|POST|HEAD|DELETE|PUT"
      # Proxy requests to radarr
      # websocket is needed
      USE_REVERSE_PROXY: "yes"
      REVERSE_PROXY_URL: "/"
      REVERSE_PROXY_HOST: "http://radarr:7878"
      REVERSE_PROXY_WS: "yes"
      # Increase request rate for API endpoints
      LIMIT_REQ_URL_1: "^/api/"
      LIMIT_REQ_RATE_1: "10r/s"
      CUSTOM_CONF_MODSEC_CRS_radarr: |
        SecAction "id:900220,phase:1,nolog,pass,t:none,setvar:'tx.allowed_request_content_type=|application/x-www-form-urlencoded| |multipart/form-data| |multipart/related| |text/xml| |application/xml| |application/soap+xml| |application/x-amf| |application/json| |application/cloudevents+json| |application/cloudevents-batch+json| |application/octet-stream| |application/csp-report| |application/xss-auditor-report| |text/plain| |application/x-git-upload-pack-request| |application/x-git-receive-pack-request|'"
    restart: "unless-stopped"
    volumes:
      - bw-data:/data
    networks:
      - bw-universe

  radarr:
    image: lscr.io/linuxserver/radarr:5.7.0.8882-ls226
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
      - ./config:/config
      - ./movies:/movies #optional
      - ./downloads:/downloads #optional
    networks:
      - bw-services

volumes:
  bw-data:


networks:
  bw-universe:
    name: bw-universe
    ipam:
      driver: default
      config:
        - subnet: 10.20.30.0/24
  bw-services:
    name: bw-services
