<!-- delete form-->
<form data-services-modal-form-delete
      class="w-full h-full flex flex-col justify-between"
      id="form-delete-server_name"
      method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" value="delete" name="operation" />
    <input type="hidden" value="no" name="is_draft" />
    <input type="hidden" value="" name="SERVER_NAME" />
    <div class="flex justify-center">
        <p data-services-modal-text
           class="text-gray-700 dark:text-gray-300 mx-2 mb-2 mt-8 font-semibold font-sans leading-normal uppercase text-sm">
        </p>
    </div>
    <!-- action button -->
    <div class="w-full justify-center flex mt-10">
        <button data-services-modal-close
                type="button"
                class="close-btn mb-4 mr-3 text-base">Close</button>
        <button type="submit" class="delete-btn mb-4 mr-3 text-base">Delete</button>
    </div>
    <!-- end action button-->
</form>
<!-- end delete form-->
