certbot==5.2.2

# Official certbot plugins
certbot-dns-cloudflare==5.2.2
certbot-dns-digitalocean==5.2.2
certbot-dns-dnsimple==5.2.2
certbot-dns-dnsmadeeasy==5.2.2
certbot-dns-gehirn==5.2.2
certbot-dns-google==5.2.2
certbot-dns-linode==5.2.2
certbot-dns-luadns==5.2.2
certbot-dns-nsone==5.2.2
certbot-dns-ovh==5.2.2
certbot-dns-rfc2136==5.2.2
certbot-dns-route53==5.2.2
certbot-dns-sakuracloud==5.2.2

# Third-party certbot plugins
certbot-dns-bunny==3.0.0
certbot-dns-desec==1.3.2
certbot-dns-domainoffensive==2.0.0
certbot-dns-domeneshop==0.2.9
certbot-dns-duckdns==1.7.1
certbot-dns-dynu==0.0.6.post2502111739272536
certbot-dns-godaddy==2.8.0
certbot-dns-infomaniak==0.2.4
certbot-dns-ionos==2024.11.9
certbot-dns-njalla==2.0.2
certbot-dns-pdns==0.1.1
certbot-dns-scaleway==0.0.7

cffi==2.0.0
cryptography==46.0.3
importlib-metadata==8.7.1
maxminddb==3.0.0
pydantic==2.12.5
python-magic==0.4.27
requests==2.32.5
schedule==1.2.2
