certbot==3.0.0
certbot-dns-cloudflare==3.0.0
certbot-dns-digitalocean==3.0.0
certbot-dns-dnsimple==3.0.0
certbot-dns-dnsmadeeasy==3.0.0
certbot-dns-gehirn==3.0.0
certbot-dns-google==3.0.0
certbot-dns-linode==3.0.0
certbot-dns-luadns==3.0.0
certbot-dns-nsone==3.0.0
certbot-dns-ovh==3.0.0
certbot-dns-rfc2136==3.0.0
certbot-dns-route53==3.0.0
certbot-dns-sakuracloud==3.0.0
certbot-dns-scaleway==0.0.7
cryptography==43.0.3
maxminddb==2.6.2
pydantic==2.9.2
python-magic==0.4.27
requests==2.32.3
schedule==1.2.2
