certbot==3.0.1
certbot-dns-cloudflare==3.0.1
certbot-dns-digitalocean==3.0.1
certbot-dns-dnsimple==3.0.1
certbot-dns-dnsmadeeasy==3.0.1
certbot-dns-gehirn==3.0.1
certbot-dns-google==3.0.1
certbot-dns-linode==3.0.1
certbot-dns-luadns==3.0.1
certbot-dns-nsone==3.0.1
certbot-dns-ovh==3.0.1
certbot-dns-rfc2136==3.0.1
certbot-dns-route53==3.0.1
certbot-dns-sakuracloud==3.0.1
certbot-dns-scaleway==0.0.7
cryptography==44.0.0
maxminddb==2.6.2
pydantic==2.10.4
python-magic==0.4.27
requests==2.32.3
schedule==1.2.2
