bcrypt<5.0.0
biscuit-python==0.4.0
cryptography==46.0.5
email-validator==2.3.0
fastapi==0.135.1
gunicorn[gthread,http2]==25.1.0
pydantic==2.12.5
pydantic_settings==2.13.1
python-multipart==0.0.22
PyYAML==6.0.3
regex==2026.2.19
slowapi==0.1.9
uvicorn[standard]==0.41.0
