bcrypt==4.3.0
biscuit-python==0.3.2
cryptography==45.0.7
fastapi==0.116.1
gunicorn==23.0.0
pydantic==2.11.9
pydantic_settings==2.10.1
python-multipart==0.0.20
PyYAML==6.0.2
regex==2025.9.1
slowapi==0.1.9
uvicorn[standard]==0.35.0
