<div
  id="banner"
  tabindex="-1"
  role="list"
  class="relative flex justify-center z-50 gap-8 px-4 w-full"
>
  <div
    role="listitem"
    aria-hidden="false"
    data-id="0"
    class="flex justify-center w-full left-0 transition-all duration-700 absolute dark:border-gray-700 md:px-4 py-6 dark:bg-gray-800 bg-gray-50 border border-b border-gray-200"
  >
    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      <a
        class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
        href="#"
      >
        link
      </a>
      Illo beatae dicta voluptate aperiam facilis ducimus culpa ad repudiandae
      error, autem molestiae quisquam aliquam rem sunt dolorum qui rerum maxime
      corporis.
    </p>
  </div>
  <div
    role="listitem"
    aria-hidden="true"
    data-id="1"
    class="left-full flex justify-center w-full transition-all duration-700 absolute dark:border-gray-700 md:px-4 py-6 dark:bg-gray-800 bg-gray-50 border border-b border-gray-200"
  >
    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      <a
        class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
        href="#"
      >
        link
      </a>
      Illo beatae dicta voluptate aperiam facilis ducimus culpa ad repudiandae
      error, autem molestiae quisquam aliquam rem sunt dolorum qui rerum maxime
      corporis.
    </p>
  </div>
  <div
    role="listitem"
    aria-hidden="true"
    data-id="2"
    class="left-full flex justify-center w-full transition-all duration-700 absolute dark:border-gray-700 md:px-4 py-6 dark:bg-gray-800 bg-gray-50 border border-b border-gray-200"
  >
    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      <a
        class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
        href="#"
      >
        link
      </a>
      Illo beatae dicta voluptate aperiam facilis ducimus culpa ad repudiandae
      error, autem molestiae quisquam aliquam rem sunt dolorum qui rerum maxime
      corporis.
    </p>
  </div>
</div>
