<div id="banner"
     tabindex="-1"
     role="list"
     class="relative flex justify-center gap-8 px-4 w-full h-[4rem] z-100 overflow-hidden">
    <!-- background-->
    <div class="absolute left-0 h-[3.5rem] w-full bg-secondary dark:brightness-95"></div>
    <!--end background-->
    <div role="listitem"
         aria-hidden="false"
         data-id="0"
         class="h-[3.5rem] overflow-hidden flex justify-center items-center w-full left-0 transition-all duration-700 absolute px-1 md:px-4 py-1 bg-secondary dark:brightness-95">
        <p class="dark:brightness-125 mb-0 text-center text-xs xs:text-sm text-white">
            Get the most of BunkerWeb by upgrading to the PRO version. More info and free trial
            <a class="dark:brightness-125 font-medium underline text-gray-100 dark:text-gray-50 hover:no-underline"
               href="https://panel.bunkerweb.io/?utm_campaign=self&utm_source=banner#pro">here</a>.
        </p>
    </div>
    <div role="listitem"
         aria-hidden="true"
         data-id="1"
         class="h-[3.5rem] overflow-hidden left-full flex justify-center items-center w-full transition-all duration-700 absolute px-1 md:px-4 py-1 bg-secondary dark:brightness-95">
        <p class="dark:brightness-125 mb-0 text-center text-xs xs:text-sm text-white">
            Need premium support or tailored consulting around BunkerWeb ? Check out our
            <a class="dark:brightness-125 font-medium underline text-gray-100 dark:text-gray-50 hover:no-underline"
               href="https://panel.bunkerweb.io/?utm_campaign=self&utm_source=banner#services">professional services</a>.
        </p>
    </div>
    <div role="listitem"
         aria-hidden="true"
         data-id="2"
         class="h-[3.5rem] overflow-hidden left-full flex justify-center items-center w-full transition-all duration-700 absolute px-1 md:px-4 py-1 bg-secondary dark:brightness-95">
        <p class="dark:brightness-125 mb-0 text-center text-xs xs:text-sm text-white">
            Be part of the Bunker community by joining the
            <a class="dark:brightness-125 font-medium underline text-gray-100 dark:text-gray-50 hover:no-underline"
               href="https://discord.bunkerweb.io">Discord chat</a>
            and following us on
            <a class="dark:brightness-125 font-medium underline text-gray-100 dark:text-gray-50 hover:no-underline"
               href="https://www.linkedin.com/company/bunkerity/">LinkedIn</a>.
        </p>
    </div>
</div>
