{% set template_data = {"javascript": ""} %}
<!DOCTYPE html>
<html class="{% if dark_mode == True %}dark {% endif %}" lang="en">
  {% include "head.html" %}

  <body
    class="overflow-x-hidden h-full font-sans z-100 m-0 text-base antialiased font-normal dark:bg-slate-900 leading-default bg-primary text-slate-500"
  >
    <noscript class="relative w-full p-4 text-white bg-yellow-500 rounded-lg"
      >Your browser does not support JavaScript!</noscript
    >
    <div
      data-loader
      class="fixed z-[10000] transition duration-300 h-screen w-screen bg-primary flex justify-center align-middle items-center"
    >
      <img
        data-loader-img
        src="images/logo-menu-2.png"
        class="-translate-x-1.5 duration-300 w-50 h-14 md:w-60 md:h-16 lg:w-80 lg:h-24 inline transition-all"
        alt="main logo"
      />
    </div>

    {% include "menu.html" %} {% include "news.html" %} {% include "flashs.html"
    %} {% include "banner.html" %}
    <div
      class="w-full relative h-full max-h-screen transition-all duration-200 ease-in-out xl:ml-68 rounded-xl"
    >
      {% include "header.html" %}
    </div>

    <!-- info -->
    <main
      class="absolute xl:pl-75 w-full px-2 sm:px-6 pb-0 pt-20 sm:pt-6 min-h-[91vh] flex flex-col justify-between"
    >
      <div
        style="max-width: 1920px"
        class="grid gap-y-4 gap-3 sm:gap-4 lg:gap-6 grid-cols-12 w-full"
      >
        {% block content %} {% endblock %}
      </div>
      {% include "footer.html" %}
    </main>
    <!-- end info -->
  </body>
</html>
