{% extends "base.html" %} {% block content %}
<div class="container mt-5 mb-3">
  <div class="p-3 pt-4">
    <div class="widget">
      <div id="folders">{{ gen_folders_tree_html(folders)|safe }}</div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="modal-see-file"
  tabindex="-1"
  aria-labelledby="modal-see-file-label"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-xl modal-fullscreen-lg-down modal-dialog-centered"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-see-file-label"></h5>
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="fa-solid fa-close fa-lg"></i>
        </button>
      </div>
      <div class="modal-body">
        <textarea
          id="editor"
          class="form-control"
          value=""
          rows="10"
          readonly
        ></textarea>
      </div>
    </div>
  </div>
</div>
{% endblock %}
