{% if not is_info_hidden %}
<div class="h-fit col-span-12 md:col-span-4 3xl:col-span-3 p-4 relative min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
    <h5 class="mb-2 font-bold dark:text-white/90">INFO</h5>
    <div role="grid" class="card-detail-container">
        {% for info in infos %}
            <div role="row" class="card-detail-item">
                <p role="gridcell" class="card-detail-item-title">{{ info['name'] }}</p>
                <p data-info-{{ info['id'] }} role="gridcell" class="card-detail-item-subtitle">
                    {{ info['data'] }}
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
