{% extends "base.html" %}
{% block content %}
    {% set attribute_name = "configs" %}
    {% set infos = [
        {
            "id": "total-conf",
            "name": "CONFIGS TOTAL",
            "data": "unknown"
        },
        {
            "id": "global-conf",
            "name": "CONFIGS GLOBAL",
            "data": "unknown"
        }
    ] %}
    {% include "card_info.html" %}
    <!-- end info -->
    <!-- filter -->
    {% set filters = [
        {
            "type": "select",
            "name": "Path with conf only",
            "id": "withconf",
            "value": "false",
            "values": [
                "false",
                "true"
            ]
        },
        {
            "type": "select",
            "name": "Show global conf only",
            "id": "globalconf",
            "value": "false",
            "values": [
                "false",
                "true"
            ]
        }
    ] %}
{% include "card_filter.html" %}
<!-- end filter -->
{% include "file_manager.html" %}
{% endblock content %}
