<footer class="relative w-full mt-16 lg:mt-4">
  <div class="w-full px-6 mx-auto">
    <div
      class="flex flex-col items-center lg:flex-row justify-center lg:justify-between"
    >
      <div class="order-2 lg:order-1 px-0 mt-3 lg:mt-0 mb-0.5">
        <div
          class="transition duration-300 text-xs tracking-wide leading-normal text-center text-white opacity-100 dark:text-white lg:text-left"
        >
          Copyright ©
          <script nonce="{{ script_nonce }}">
            document.write(new Date().getFullYear());
          </script>
          Bunkerity
        </div>
      </div>
      <ul
        class="order-1 lg:order-2 flex flex-wrap flex-col sm:flex-row items-center justify-center pl-0 mb-0 list-none lg:justify-end"
      >
        <li class="nav-item">
          <a
            href="https://www.bunkerweb.io/?utm_campaign=self&utm_source=ui"
            class="hover:italic hover:brightness-90 block sm:px-4 pt-1 pb-0 lg:pb-1 text-xs tracking-wide font-normal transition duration-300 ease-in-out text-white dark:text-white"
            target="_blank"
            >BunkerWeb</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://docs.bunkerweb.io/?utm_campaign=self&utm_source=ui"
            class="hover:italic hover:brightness-90 block sm:px-4 pt-1 pb-0 lg:pb-1 text-xs tracking-wide font-normal transition duration-300 ease-in-out text-white dark:text-white"
            target="_blank"
            >Docs</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://www.bunkerweb.io/privacy-policy"
            class="hover:italic hover:brightness-90 block sm:px-4 pt-1 pb-0 lg:pb-1 text-xs tracking-wide font-normal transition duration-300 ease-in-out text-white dark:text-white"
            target="_blank"
            >Privacy</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://www.bunkerity.com/fr/blog/?utm_campaign=self&utm_source=ui"
            class="hover:italic hover:brightness-90 block sm:px-4 pt-1 pb-0 lg:pb-1 text-xs tracking-wide font-normal transition duration-300 ease-in-out text-white dark:text-white"
            target="_blank"
            >Blog</a
          >
        </li>
        <li class="nav-item">
          <a
            href="https://github.com/bunkerity/bunkerweb/blob/master/LICENSE"
            class="hover:italic hover:brightness-90 block sm:px-4 pt-1 pb-0 lg:pb-1 pr-0 text-xs tracking-wide font-normal transition duration-300 ease-in-out text-white dark:text-white"
            target="_blank"
            >License</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
