{% extends "base.html" %}
{% block content %}
    <div data-service-content="settings"
         class="col-span-12 gap-y-4 grid grid-cols-12">
        <div class="p-4 col-span-12 relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div data-{{ current_endpoint }}-tabs-header class="flex flex-col xs:flex-row xs:justify-start xs:items-center gap-x-4 gap-y-2 my-3">
                <h5 class="transition duration-300 ease-in-out 0 ml-2 font-bold text-md uppercase dark:text-white/90 mb-0">CONFIGS</h5>
                <!-- search inpt-->
                <div class="flex relative col-span-12 sm:col-span-6 lg:col-span-4 3xl:col-span-3">
                    <label class="sr-only" for="settings-filter">filter settings</label>
                    <input type="text"
                           id="settings-filter"
                           name="settings-filter"
                           class="col-span-12 dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300 disabled:opacity-75 focus:valid:border-green-500 focus:invalid:border-red-500 outline-none focus:border-primary text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1 font-normal text-gray-700 transition-all placeholder:text-gray-500"
                           placeholder="key words"
                           pattern="(.*?)"
                           required />
                </div>
                <!-- end search inpt-->
            </div>
            <!-- tabs -->
            {% include "settings_tabs.html" %}
            <!-- end tabs-->
        </div>
        <!-- form global conf -->
        <form data-global-config-form
              id="form-edit-global-configs"
              method="POST"
              class="flex flex-col justify-between overflow-hidden overflow-y-auto max-h-135 md:max-h-160 dark:brightness-110 col-span-12 break-words bg-white shadow-xl p-4 dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <!-- plugin item -->
            {% include "settings_plugins.html" %}
            <!-- end plugin item -->
            <!-- submit -->
            <div class="flex w-full justify-center mt-8 mb-2">
                <button type="submit" class="valid-btn">SAVE</button>
            </div>
            <!-- end submit -->
        </form>
        <!--end form global conf -->
        <div data-global-config-nomatch
             class="hidden w-full overflow-hidden grid grid-cols-12 max-h-100 sm:max-h-125  col-span-12 p-4 relative break-words">
            <div class="col-span-12 flex flex-col justify-center items-center h-fit">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="mb-2 w-8 h-8 stroke-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6" />
                </svg>
                <h5 class="font-bold dark:text-white/90 mx-2 text-white">No settings match</h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
