<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/flag-icons.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BunkerWeb | Global config</title>
    <script type="module" crossorigin  nonce="{{ script_nonce }}" src="assets/global_config-ZipVWR5H.js"></script>
    <link rel="modulepreload" crossorigin  nonce="{{ script_nonce }}" href="assets/Text-DFDYeVTT.js">
    <link rel="modulepreload" crossorigin  nonce="{{ script_nonce }}" href="assets/ButtonGroup-DCcRsx0h.js">
    <link rel="modulepreload" crossorigin  nonce="{{ script_nonce }}" href="assets/Templates-DXoMzjF2.js">
    <link rel="stylesheet" crossorigin href="assets/ButtonGroup-D2kv0NCW.css">
  </head>
  
    <body>
    {% set data_server_flash = [] %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        {% if data_server_flash.append({"type": "error" if category == "error" else "success", "title": "dashboard_error" if category == "error" else "dashboard_success", "message": message}) %}{% endif %}
        {% endfor %}
    {% endwith %}
    <div class='hidden' data-csrf-token='{{ csrf_token() }}'></div>
    <div class='hidden' data-server-global='{{data_server_global if data_server_global else {}}}'></div>
    <div class='hidden' data-server-flash='{{data_server_flash|tojson}}'></div>
    <div class='hidden' data-server-builder='{{data_server_builder}}'></div>
    <div id='app'></div>
    </body>
    </html>