{% extends "base.html" %} {% block content %} {% set global_config =
config["CONFIG"].get_config() %}

<div service-content="settings" class="col-span-12 gap-y-4 grid grid-cols-12">
  <div class="p-4 col-span-12 relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
  >
    <div {{current_endpoint}}-tabs-header class="flex justify-start items-center gap-x-4 gap-y-2 my-3">
      <h5 class="transition duration-300 ease-in-out dark:opacity-90 ml-2 font-bold text-md uppercase dark:text-white mb-0">CONFIGS</h5>
      <!-- search inpt-->
      <div class="flex relative col-span-12 sm:col-span-6 lg:col-span-4 3xl:col-span-3">
  
        <input
          type="text"
          id="settings-filter"
          name="settings-filter"
          class="col-span-12 dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300 disabled:opacity-75 focus:valid:border-green-500 focus:invalid:border-red-500 outline-none focus:border-primary text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1 font-normal text-gray-700 transition-all placeholder:text-gray-500"
          placeholder="key words"
          pattern="(.*?)"
          required
        />
      </div>
      <!-- end search inpt-->
    </div>
      <!-- tabs -->
      {% include "settings_tabs.html" %}
      <!-- end tabs-->
  </div>
  
    <!-- form global conf -->
    <form
      global-config-form
      id="form-edit-global-configs"
      method="POST"
      class="flex flex-col justify-between overflow-hidden overflow-y-auto max-h-135 md:max-h-160 dark:brightness-110 col-span-12 break-words bg-white shadow-xl p-4 dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  
        <!-- general container -->
        {% include "settings_general.html" %}
        <!-- end general container -->
    
        <!-- plugin item -->
        {% include "settings_plugins.html" %}
        <!-- end plugin item -->
  
      <!-- submit -->
      <div class="flex w-full justify-center mt-8 mb-2">
        <button
          type="submit"
          class="tracking-wide dark:brightness-90 inline-block px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-green-500 hover:bg-green-500/80 focus:bg-green-500/80 leading-normal text-md ease-in shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md"
        >
          SAVE
        </button>
      </div>
      <!-- end submit -->
    </form>
    <!--end form global conf -->
  
  </div>
</div>

{% endblock %}
