{% set current_endpoint = url_for(request.endpoint)[1:].split("/")[-1].strip()
%}

<head>
  <base href="{{ config["ABSOLUTE_URI"] }}">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="bunkerweb user interface" />
  <meta name="author" content="bunkerity" />
  <title>BunkerWeb UI</title>
  <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
  <!--     Fonts and icons     -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
    rel="stylesheet"
  />
  <!-- tailwind style -->
  <link rel="stylesheet" type="text/css" href="./css/dashboard.css" />

  <script type="text/javascript" defer src="./js/dashboard.js"></script>

  <script
    type="text/javascript"
    charset="utf-8"
    defer
    src="./js/editor/ace.js"
  ></script>

  {% if current_endpoint == "global_config" %}
  <script defer type="module" src="./js/global_config.js"></script>
  {% elif current_endpoint == "configs" %}
  <script defer type="module" src="./js/configs.js"></script>
  {% elif current_endpoint == "services" %}
  <script defer type="module" src="./js/services.js"></script>
  {% elif current_endpoint == "plugins" %}
  <script type="module" defer src="./js/dropzone-min.js"></script>
  <script type="module" defer src="./js/dropzone-min.js.map"></script>
  <script type="module" defer src="./js/plugins.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/dropzone/dropzone.css" />
  {% elif current_endpoint == "cache" %}
  <script defer type="module" src="./js/cache.js"></script>
  {% elif current_endpoint == "logs" %}
  <script type="module" src="./js/logs.js"></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="./css/air-datepicker/air-datepicker.css"
  />
  {% endif %}
</head>
