{% extends "base.html" %} {% block content %} {% set current_endpoint =
url_for(request.endpoint)[1:].split("/")[-1].strip() %}
<!-- info-->
<div
  class="col-span-12 md:col-span-4 3xl:col-span-3 p-4 relative min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
>
  <h5 class="mb-2 font-bold dark:text-white">INFO</h5>
  <div class="flex items-center my-4">
    <p
      class="transition duration-300 ease-in-out font-bold mb-0 font-sans text-sm leading-normal uppercase dark:text-gray-500 dark:opacity-80"
    >
      JOBS TOTAL
    </p>
    <p
      class="transition duration-300 ease-in-out pl-2 col-span-1 mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-80"
    >
      {{jobs_total}}
    </p>
  </div>
  <div class="flex items-center my-4">
    <p
      class="transition duration-300 ease-in-out font-bold mb-0 font-sans text-sm leading-normal uppercase dark:text-gray-500 dark:opacity-80"
    >
      JOBS ERROS
    </p>
    <p
      class="transition duration-300 ease-in-out pl-2 col-span-1 mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-80"
    >
      {{jobs_errors}}
    </p>
  </div>
  <div class="flex items-center my-4">
    <p
      class="transition duration-300 ease-in-out font-bold mb-0 font-sans text-sm leading-normal uppercase dark:text-gray-500 dark:opacity-80"
    >
      AUTO UPDATE
    </p>
    <p
      class="transition duration-300 ease-in-out pl-2 col-span-1 mb-0 font-sans text-sm font-semibold leading-normal uppercase dark:text-white dark:opacity-80"
    >
      2 mins
    </p>
  </div>
</div>
<!-- end info -->

<!-- filter -->
<div
  {{current_endpoint}}-filter
  class="col-span-12 md:col-span-8 3xl:col-span-6 p-4 relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
>
  <h5 class="mb-2 font-bold dark:text-white">FILTER</h5>
  <div class="grid grid-cols-12 gap-x-4 gap-y-2">
    <!-- search inpt-->
    <div class="flex flex-col relative col-span-12 md:col-span-6">
      <h5
        class="my-1 transition duration-300 ease-in-out dark:opacity-90 text-sm sm:text-md font-bold m-0 dark:text-gray-300"
      >
        Search
      </h5>
      <input
        type="text"
        id="keyword"
        name="keyword"
        class="dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300 disabled:opacity-75 focus:valid:border-green-500 focus:invalid:border-red-500 outline-none focus:border-primary text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1 font-normal text-gray-700 transition-all placeholder:text-gray-500"
        placeholder="keyword"
        pattern="(.*?)"
        required
      />
    </div>
    <!-- end search inpt-->

    <!-- select success -->
    <div class="flex flex-col relative col-span-12 md:col-span-6">
      <h5
        class="my-1 transition duration-300 ease-in-out dark:opacity-90 text-sm sm:text-md font-bold m-0 dark:text-gray-300"
      >
        Success state
      </h5>
      <button
        {{current_endpoint}}-setting-select="success"
        type="button"
        class="disabled:opacity-75 dark:disabled:text-gray-300 disabled:text-gray-700 disabled:bg-gray-400 disabled:border-gray-400 dark:disabled:bg-gray-800 dark:disabled:border-gray-800 duration-300 ease-in-out dark:opacity-90 dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300 focus:border-green-500 flex justify-between align-middle items-center text-left text-sm leading-5.6 ease w-full rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-1.5 py-1 md:px-3 font-normal text-gray-700 transition-all placeholder:text-gray-500"
      >
        <span
          id="{{current_endpoint}}-success"
          name="{{current_endpoint}}-success"
          {{current_endpoint}}-setting-select-text="success"
          >all</span
        >
        <!-- chevron -->
        <svg
          {{current_endpoint}}-setting-select="success"
          class="transition-transform h-4 w-4 fill-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
          />
        </svg>
      </button>
      <!-- end chevron -->
      <!-- dropdown-->
      <div
        {{current_endpoint}}-setting-select-dropdown="success"
        class="hidden z-100 absolute h-full flex-col w-full translate-y-16"
      >
        <button
          {{current_endpoint}}-setting-select-dropdown-btn="success"
          type="button"
          value="all"
          class="border-t rounded-t border-b border-l border-r border-gray-300 dark:hover:brightness-90 hover:brightness-90 my-0 relative py-2 px-3 text-left align-middle transition-all rounded-none cursor-pointer leading-normal text-sm ease-in tracking-tight-rem dark:border-slate-600 dark:text-gray-300 dark:bg-primary bg-primary text-gray-300"
        >
          all
        </button>
        <button
          {{current_endpoint}}-setting-select-dropdown-btn="success"
          type="button"
          value="false"
          class="border-b border-l border-r border-gray-300 dark:hover:brightness-90 hover:brightness-90 bg-white text-gray-700 my-0 relative py-2 px-3 text-left align-middle transition-all rounded-none cursor-pointer leading-normal text-sm ease-in tracking-tight-rem dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300"
        >
          false
        </button>
        <button
          {{current_endpoint}}-setting-select-dropdown-btn="success"
          type="button"
          value="true"
          class="border-b border-l border-r border-gray-300 dark:hover:brightness-90 hover:brightness-90 bg-white text-gray-700 my-0 relative py-2 px-3 text-left align-middle transition-all rounded-none cursor-pointer leading-normal text-sm ease-in tracking-tight-rem dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300"
        >
          true
        </button>
      </div>
      <!-- end dropdown-->
    </div>
    <!-- end select success  -->
    <!-- select reload -->
    <div class="flex flex-col relative col-span-12 md:col-span-6">
      <h5
        class="my-1 transition duration-300 ease-in-out dark:opacity-90 text-sm sm:text-md font-bold m-0 dark:text-gray-300"
      >
        Reload state
      </h5>
      <button
        {{current_endpoint}}-setting-select="reload"
        type="button"
        class="disabled:opacity-75 dark:disabled:text-gray-300 disabled:text-gray-700 disabled:bg-gray-400 disabled:border-gray-400 dark:disabled:bg-gray-800 dark:disabled:border-gray-800 duration-300 ease-in-out dark:opacity-90 dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300 focus:border-green-500 flex justify-between align-middle items-center text-left text-sm leading-5.6 ease w-full rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-1.5 py-1 md:px-3 font-normal text-gray-700 transition-all placeholder:text-gray-500"
      >
        <span
          id="{{current_endpoint}}-reload"
          name="{{current_endpoint}}-reload"
          {{current_endpoint}}-setting-select-text="reload"
          >all</span
        >
        <!-- chevron -->
        <svg
          {{current_endpoint}}-setting-select="reload"
          class="transition-transform h-4 w-4 fill-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
          />
        </svg>
      </button>
      <!-- end chevron -->
      <!-- dropdown-->
      <div
        {{current_endpoint}}-setting-select-dropdown="reload"
        class="hidden z-100 absolute h-full flex-col w-full translate-y-16"
      >
        <button
          {{current_endpoint}}-setting-select-dropdown-btn="reload"
          type="button"
          value="all"
          class="border-t rounded-t border-b border-l border-r border-gray-300 dark:hover:brightness-90 hover:brightness-90 my-0 relative py-2 px-3 text-left align-middle transition-all rounded-none cursor-pointer leading-normal text-sm ease-in tracking-tight-rem dark:border-slate-600 dark:text-gray-300 dark:bg-primary bg-primary text-gray-300"
        >
          all
        </button>
        <button
          {{current_endpoint}}-setting-select-dropdown-btn="reload"
          type="button"
          value="false"
          class="border-b border-l border-r border-gray-300 dark:hover:brightness-90 hover:brightness-90 bg-white text-gray-700 my-0 relative py-2 px-3 text-left align-middle transition-all rounded-none cursor-pointer leading-normal text-sm ease-in tracking-tight-rem dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300"
        >
          false
        </button>
        <button
          {{current_endpoint}}-setting-select-dropdown-btn="reload"
          type="button"
          value="true"
          class="border-b border-l border-r border-gray-300 dark:hover:brightness-90 hover:brightness-90 bg-white text-gray-700 my-0 relative py-2 px-3 text-left align-middle transition-all rounded-none cursor-pointer leading-normal text-sm ease-in tracking-tight-rem dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300"
        >
          true
        </button>
      </div>
      <!-- end dropdown-->
    </div>
    <!-- end select reload  -->
  </div>
</div>
<!-- end filter -->

<div
  class="w-full overflow-hidden overflow-y-auto overflow-x-auto max-h-100 sm:max-h-125 min-h-50-screen col-span-12 p-4 relative break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
>
  <h5 class="mb-2 font-bold dark:text-white">{{current_endpoint}}</h5>
  <!-- list container-->
  <div class="min-w-[900px] w-full grid grid-cols-12 rounded p-2">
    <!-- header-->
    <p
      class="dark:text-gray-300 h-8 text-sm font-bold col-span-3 m-0 pb-2 border-b border-gray-400"
    >
      Name
    </p>
    <p
      class="dark:text-gray-300 h-8 text-sm font-bold col-span-3 m-0 pb-2 border-b border-gray-400"
    >
      Last run
    </p>
    <p
      class="dark:text-gray-300 h-8 text-sm font-bold col-span-1 m-0 pb-2 border-b border-gray-400"
    >
      Every
    </p>
    <p
      class="dark:text-gray-300 h-8 text-sm font-bold col-span-1 m-0 pb-2 border-b border-gray-400"
    >
      Reload
    </p>
    <p
      class="dark:text-gray-300 h-8 text-sm font-bold col-span-1 m-0 pb-2 border-b border-gray-400"
    >
      Success
    </p>
    <p
      class="dark:text-gray-300 h-8 text-sm font-bold col-span-3 m-0 pb-2 border-b border-gray-400"
    >
      Files
    </p>
    <!-- end header-->
    <!-- list -->
    <ul class="col-span-12 w-full" {{current_endpoint}}-list>
      {% for job_name, value in jobs.items() %}
      <!-- job item-->
      <li class="grid grid-cols-12 border-b border-gray-300 py-2.5">
        <p
          class="dark:text-gray-400 dark:opacity-80 text-sm col-span-3 m-0"
          {{current_endpoint}}-name
        >
          {{job_name}}
        </p>
        <p
          class="dark:text-gray-400 dark:opacity-80 text-sm col-span-3 m-0"
          {{current_endpoint}}-last_run
        >
          {{value['last_run']}}
        </p>
        <p
          class="dark:text-gray-400 dark:opacity-80 text-sm col-span-1 m-0"
          {{current_endpoint}}-every
        >
          {{value["every"]}}
        </p>
        {% if value["reload"] %}
        <p
          class="ml-6 dark:text-gray-400 dark:opacity-80 text-sm col-span-1 m-0"
          {{current_endpoint}}-reload="true"
        >
          <svg
            class="fill-green-500 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
            />
          </svg>
        </p>

        {%endif %} {% if not value["reload"] %}
        <p
          class="ml-6 dark:text-gray-400 dark:opacity-80 text-sm col-span-1 m-0"
          {{current_endpoint}}-reload="false"
        >
          <svg
            class="fill-red-500 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"
            />
          </svg>
        </p>
        {% endif %} {% if value["success"] %}
        <p
          class="ml-6 dark:text-gray-400 dark:opacity-80 text-sm col-span-1 m-0"
          {{current_endpoint}}-success="true"
        >
          <svg
            class="fill-green-500 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
            />
          </svg>
        </p>
        {% elif not value["success"] %}
        <p
          class="ml-6 dark:text-gray-400 dark:opacity-80 text-sm col-span-1 m-0"
          {{current_endpoint}}-success="false"
        >
          <svg
            class="fill-red-500 h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"
            />
          </svg>
        </p>
        {% endif %}
        <div
          class="relative dark:text-gray-400 text-sm col-span-3 m-0"
          {{current_endpoint}}-files
        >
          {% if value['cache']%}
          <button
            {{current_endpoint}}-setting-select="{{job_name}}"
            type="button"
            class="text-sm disabled:opacity-75 dark:disabled:text-gray-300 disabled:text-gray-700 disabled:bg-gray-400 disabled:border-gray-400 dark:disabled:bg-gray-800 dark:disabled:border-gray-800 duration-300 ease-in-out dark:opacity-90 dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300 focus:border-green-500 flex justify-between align-middle items-center text-left leading-6 ease w-full rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-1.5 md:px-3 font-normal text-gray-700 transition-all placeholder:text-gray-500"
          >
            <span
              id="{{current_endpoint}}-{{job_name}}"
              name="{{current_endpoint}}-{{job_name}}"
              {{current_endpoint}}-setting-select-text="{{job_name}}"
              >list</span
            >
            <!-- chevron -->
            <svg
              {{current_endpoint}}-setting-select="{{job_name}}"
              class="transition-transform h-4 w-4 fill-gray-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
              />
            </svg>
          </button>
          <!-- end chevron -->
          <!-- dropdown-->
          <div
            {{current_endpoint}}-setting-select-dropdown="{{job_name}}"
            class="hidden z-100 absolute h-full flex-col w-full"
          >
            {% for file in value['cache'] %}
            <button
              {{current_endpoint}}-download="{{job_name}}"
              {{current_endpoint}}-file="{{file['file_name']}}"
              {{current_endpoint}}-setting-select-dropdown-btn="{{job_name}}"
              type="button"
              value="list"
              class="{% if loop.index == loop.length %}rounded-b-lg {% endif %}{% if loop.first %}rounded-t-lg{% endif %} border-b border-l border-r border-gray-300 dark:hover:brightness-90 hover:brightness-90 my-0 relative py-2 px-3 text-left align-middle transition-all rounded-none cursor-pointer leading-normal text-sm ease-in tracking-tight-rem dark:border-slate-600 dark:text-gray-300 bg-white dark:bg-slate-700 text-gray-700"
            >
              <div class="flex justify-start items-center">
                <svg
                  class="h-6 w-6 fill-sky-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    d="M256 0C114.6 0 0 114.6 0 256S114.6 512 256 512s256-114.6 256-256S397.4 0 256 0zM244.7 395.3l-112-112c-4.6-4.6-5.9-11.5-3.5-17.4s8.3-9.9 14.8-9.9l64 0 0-96c0-17.7 14.3-32 32-32l32 0c17.7 0 32 14.3 32 32l0 96 64 0c6.5 0 12.3 3.9 14.8 9.9s1.1 12.9-3.5 17.4l-112 112c-6.2 6.2-16.4 6.2-22.6 0z"
                  />
                </svg>
                <span
                  class="transition duration-300 ease-in-out text-gray-700 dark:text-gray-300 dark:opacity-80 ml-2"
                  >{{file['file_name']}}</span
                >
              </div>
            </button>
            {%endfor %}
          </div>
          <!-- end dropdown-->
          {%endif%}
        </div>
      </li>
      <!-- end job item-->
      {% endfor %}
    </ul>
    <!-- end list-->
  </div>
  <!-- end list container-->
</div>
{% endblock %}
