<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ message }}...</title>
    <link
      rel="icon"
      href="data:image/svg+xml, %%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='96.000000pt' height='96.000000pt' viewBox='0 0 96.000000 96.000000' preserveAspectRatio='xMidYMid meet'%%3E%%3Cg transform='translate(0.000000,96.000000) scale(0.100000,-0.100000)'%%0Afill='%%23085577' stroke='none'%%3E%%3Cpath d='M535 863 c-22 -2 -139 -17 -260 -34 -228 -31 -267 -43 -272 -85 -2%%0A-10 23 -181 55 -379 l57 -360 400 0 400 0 20 40 c16 31 20 59 19 125 -1 100%%0A-24 165 -73 199 -41 29 -46 57 -22 111 30 67 29 188 -3 256 -13 28 -37 60 -53%%0A72 -55 39 -169 62 -268 55z m-15 -348 c30 -16 60 -61 60 -90 0 -10 -8 -33 -17%%0A-52 -16 -34 -16 -41 0 -116 9 -44 15 -82 12 -85 -6 -7 -92 -21 -131 -21 l-31%%0A-1 -6 85 c-4 75 -8 89 -31 112 -20 20 -26 36 -26 70 0 38 5 50 34 79 39 39 86%%0A45 136 19z'/%%3E%%3C/g%%3E%%3C/svg%%3E"
      type="image/svg+xml"
    />
    <link rel="stylesheet" type="text/css" href="./css/dashboard.css" />
  </head>
  <body>
    <div
      class="fixed h-screen w-screen bg-primary flex flex-col justify-center align-middle items-center"
    >
      <div>
        <img
          src="images/logo-menu-2.png"
          class="duration-300 w-40 h-12 sm:w-50 sm:h-14 md:w-60 md:h-16 lg:w-80 lg:h-24 inline transition-all"
          alt="main logo"
        />
        {%if message %}
        <div class="w-full flex justify-center">
          <p
            class="lowercase text-center absolute mt-6 font-normal text-white text-xl"
          >
            {{ message }}
          </p>
        </div>
        {%endif%}
      </div>
    </div>
  </body>
  <script>
    //animation
    const logoEl = document.querySelector("img");
    setInterval(() => {
      logoEl.classList.toggle("scale-105");
    }, 300);
    const reloading = setInterval(check_reloading, 1000);

    async function check_reloading() {
      const controller = new AbortController();
      const timeoutId = setTimeout(() => controller.abort(), 500);
      const response = await fetch(
        `${location.href.replace("/loading", "/check_reloading")}`,
        { signal: controller.signal }
      );

      if (response.status === 200) {
        res = await response.json();
        if (res.reloading === false) {
          clearInterval(reloading);
          window.location.replace("{{ next }}");
        }
      }
    }
  </script>
</html>
