{% set current_endpoint = current_endpoint or url_for(request.endpoint)[1:].split("/")[-1].strip()
%}
<div class="navigation-wrap bg-custom start-header start-style">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-xl navbar-light">
          <a
            class="navbar-brand"
            href="https://www.bunkerweb.io/?utm_campaign=self&utm_source=ui"
            target="_blank"
            ><img
              src="images/BUNKERWEB-print-hd-blanc.png"
              alt="logo bunkerweb"
            />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto py-4 py-md-0">
              <li
                class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 {% if current_endpoint == 'home' %}active{% endif %}"
              >
                <a
                  class="nav-link"
                  aria-current="page"
                  href="{% if current_endpoint == 'home' %}javascript:void(0){% else %}loading?next={{ url_for('home') }}{% endif %}"
                  >Home</a
                >
              </li>
              <li
                class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 {% if current_endpoint == 'instances' %}active{% endif %}"
              >
                <a
                  class="nav-link"
                  href="{% if current_endpoint == 'instances' %}javascript:void(0){% else %}loading?next={{ url_for('instances') }}{% endif %}"
                  >Instances</a
                >
              </li>
              <li
                class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 {% if current_endpoint == 'global_config' %}active{% endif %}"
              >
                <a
                  class="nav-link"
                  href="{% if current_endpoint == 'global_config' %}javascript:void(0){% else %}loading?next={{ url_for('global_config') }}{% endif %}"
                  >Global config</a
                >
              </li>
              <li
                class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 {% if current_endpoint == 'services' %}active{% endif %}"
              >
                <a
                  class="nav-link"
                  href="{% if current_endpoint == 'services' %}javascript:void(0){% else %}loading?next={{ url_for('services') }}{% endif %}"
                  >Services</a
                >
              </li>
              <li
                class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 {% if current_endpoint == 'configs' %}active{% endif %}"
              >
                <a
                  class="nav-link"
                  href="{% if current_endpoint == 'configs' %}javascript:void(0){% else %}loading?next={{ url_for('configs') }}{% endif %}"
                  >Configs</a
                >
              </li>
              <li
                class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 {% if current_endpoint == 'plugins' %}active{% endif %}"
              >
                <a
                  class="nav-link"
                  href="{% if current_endpoint == 'plugins' %}javascript:void(0){% else %}loading?next={{ url_for('plugins') }}{% endif %}"
                  >Plugins</a
                >
              </li>
              <li
                class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 {% if current_endpoint == 'cache' %}active{% endif %}"
              >
                <a
                  class="nav-link"
                  href="{% if current_endpoint == 'cache' %}javascript:void(0){% else %}loading?next={{ url_for('cache') }}{% endif %}"
                  >Cache</a
                >
              </li>
              <li
                class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 {% if current_endpoint == 'logs' %}active{% endif %}"
              >
                <a
                  class="nav-link"
                  href="{% if current_endpoint == 'logs' %}javascript:void(0){% else %}loading?next={{ url_for('logs') }}{% endif %}"
                  >Logs</a
                >
              </li>
              <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="logout">Logout</a>
              </li>
              <li class="nav-item-switch pl-4 pl-md-0 ml-0 ml-md-4">
                <div class="form-check form-switch pull-right nav-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="dark-mode-switch"
                  />
                  <i class="bi" id="darkModeIcon" for="dark-mode-switch"></i>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
