<!-- modal -->
<div
  data-plugins-modal
  class="dark:brightness-110 w-screen h-screen fixed bg-gray-600/50 z-[1001] top-0 left-0 hidden justify-center items-center"
>
  <div
    data-plugins-modal-card
    class="min-w-[500px ]overflow-y-auto mx-3 ml-2 mr-6 sm:mx-6 lg:mx-8 my-3 px-4 pt-4 pb-8 w-full max-w-[400px] flex flex-col break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
  >
    <div class="w-full flex justify-between mb-2">
      <p
        data-plugins-modal-title
        class="transition duration-300 ease-in-out dark:opacity-90 dark:text-gray-300 mb-2 font-sans font-semibold leading-normal uppercase text-md"
      >
        DELETE PLUGINS
      </p>
      <button class="-translate-y-1" type="button" data-plugins-modal-close>
        <svg
          class="transition duration-300 ease-in-out dark:opacity-90 h-6 w-6 sm:h-7 sm:w-7 fill-slate-800 dark:fill-gray-300"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
        >
          <path
            d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"
          />
        </svg>
      </button>
    </div>
    <!-- delete form-->
    <form
      data-plugins-modal-form-delete
      class="w-full h-full flex flex-col justify-between"
      id="form-delete-plugin"
      method="POST"
    >
      <input type="hidden" name="external" id="external" />
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" value="name" name="name" id="name" />
      <input type="hidden" value="delete" name="operation" id="operation" />
      <div>
        <p
          data-plugins-modal-text
          class="text-center mx-2 mb-2 mt-8 font-semibold font-sans leading-normal uppercase text-sm"
        ></p>
      </div>
      <!-- action button -->
      <div class="w-full justify-center flex mt-10">
        <button
          data-plugins-modal-close
          type="button"
          class="dark:brightness-90 mr-3 inline-block px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-red-500 hover:bg-red-500/80 focus:bg-red-500/80 leading-normal text-md ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md"
        >
          Close
        </button>
        <button
          type="submit"
          class="dark:brightness-90 inline-block px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-sky-500 hover:bg-sky-500/80 focus:bg-sky-500/80 leading-normal text-md ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md"
        >
          Delete
        </button>
      </div>
      <!-- end action button-->
    </form>
    <!-- end delete form-->
  </div>
</div>
<!-- end modal -->
