{% extends "base.html" %} {% block content %} {% set current_endpoint =
url_for(request.endpoint)[1:].split("/")[-1].strip() %}

<div
  data-service-content
  class="md:max-w-[600px] first-letter:w-full overflow-hidden overflow-y-auto overflow-x-auto col-span-12 p-4 relative break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
>
  <h5 class="my-2 font-bold dark:text-white/90 mx-2">SETTINGS</h5>
  <!-- desktop tabs -->
  <div
    role="tablist"
    data-{{current_endpoint}}-tabs-desktop
    class="hidden md:block col-span-12 mb-4"
  >
    <!-- tabs -->
    <button
      role="tab"
      data-tab-handler="profile"
      class="active settings-tabs-tab-btn"
    >
      <span class="w-full flex justify-between items-center">
        <!-- text and icon -->
        <span class="settings-tabs-name"> User </span>
        <svg
          data-popover-btn="profile"
          class="fill-blue-500 h-5 w-5 mr-2 hover:brightness-95"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-144c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32z"
          />
        </svg>
        <!-- end text and icon -->
        <!-- popover -->
        <span
          data-popover-content="profile"
          class="settings-tabs-popover-container hidden"
        >
          <span class="settings-tabs-popover-text"
            >Update profile data (username, password...)</span
          >
        </span>
        <!-- end popover -->
      </span>
    </button>
    <button role="tab" data-tab-handler="totp" class="settings-tabs-tab-btn">
      <span class="w-full flex justify-between items-center">
        <!-- text and icon -->
        <span class="settings-tabs-name"> TOTP </span>
        <svg
          data-popover-btn="totp"
          class="fill-blue-500 h-5 w-5 mr-2 hover:brightness-95"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-144c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32z"
          />
        </svg>
        <!-- end text and icon -->
        <!-- popover -->
        <span
          data-popover-content="totp"
          class="settings-tabs-popover-container hidden"
        >
          <span class="settings-tabs-popover-text"
            >Enabled / Disabled TOTP
          </span>
        </span>
        <!-- end popover -->
      </span>
    </button>
    <!--end tabs-->
  </div>
  <!-- end desktop tabs -->
  <!-- mobile tabs -->
  <div class="md:hidden relative col-span-12 mb-4 mt-2 mx-2">
    <button
      data-tab-dropdown-btn
      aria-controls="tab-dropdown-mobile"
      class="settings-tabs-mobile-btn"
    >
      <span aria-description="current tab" class="settings-tabs-mobile-btn-text"
        >Profile
      </span>
      <!-- chevron -->
      <svg
        class="transition-transform h-4 w-4 fill-primary dark:fill-gray-300"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
        />
      </svg>
      <!-- end chevron -->
    </button>
    <!-- dropdown-->
    <div
      id="tab-dropdown-mobile"
      role="listbox"
      data-tab-dropdown
      class="hidden z-100 absolute flex-col w-full overflow-hidden overflow-y-auto max-h-90"
    >
      <button
        role="option"
        data-tab-handler-mobile="profile"
        data-select="false"
        id="edit-{{current_endpoint}}-profile-tab"
        class="active first settings-tabs-mobile-dropdown-btn"
      >
        Profile
      </button>
      <button
        role="option"
        data-tab-handler-mobile="totp"
        data-select="false"
        id="edit-{{current_endpoint}}-totp-tab"
        class="settings-tabs-mobile-dropdown-btn rounded-b"
      >
        TOTP
      </button>
    </div>
    <!-- end dropdown-->
  </div>
  <!-- end mobile tabs -->
  <form
    data-plugin-item="profile"
    class="grid grid-cols-12 w-full justify-items-center"
    id="profile-form"
    action="profile"
    method="POST"
    autocomplete="off"
  >
    <div class="col-span-12">
      <h5
        class="text-xl my-1 transition duration-300 ease-in-out text-md font-bold m-0"
      >
        PROFILE
      </h5>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input
      type="hidden"
      name="next"
      value="{{ request.values.get('next', '') }}"
    />
    <!-- username inpt-->
    <div
      class="flex flex-col relative col-span-12 px-4 my-2 md:px-6 md:my-3 lg:px-6 lg:my-3 max-w-[400px] w-full"
    >
      <h5
        class="text-base my-1 transition duration-300 ease-in-out text-md font-bold m-0"
      >
        Username
      </h5>
      <label class="sr-only" for="admin_username">New username</label>
      <input
        type="text"
        id="admin_username"
        name="admin_username"
        class="col-span-12 regular-input"
        placeholder="enter username"
        pattern="(.*?)"
        maxlength="256"
        value="{{ username }}"
      />
    </div>
    <!-- end username inpt-->
    <!-- password inpt-->
    <div
      data-input-group
      class="flex flex-col relative col-span-12 px-4 my-2 md:px-6 md:my-3 lg:px-6 lg:my-3 max-w-[400px] w-full"
    >
      <h5
        class="text-base my-1 transition duration-300 ease-in-out text-md font-bold m-0"
      >
        Current password
      </h5>
      <label class="sr-only" for="curr_password">Current password</label>
      <input
        type="password"
        id="curr_password"
        name="curr_password"
        class="col-span-12 regular-input"
        placeholder="enter current password"
        value=""
        pattern="^(?=.*?\d)(?=.*?[ !\u0022#$%&'\(\)*+,.\/:;<=>?@\[\\\]^_`\u007B\u007C\u007D\u007E\u002D]).{8,}$"
        minlength="8"
        required
      />
      <div
        data-setting-password-container
        class="absolute flex right-8 h-5 w-5 top-[60%] lg:top-11"
      >
        <button
          data-setting-password="visible"
          class="h-5 w-5 flex items-center align-middle dark:fill-blue-500 hover:brightness-75 transition-all"
          type="button"
        >
          <svg
            class="fill-primary pointer-events-none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
          >
            <path
              d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"
            />
          </svg>
        </button>
        <button
          data-setting-password="invisible"
          class="hidden -translate-y-0.2 scale-110 h-5 w-5 items-center align-middle"
          type="button"
        >
          <svg
            class="fill-primary pointer-events-none dark:fill-blue-500 hover:brightness-75 transition-all"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512"
          >
            <path
              d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c5.2-11.8 8-24.8 8-38.5c0-53-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zm223.1 298L373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5z"
            />
          </svg>
        </button>
      </div>
    </div>
    <!-- end password inpt-->
    <!-- password inpt-->
    <div
      data-input-group
      class="flex flex-col relative col-span-12 px-4 my-2 md:px-6 md:my-3 lg:px-6 lg:my-3 max-w-[400px] w-full"
    >
      <h5
        class="text-base my-1 transition duration-300 ease-in-out text-md font-bold m-0"
      >
        New password
      </h5>
      <label class="sr-only" for="admin_password">New password</label>
      <input
        type="password"
        id="admin_password"
        name="admin_password"
        class="col-span-12 regular-input"
        placeholder="enter new password"
        value=""
        pattern="^(?=.*?\d)(?=.*?[ !\u0022#$%&'\(\)*+,.\/:;<=>?@\[\\\]^_`\u007B\u007C\u007D\u007E\u002D]).{8,}$"
        minlength="8"
      />
      <div
        data-setting-password-container
        class="absolute flex right-8 h-5 w-5 top-[60%] lg:top-11"
      >
        <button
          data-setting-password="visible"
          class="h-5 w-5 flex items-center align-middle"
          type="button"
        >
          <svg
            class="fill-primary pointer-events-none dark:fill-blue-500 hover:brightness-75 transition-all"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
          >
            <path
              d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"
            />
          </svg>
        </button>
        <button
          data-setting-password="invisible"
          class="hidden -translate-y-0.2 scale-110 h-5 w-5 items-center align-middle"
          type="button"
        >
          <svg
            class="fill-primary pointer-events-none dark:fill-blue-500 hover:brightness-75 transition-all"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512"
          >
            <path
              d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c5.2-11.8 8-24.8 8-38.5c0-53-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zm223.1 298L373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5z"
            />
          </svg>
        </button>
      </div>
    </div>
    <!-- end password inpt-->
    <!-- password inpt-->
    <div
      data-input-group
      class="flex flex-col relative col-span-12 px-4 my-2 md:px-6 md:my-3 lg:px-6 lg:my-3 max-w-[400px] w-full"
    >
      <h5
        class="text-base my-1 transition duration-300 ease-in-out text-md font-bold m-0"
      >
        Confirm new password
      </h5>
      <label class="sr-only" for="admin_password_check"
        >Confirm new password
      </label>
      <input
        type="password"
        id="admin_password_check"
        name="admin_password_check"
        class="col-span-12 regular-input"
        placeholder="confirm new password"
        value=""
        pattern="^(?=.*?\d)(?=.*?[ !\u0022#$%&'\(\)*+,.\/:;<=>?@\[\\\]^_`\u007B\u007C\u007D\u007E\u002D]).{8,}$"
        minlength="8"
      />
      <div
        data-setting-password-container
        class="absolute flex right-8 h-5 w-5 top-[43%] md:top-[45%]"
      >
        <button
          data-setting-password="visible"
          class="h-5 w-5 flex items-center align-middle"
          type="button"
        >
          <svg
            class="fill-primary pointer-events-none dark:fill-blue-500 hover:brightness-75 transition-all"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
          >
            <path
              d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"
            />
          </svg>
        </button>
        <button
          data-setting-password="invisible"
          class="hidden -translate-y-0.2 scale-110 h-5 w-5 items-center align-middle"
          type="button"
        >
          <svg
            class="fill-primary pointer-events-none dark:fill-blue-500 hover:brightness-75 transition-all"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512"
          >
            <path
              d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c5.2-11.8 8-24.8 8-38.5c0-53-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zm223.1 298L373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5z"
            />
          </svg>
        </button>
      </div>
      <strong class="opacity-0 font-normal text-sm text-red-500" data-pw-alert
        >Value does not match password
      </strong>
    </div>

    <div class="col-span-12 flex justify-center">
      <button
        type="submit"
        id="profile-button"
        name="profile-button"
        value="profile"
        class="edit-btn"
      >
        Edit
      </button>
    </div>
  </form>
  <form
    data-plugin-item="totp"
    class="hidden grid grid-cols-12 w-full justify-items-center"
    id="totp-form"
    action="profile"
    method="POST"
    autocomplete="off"
  >
    <div class="col-span-12">
      <h5
        class="text-xl my-1 transition duration-300 ease-in-out text-md font-bold m-0"
      >
        TOTP
      </h5>
    </div>
    <h5
      class="{% if not is_totp %} text-red-500 {% else %} text-green-500 {% endif %} uppercase col-span-12 text-sm my-2 font-bold dark:text-white/90 mx-2"
    >
      {% if not is_totp %} TOTP is currently off {% else %} TOTP is currently on
      {% endif %}
    </h5>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input
      type="hidden"
      name="next"
      value="{{ request.values.get('next', '') }}"
    />
    {% if not is_totp %}
    <!-- qr secret -->
    <div
      data-input-group
      class="flex flex-col relative col-span-12 px-4 my-2 md:px-6 md:my-3 lg:px-6 lg:my-3 max-w-[400px] w-full"
    >
      <h5
        class="text-base my-1 transition duration-300 ease-in-out text-md font-bold m-0"
      >
        2FA QR CODE
      </h5>
      <div class="flex justify-center">
        <img
          src="data:image/png;base64, {{ totp_qr_image }}"
          alt="Secret Token"
          style="width: 200px; height: 200px"
        />
      </div>
    </div>
    <!-- end qr secret -->
    <!-- secret -->
    <div
      data-input-group
      class="flex flex-col relative col-span-12 px-4 my-2 md:px-6 md:my-3 lg:px-6 lg:my-3 max-w-[400px] w-full"
    >
      <h5
        class="text-base my-1 transition duration-300 ease-in-out text-md font-bold m-0"
      >
        Secret token
      </h5>
      <label class="sr-only" for="secret_token">secret token</label>
      <input
        type="password"
        id="secret_token"
        name="secret_token"
        class="col-span-12 regular-input"
        placeholder="secret token"
        value="{{ secret_token }}"
        readonly
      />
      <div
        data-setting-password-container
        class="absolute flex right-8 h-5 w-5 top-[60%] lg:top-11"
      >
        <button
          data-setting-password="visible"
          class="h-5 w-5 flex items-center align-middle"
          type="button"
        >
          <svg
            class="fill-primary pointer-events-none dark:fill-blue-500 hover:brightness-75 transition-all"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
          >
            <path
              d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"
            />
          </svg>
        </button>
        <button
          data-setting-password="invisible"
          class="hidden -translate-y-0.2 scale-110 h-5 w-5 items-center align-middle"
          type="button"
        >
          <svg
            class="fill-primary pointer-events-none dark:fill-blue-500 hover:brightness-75 transition-all"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512"
          >
            <path
              d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c5.2-11.8 8-24.8 8-38.5c0-53-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zm223.1 298L373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5z"
            />
          </svg>
        </button>
      </div>
    </div>
    <!-- end secret -->
    {% endif %} {% if is_totp or not is_totp %}
    <!-- username inpt-->
    <div
      class="flex flex-col relative col-span-12 px-4 my-2 md:px-6 md:my-3 lg:px-6 lg:my-3 max-w-[400px] w-full"
    >
      <h5
        class="text-base my-1 transition duration-300 ease-in-out text-md font-bold m-0"
      >
        2FA code
      </h5>
      <label class="sr-only" for="totp_token">totp code</label>
      <input
        type="text"
        id="totp_token"
        name="totp_token"
        class="col-span-12 regular-input"
        placeholder="enter code"
        pattern="(.*?)"
        maxlength="256"
        required
      />
    </div>
    <!-- password inpt-->
    {% endif %}
    <div
      data-input-group
      class="flex flex-col relative col-span-12 px-4 my-2 md:px-6 md:my-3 lg:px-6 lg:my-3 max-w-[400px] w-full"
    >
      <h5
        class="text-base my-1 transition duration-300 ease-in-out text-md font-bold m-0"
      >
        Current password
      </h5>
      <label class="sr-only" for="totp_password">Current password</label>
      <input
        type="password"
        id="totp_password"
        name="totp_password"
        class="col-span-12 regular-input"
        placeholder="enter password"
        value=""
        pattern="^(?=.*?\d)(?=.*?[ !\u0022#$%&'\(\)*+,.\/:;<=>?@\[\\\]^_`\u007B\u007C\u007D\u007E\u002D]).{8,}$"
        minlength="8"
        required
      />
      <div
        data-setting-password-container
        class="absolute flex right-8 h-5 w-5 top-[60%] lg:top-11"
      >
        <button
          data-setting-password="visible"
          class="h-5 w-5 flex items-center align-middle dark:fill-blue-500 hover:brightness-75 transition-all"
          type="button"
        >
          <svg
            class="fill-primary pointer-events-none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
          >
            <path
              d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM432 256c0 79.5-64.5 144-144 144s-144-64.5-144-144s64.5-144 144-144s144 64.5 144 144zM288 192c0 35.3-28.7 64-64 64c-11.5 0-22.3-3-31.6-8.4c-.2 2.8-.4 5.5-.4 8.4c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6z"
            />
          </svg>
        </button>
        <button
          data-setting-password="invisible"
          class="hidden -translate-y-0.2 scale-110 h-5 w-5 items-center align-middle"
          type="button"
        >
          <svg
            class="fill-primary pointer-events-none dark:fill-blue-500 hover:brightness-75 transition-all"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512"
          >
            <path
              d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L525.6 386.7c39.6-40.6 66.4-86.1 79.9-118.4c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C465.5 68.8 400.8 32 320 32c-68.2 0-125 26.3-169.3 60.8L38.8 5.1zM223.1 149.5C248.6 126.2 282.7 112 320 112c79.5 0 144 64.5 144 144c0 24.9-6.3 48.3-17.4 68.7L408 294.5c5.2-11.8 8-24.8 8-38.5c0-53-43-96-96-96c-2.8 0-5.6 .1-8.4 .4c5.3 9.3 8.4 20.1 8.4 31.6c0 10.2-2.4 19.8-6.6 28.3l-90.3-70.8zm223.1 298L373 389.9c-16.4 6.5-34.3 10.1-53 10.1c-79.5 0-144-64.5-144-144c0-6.9 .5-13.6 1.4-20.2L83.1 161.5C60.3 191.2 44 220.8 34.5 243.7c-3.3 7.9-3.3 16.7 0 24.6c14.9 35.7 46.2 87.7 93 131.1C174.5 443.2 239.2 480 320 480c47.8 0 89.9-12.9 126.2-32.5z"
            />
          </svg>
        </button>
      </div>
    </div>
    <!-- end password inpt-->

    <div class="col-span-12 flex justify-center mt-6">
      <button
        type="submit"
        id="totp-button"
        name="totp-button"
        value="totp"
        class="{% if not is_totp %}valid-btn{% else %}delete-btn{% endif %}"
      >
        {% if not is_totp %} enable totp {% else %} disable totp {% endif %}
      </button>
    </div>
  </form>
</div>

{% endblock %}
