{% extends "base.html" %}
{% block content %}
    {% set attribute_name = "reports" %}
    {% set methods = ["all"] %}
    {% set codes = ["all"] %}
    {% set reasons = ["all"] %}
    {% set countries = ["all"] %}
    {% set reasons_count = {} %}
    {% set codes_count = {} %}
    {% set countries_count = {} %}
    {% set methods_count = {} %}
    {% for report in reports %}
        {% if reasons_count.update({report["reason"]|string : reasons_count.get(report["reason"], 0) + 1}) %}{% endif %}
        {% if codes_count.update({report["status"]|string : codes_count.get(report["status"], 0) + 1}) %}{% endif %}
        {% if countries_count.update({report["country"]|string : codes_count.get(report["country"], 0) + 1}) %}{% endif %}
        {% if methods_count.update({report["method"]|string : methods_count.get(report["method"], 0) + 1}) %}{% endif %}
        {% if report["method"] not in methods %}
            {% if methods.append(report["method"]) %}{% endif %}
        {% endif %}
        {% if report["status"] not in codes %}
            {% if codes.append(report["status"]) %}{% endif %}
        {% endif %}
        {% if report["reason"] not in reasons %}
            {% if reasons.append(report["reason"]) %}{% endif %}
        {% endif %}
        {% if report["country"] not in countries %}
            {% if countries.append(report["country"]) %}{% endif %}
        {% endif %}
    {% endfor %}
    {% set top_reason = {"count": 0, "name": "unknown"} %}
    {% for key, value in reasons_count.items() %}
        {% if value|int > top_reason["count"]|int %}
            {% if top_reason.update({"count": value, "name" : key|string}) %}{% endif %}
        {% endif %}
    {% endfor %}
    {% set top_code = {"count": 0, "name": "unknown"} %}
    {% for key, value in codes_count.items() %}
        {% if value|int > top_code["count"]|int %}
            {% if top_code.update({ "count" : value|string, "name" : key}) %}{% endif %}
        {% endif %}
    {% endfor %}
    {% set top_country = {"count": 0, "name": "unknown"} %}
    {% for key, value in countries_count.items() %}
        {% if value|int > top_country["count"]|int %}
            {% if top_country.update({ "count" : value|string, "name" : key}) %}{% endif %}
        {% endif %}
    {% endfor %}
    {% set top_method = {"count": 0, "name": "unknown"} %}
    {% for key, value in methods_count.items() %}
        {% if value|int > top_method["count"]|int %}
            {% if top_method.update({ "count" : value|string, "name" : key}) %}{% endif %}
        {% endif %}
    {% endfor %}
    {% set total_report = reports|length %}
    <div class="{% if reports|length == 0 %}w-full overflow-hidden grid grid-cols-12 max-h-100 sm:max-h-125  col-span-12 p-4 relative break-words {% else %}hidden{% endif %} ">
        <div class="col-span-12 flex flex-col justify-center items-center h-fit">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="mb-2 w-8 h-8 stroke-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607ZM10.5 7.5v6m3-3h-6" />
            </svg>
            <h5 class="font-bold dark:text-white/90 mx-2 text-white">No reports found</h5>
        </div>
    </div>
    <!-- info-->
    {% if reports|length != 0 %}
        {% set infos = [
                    {"name" : "REPORTING TOTAL", "data" : total_report|string or "0"},
                    {"name" : "TOP METHOD", "data" : top_method['name']|string},
                    {"name" : "TOP REASON", "data" : top_reason['name']|string},
                    {"name" : "TOP COUNTRY", "data" : top_country['name']|string},
                    {"name" : "TOP STATUS CODE", "data" : top_code['name']|string},
                ] %}
        {% include "card_info.html" %}

        <!-- filter -->
        {% set filters = [
                    {
                        "type": "input",
                        "name": "Search",
                        "label": "search",
                        "id": "keyword",
                        "placeholder": "ip, url, date, data",
                        "pattern": "(.*?)"
                    },
                    {
                        "type": "select",
                        "name": "Country",
                        "id": "country",
                        "value": "all",
                        "values": countries
                    },
                    {
                        "type": "select",
                        "name": "Method",
                        "id": "method",
                        "value": "all",
                        "values": methods
                    },
                    {
                        "type": "select",
                        "name": "Status code",
                        "id": "status",
                        "value": "all",
                        "values": codes
                    },
                    {
                        "type": "select",
                        "name": "Reason",
                        "id": "reason",
                        "value": "all",
                        "values": reasons
                    }
                ] %}
        {% include "card_filter.html" %}
        {% include "filter_nomatch.html" %}

        <div data-{{attribute_name}}-list-container  class="overflow-auto w-full col-span-12 p-4 relative break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div class="col-span-12">
                <h5 class="mx-2 font-bold dark:text-white/90 mx-2">REPORTING LIST</h5>
            </div>
            <div
                    class="w-full overflow-auto grid grid-cols-12 col-span-12 p-4 relative">
                   <div class=" max-h-100 sm:max-h-125  col-span-12 overflow-y-auto overflow-x-auto">
                    <!-- list container-->
                    <div class="overflow-hidden min-w-[1300px] w-full grid grid-cols-12 rounded p-2">
                        {% set reports_header = [
                            {
                                "name": "Date",
                                "position": "col-span-1"
                            },
                            {
                                "name": "IP",
                                "position": "col-span-1"
                            },
                            {
                                "name": "Country",
                                "position": "col-span-1"
                            },
                            {
                                "name": "Method",
                                "position": "col-span-1"
                            },
                            {
                                "name": "URL",
                                "position": "col-span-2"
                            },
                            {
                                "name": "Code",
                                "position": "col-span-1"
                            },
                            {
                                "name": "User agent",
                                "position": "col-span-2"
                            },
                            {
                                "name": "Reason",
                                "position": "col-span-1"
                            },
                            {
                                "name": "Data",
                                "position": "col-span-2"
                            }
                        ] %}
                        <!-- header-->
                        {% for header in reports_header %}
                            <p class="dark:text-gray-100 flex justify-center h-8 text-sm font-bold {{ header['position'] }} m-0 pb-2 border-b border-gray-400">
                                {{ header['name'] }}
                            </p>
                        {% endfor %}
                        <!-- end header-->
                        <!-- list -->
                        <ul class="col-span-12 w-full" data-{{attribute_name}}-list>
                            {% for report in reports %}
                                <li data-{{attribute_name}}-item
                                    class="items-center grid grid-cols-12 border-b border-gray-300 py-2.5">
                                    <p class="text-center flex justify-center dark:text-gray-400  text-sm col-span-1 m-0 my-1"
                                        data-{{attribute_name}}-date="{{ report['date'] }}">{{ report['date'] }}</p>
                                    <p class="flex justify-center dark:text-gray-400  text-sm col-span-1 m-0 my-1"
                                        data-{{attribute_name}}-ip="{{ report['ip'] }}">{{ report['ip'] }}</p>
                                    <p class="flex justify-center dark:text-gray-400  text-sm col-span-1 m-0 my-1"
                                        data-{{attribute_name}}-country="{{ report['country'] }}">{{ report['country'] }}</p>
                                    <p class="flex justify-center dark:text-gray-400  text-sm col-span-1 m-0 my-1 "
                                        data-{{attribute_name}}-method="{{ report['method'] }}">{{ report["method"] }}</p>
                                    <p class="flex justify-center dark:text-gray-400  text-sm col-span-2 m-0 my-1"
                                        data-{{attribute_name}}-url="{{ report['url'] }}">{{ report['url'] }}</p>
                                    <p class="flex justify-center dark:text-gray-400  text-sm col-span-1 m-0 my-1 "
                                        data-{{attribute_name}}-status="{{ report['status'] }}">{{ report["status"] }}</p>
                                    <p class="flex justify-center dark:text-gray-400  text-sm col-span-2 m-0 my-1 "
                                        data-{{attribute_name}}-user_agent="{{ report['user_agent'] }}">{{ report["user_agent"] }}</p>
                                    <p class="flex justify-center dark:text-gray-400  text-sm col-span-1 m-0 my-1 "
                                        data-{{attribute_name}}-reason="{{ report['reason'] }}">{{ report["reason"] }}</p>
                                    <p class="flex justify-center dark:text-gray-400  text-sm col-span-2 m-0 my-1"
                                        data-{{attribute_name}}-data="{{ report['data'] }}">{{ report["data"] }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- end list-->
                    </div>
                    <!-- end list container-->
                </div>
            </div>
        </div>

    {% endif %}
{% endblock content %}
