<!-- modal -->
<div
  data-service-content="settings"
  data-services-modal
  class="dark:brightness-110 hidden w-screen h-screen fixed bg-gray-600/50 z-[1001] top-0 left-0 justify-center items-center"
>
  <div
    data-services-modal-card
    class="overflow-y-auto mx-3 ml-2 mr-6 sm:mx-6 lg:mx-8 my-3 px-4 pt-4 pb-8 w-full min-w-[500px] h-[90vh] flex flex-col break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
  >
    <div class="w-full flex justify-between mb-2">
      <p
        data-services-modal-title
        class="transition duration-300 ease-in-out dark:opacity-90 dark:text-gray-200 mb-2 font-sans font-semibold leading-normal uppercase text-md"
      >
        SERVICE MODAL
      </p>
      <button class="-translate-y-1" type="button" data-services-modal-close>
        <svg
          class="transition duration-300 ease-in-out dark:opacity-90 h-6 w-6 sm:h-7 sm:w-7 fill-slate-800 dark:fill-gray-300"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
        >
          <path
            d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"
          />
        </svg>
      </button>
    </div>
    <div
      data-services-tabs-header
      class="flex justify-start items-center gap-x-4 gap-y-2 my-3"
    >
      <h5
        class="transition duration-300 ease-in-out dark:opacity-90 ml-2 font-bold text-md uppercase dark:text-white mb-0"
      >
        CONFIGS
      </h5>
      <!-- search inpt-->
      <div
        class="flex relative col-span-12 sm:col-span-6 lg:col-span-4 3xl:col-span-3"
      >
        <input
          type="text"
          id="settings-filter"
          name="settings-filter"
          class="col-span-12 dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300 disabled:opacity-75 focus:valid:border-green-500 focus:invalid:border-red-500 outline-none focus:border-primary text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-1 font-normal text-gray-700 transition-all placeholder:text-gray-500"
          placeholder="key words"
          pattern="(.*?)"
          required
        />
      </div>
      <!-- end search inpt-->
    </div>
    {% include "settings_tabs.html" %}
    <!-- new and edit form -->
    <form
      data-services-modal-form
      class="w-full h-full flex flex-col justify-between"
      id="form-new"
      method="POST"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" id="operation" value="new" name="operation" />
      <input type="hidden" value="new" name="OLD_SERVER_NAME" />

      {% include "settings_plugins.html" %}

      <!-- action button -->
      <div class="w-full justify-center flex mt-10">
        <button
          data-services-modal-close
          type="button"
          class="dark:brightness-90 mb-4 mr-3 inline-block px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-sky-500 hover:bg-sky-500/80 focus:bg-sky-500/80 leading-normal text-md ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md"
        >
          Close
        </button>
        <button
          data-services-modal-submit
          type="submit"
          class="dark:brightness-90 mb-4 inline-block px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-green-500 hover:bg-green-500/80 focus:bg-green-500/80 leading-normal text-md ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md"
        >
          Save
        </button>
      </div>
      <!-- end action button-->
    </form>
    <!-- end new and edit form -->
    <!-- delete form-->
    <form
      data-services-modal-form-delete
      class="w-full h-full flex flex-col justify-between"
      id="form-delete-server_name"
      method="POST"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" value="delete" name="operation" />
      <input type="hidden" value="" name="SERVER_NAME" />

      <div class="flex justify-center">
        <p
          data-services-modal-text
          class="text-gray-700 dark:text-gray-500 mx-2 mb-2 mt-8 font-semibold font-sans leading-normal uppercase text-sm"
        ></p>
      </div>
      <!-- action button -->
      <div class="w-full justify-center flex mt-10">
        <button
          data-services-modal-close
          type="button"
          class="dark:brightness-90 mr-3 inline-block px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-sky-500 hover:bg-sky-500/80 focus:bg-sky-500/80 leading-normal text-md ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md"
        >
          Close
        </button>
        <button
          type="submit"
          class="dark:brightness-90 inline-block px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-red-500 hover:bg-red-500/80 focus:bg-red-500/80 leading-normal text-md ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md"
        >
          Delete
        </button>
      </div>
      <!-- end action button-->
    </form>
    <!-- end delete form-->
  </div>
</div>
<!-- end modal -->
