{% if setting_input and setting_input["type"] == "check" %}
    {% set inp_name = setting_input['name'] %}
    {% set is_multiple = setting_input["is_multiple"] %}
    {% set inp_name_mult = inp_name + "_SCHEMA" if is_multiple else inp_name %}
    {% set inp_id = setting_input['id'] %}
    {% set inp_regex = setting_input['regex'] %}
    {% set inp_default = setting_input['default'] %}
    {% set inp_value = setting_input['value'] %}
    {% set inp_levels = setting_input['levels'] %}
    {% set global_config_method = global_config.get(inp_name, {'method' : inp_method }).get('method') %}
    {% set global_config_value = global_config.get(inp_name, {'value' : inp_value }).get('value') %}

    <div data-checkbox-handler="{{ inp_id }}"
            class="relative mb-7 md:mb-0 z-10 ">
        <label class="sr-only" for="{{ inp_name_mult }}">{{ inp_name }}</label>
        <input id="{{ inp_name_mult }}"
                name="{{ inp_name_mult }}"
                data-default-method="{% if inp_name in ['AUTOCONF_MODE', 'SWARM_MODE', 'KUBERNETES_MODE'] %}mode{% else %}{{ global_config_method }}{% endif %}"
                data-default-value="{{ global_config[inp_name]['value'] }}"
                {% if inp_name in ['AUTOCONF_MODE', 'SWARM_MODE', 'KUBERNETES_MODE'] or global_config_method != 'ui' and global_config_method != 'default' %} disabled {% endif %}
                data-checked="{% if global_config_value == "yes" %}true{% else %}false{% endif %}"
                checked
                id="checkbox-{{ inp_id }}"
                class="checkbox"
                type="checkbox"
                data-pattern="{{ inp_regex|safe }}"
                value="{{ global_config_value }}"
                {% for level_name, value in inp_levels.items() %}
                 data-security-level-{{level_name}}="{{value}}"
                {% endfor %}
                {% if is_multiple %} data-is-multiple {% endif %}
                />
        <svg data-checkbox-handler="{{ inp_id }}"
                class="pointer-events-none	absolute fill-white dark:fill-gray-300 left-0 top-0 translate-x-1 translate-y-2 h-3 w-3"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
            <path class="pointer-events-none" d="M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z">
            </path>
        </svg>
    </div>
{% endif %}
