
{% set current_endpoint = url_for(request.endpoint)[1:].split("/")[-1].strip().replace('_', '-')
%}
{% if current_endpoint == "services"%}
  {% set plugins = [{
    "id": "general",
    "order": 999,
    "name": "General",
    "description": "The general settings for the server",
    "version": "0.1",
    "settings": {
      "SERVER_NAME": {
        "context": "multisite",
        "default": "",
        "help": "List of the virtual hosts served by bunkerweb.",
        "id": "SERVER_NAME",
        "label": "Server name",
        "regex": ".*",
        "type": "text",
      }
    }
  }] + config["CONFIG"].get_plugins() %}
{% else %}
  {% set plugins = config["CONFIG"].get_plugins() %}
{%endif%}
<div {{current_endpoint}}-tabs class="col-span-12 grid grid-cols-12 {% if current_endpoint == 'services' %}mb-4{% endif %}">
  <!-- desktop tabs -->
  <div {{current_endpoint}}-tabs-desktop class="hidden md:block col-span-12">
    {% if current_endpoint != "services" %}
    <!-- general tab -->
    <button
      tab-handler="general"
      type="button"
      class="brightness-90 border-primary dark:hover:bg-slate-800 dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300 border my-1 relative inline-block px-3 py-3 font-bold text-center uppercase align-middle transition-all rounded-none cursor-pointer bg-white hover:bg-gray-100 leading-normal text-sm ease-in tracking-tight-rem shadow-xs hover:shadow-md"
    >
      <div class="w-full flex justify-between items-center">
        <!-- text and icon -->
        <span class="text-primary transition duration-300 ease-in-out dark:opacity-90 pl-3 pr-2 dark:text-gray-300">general</span>
        <svg
          popover-btn="general"
          class="z-20 fill-blue-500 h-5 w-5 mr-2 hover:brightness-95"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-144c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32z"
          />
        </svg>
        <!-- end text and icon -->
        <!-- popover -->
        <div
          popover-content="general"
          class="hidden transition z-50 rounded-md p-3 left-0 absolute translate-y-12 bg-blue-500"
        >
          <p class="font-bold text-sm text-white m-0">
            General config : HTTP, DNS, LOG, API...
          </p>
        </div>
        <!-- end popover -->
      </div>
    </button>
    <!-- end general tab-->
    {% endif %}
    <!-- tabs -->
    {% for plugin in plugins %} {% if current_endpoint == "services" and plugin["settings"]
    and check_settings(plugin["settings"], "multisite") or current_endpoint == "global-config" and plugin["settings"]
    and check_settings(plugin["settings"], "global") %}
    <button
    tab-handler="{{ plugin['id'] }}"
    type="button"
    class="z-1000 {% if current_endpoint == 'service' and loop.first %} brightness-90 {% endif %} border-primary dark:hover:bg-slate-800 dark:border-slate-600 dark:bg-slate-700  border my-1 relative inline-block px-3 py-3 font-bold text-center uppercase align-middle transition-all rounded-none cursor-pointer bg-white hover:bg-gray-100 leading-normal text-sm ease-in tracking-tight-rem shadow-xs hover:shadow-md"
  >
    <div class="w-full flex justify-between items-center">
      <!-- text and icon -->
      <span class="text-primary transition duration-300 ease-in-out dark:opacity-90 pl-3 pr-2 dark:text-gray-300"> {{ plugin["name"] }} </span>
      <svg
        popover-btn="{{ plugin["name"] }}"
        class=" z-20 fill-blue-500 h-5 w-5 mr-2 hover:brightness-95"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path        
          d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-144c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32z"
        />
      </svg>
      <!-- end text and icon -->
      <!-- popover -->
      <div
        popover-content="{{ plugin["name"] }}"
        class="min-w-[150px] dark:brightness-90 bg-blue-500 hidden transition z-50 rounded-md p-3 left-0 absolute translate-y-12 "
      >
        <p class="font-bold text-sm text-white m-0">{{ plugin['description'] }}</p>
      </div>
      <!-- end popover -->
    </div>
  </button>
    {% endif %} {% endfor %}
    <!--end tabs-->
  </div>
  <!-- end desktop tabs -->
 <!-- mobile tabs -->
 <div  class="md:hidden relative col-span-12 h-full">
  <button
  tab-dropdown-btn 
    type="button"
    class="dark:hover:brightness-95 dark:border-slate-600 dark:bg-slate-700  border-primary border w-full flex items-center justify-between rounded-lg hover:-translate-y-px my-1 px-6 py-3 font-bold text-center  uppercase align-middle transition-all cursor-pointer bg-white hover:bg-gray-50 leading-normal text-sm ease-in tracking-tight-rem shadow-xs hover:shadow-md"
  >
    <span class="transition duration-300 ease-in-out dark:opacity-90 dark:text-gray-300 text-primary">{% if current_endpoint == "global-config" %}general {% endif %} </span>
    <!-- chevron -->
    <svg
      
      class="transition-transform h-4 w-4 fill-primary dark:fill-gray-300"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
    >
      <path
        d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
      />
    </svg>
    <!-- end chevron -->
  </button>
  <!-- dropdown-->
  <div
  tab-dropdown
    class="hidden z-100 absolute flex-col w-full overflow-hidden overflow-y-auto  max-h-90"
  >
  {% if current_endpoint != "services" %}

  <!-- general button-->
  <button
  tab-handler-mobile="general"
    type="button"
    data-select="false"
    class="flex justify-between border-t rounded-t border-b border-l border-r border-gray-300 dark:hover:brightness-90 hover:brightness-90 bg-primary dark:bg-primary my-0 relative px-6 py-2  text-center  align-middle transition-all rounded-none cursor-pointer leading-normal text-sm ease-in tracking-tight-rem dark:border-slate-600  dark:text-gray-300 text-gray-300"    >
      General

  </button>
  <!-- end general button-->
  {% endif %}

  {% for plugin in plugins %}  {% if current_endpoint == "services" and plugin["settings"]
  and check_settings(plugin["settings"], "multisite") or current_endpoint == "global-config" and plugin["settings"]
  and check_settings(plugin["settings"], "global") %}
    <button
    tab-handler-mobile="{{ plugin['id'] }}"
      type="button"
      data-select="false"
      id="edit-{{current_endpoint}}-{{ plugin['id'] }}-tab"
      class="flex justify-between {% if loop.index == 1 %} border-t rounded-t {% endif %} {% if loop.index == loop.length %}rounded-b {% endif %} border-b border-l border-r border-gray-300 dark:hover:brightness-90 hover:brightness-90  bg-white text-gray-700 my-0 relative px-6 py-2  text-center  align-middle transition-all rounded-none cursor-pointer leading-normal text-sm ease-in tracking-tight-rem dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300">
      {{ plugin["name"] }}
   
    </button>
    {% endif %} {% endfor %}
  </div>
  <!-- end dropdown-->
</div>
<!-- end mobile tabs -->

</div>
