[Unit]
Description=BunkerWeb service
Documentation=https://docs.bunkerweb.io
After=network.target

[Service]
Restart=no
User=root
PIDFile=/var/run/bunkerweb/scheduler.pid
ExecStart=/usr/share/bunkerweb/scripts/start.sh start
ExecStop=/usr/share/bunkerweb/scripts/start.sh stop
ExecReload=/usr/share/bunkerweb/scripts/start.sh reload
Type=exec
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
Alias=bunkerweb.service
