[Unit]
Description=BunkerWeb UI service
Documentation=https://docs.bunkerweb.io
After=bunkerweb.service

[Service]
Restart=always
RestartSec=5
User=root
UMask=027
PIDFile=/var/run/bunkerweb/ui.pid
ExecStart=/usr/share/bunkerweb/scripts/bunkerweb-ui.sh start
ExecStop=/usr/share/bunkerweb/scripts/bunkerweb-ui.sh stop
ExecReload=/usr/share/bunkerweb/scripts/bunkerweb-ui.sh reload
Type=simple
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
Alias=bunkerweb-ui.service
