<form method="POST" action="/global" id="global-form">
    {% for field in form %}
        <div>Label is {{ field.label }}</div>
        <div>Description is {{ field.description }}</div>
        <div>Name is {{ field.name }}</div>
        <div>Value is {{ field.default }}</div>
        <div>Raw HTML is : {{ field }}</div>
        <hr>
    {% endfor %}
    <input type="submit" value="send">
</form>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector('#global-form').addEventListener("submit", (event) => {
            console.log("ok");
            event.preventDefault();
            document.querySelectorAll('#global-form input[type=checkbox]').forEach( (checkbox) => {
                console.log(checkbox.name);
                if (!checkbox.checked) {
                    var input = document.createElement("input");
                    input.setAttribute("type", "hidden");
                    input.setAttribute("name", checkbox.name);
                    input.setAttribute("value", "no");
                    checkbox.after(input);
                }
            });
            event.currentTarget.submit();
        });
    });
</script>
    