brotlipy==0.7.0
certbot==2.7.1
croniter==2.0.1
fastapi==0.103.2
gunicorn==21.2.0
maxminddb==2.4.0
pydantic_settings==2.0.3
python-magic==0.4.27
python_multipart==0.0.6
PyYAML==6.0.1
redis==5.0.1
requests==2.31.0
schedule==1.2.1
uvicorn[standard]==0.23.2
regex==2023.10.3
