services:
  bunkerweb:
    image: bunkerity/bunkerweb:1.6.5-rc2
    container_name: bunkerweb
    ports:
      - "80:8080/tcp"
      - "443:8443/tcp"
      - "443:8443/udp" # for QUIC
    environment:
      API_WHITELIST_IP: "127.0.0.0/8 10.20.30.0/24"
    restart: "unless-stopped"
    networks:
      - bw-universe
      - bw-services

  bw-scheduler:
    image: bunkerity/bunkerweb-scheduler:1.6.5-rc2
    container_name: bw-scheduler
    depends_on:
      - bunkerweb
    volumes:
      - bw-data:/data
    environment:
      BUNKERWEB_INSTANCES: "bunkerweb"
      SERVER_NAME: "www.example.com" # replace with your domain
      API_WHITELIST_IP: "127.0.0.0/8 10.20.30.0/24"
      SERVE_FILES: "no"
      DISABLE_DEFAULT_SERVER: "yes"
      AUTO_LETS_ENCRYPT: "yes"
      USE_CLIENT_CACHE: "yes"
      USE_GZIP: "yes"
      USE_REVERSE_PROXY: "yes"
      REVERSE_PROXY_URL_1: "~ ^/app1/(.*)$$"
      REVERSE_PROXY_HOST_1: "http://app1:8080/$$1"
      REVERSE_PROXY_URL_2: "~ ^/app2/(.*)$$"
      REVERSE_PROXY_HOST_2: "http://app2:8080/$$1"
      CUSTOM_CONF_SERVER_HTTP_redirects: |
        port_in_redirect off;
        location ~ ^/(app1|app2)$$ {
          rewrite ^(.*)$$ $$1/ permanent;
        }
    restart: "unless-stopped"
    networks:
      - bw-universe

  app1:
    image: nginxdemos/nginx-hello
    networks:
      - bw-services

  app2:
    image: nginxdemos/nginx-hello
    networks:
      - bw-services

volumes:
  bw-data:


networks:
  bw-universe:
    name: bw-universe
    ipam:
      driver: default
      config:
        - subnet: 10.20.30.0/24
  bw-services:
    name: bw-services
