.card-body .btn-outline-success {
  background-color: #40bb6b;
  border-color: #40bb6b;
}

.no_internet.container-fluid {
  padding-top: 0 !important;
}

section.blog-list {
  padding-top: 0 !important;
}

.blog-list .item .title {
  font-size: 1.275rem;
  font-weight: bold;
}

.blog-list .item .title a {
  color: #292929;
}

.blog-list .item .title a:hover {
  color: #292929;
}

.blog-list .item .post-thumb {
  border-radius: 2px;
}

.blog-list .item .intro {
  font-size: 0.875rem;
}

.blog-list .item .more-link {
  font-size: 0.8125rem;
}

.blog-list .text-link {
  color: #40bb6b;
}

.blog-list a.text-link {
  text-decoration: none;
}

.blog-list a.text-link:hover {
  text-decoration: underline;
}

.blog-list .blog-nav .nav-link {
  background: #53b463;
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  font-weight: bold;
  position: relative;
}

.blog-list .blog-nav .nav-link:hover {
  background: #3dba52;
}

.blog-list .blog-nav .nav-link-prev {
  border-right: 1px solid #309441;
}

@media (min-width: 992px) {
  .blog-list .post-thumb {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .blog-list .post-thumb {
    max-width: 150px;
  }
}

.blog-list .single-col-max-width {
  max-width: 820px;
}

.blog-list .meta {
  color: #8f8f8f;
  font-size: 0.8125rem;
}

.blog-list .meta span {
  display: inline-block;
}

.blog-list .meta span a {
  color: #8f8f8f;
}

.blog-list .meta span a:hover {
  color: #4f4f4f;
}

.blog-list .meta span:after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #8f8f8f;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  position: relative;
  top: -3px;
}

.blog-list .meta span:last-child:after {
  display: none;
}

.blog-list .intro {
  color: #4f4f4f;
}

.blog-list h1 {
  margin-bottom: 5vh;
}

.text-xs {
  font-size: 0.7rem;
}

.text-primary {
  color: #085577 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.fa-arrow-right-long {
  margin-left: 5px;
  margin-right: 5px;
}

.text-gray-800 {
  color: #5a5c69 !important;
}

.text-gray-300 {
  color: #dddfeb !important;
}

a .fa-twitter:hover {
  color: #1da1f2 !important;
}

a .fa-linkedin:hover {
  color: #0077b5 !important;
}

a .fa-discord:hover {
  color: #7289da !important;
}

a .fa-github:hover {
  color: #333 !important;
}

.border-left-primary {
  border-left: 0.25rem solid #085577 !important;
}

.card .btn {
  color: #222;
  font-size: 12px;
  background: none;
}

[data-theme="dark"] a .fa-twitter:hover {
  color: #1da1f2 !important;
}

[data-theme="dark"] a .fa-linkedin:hover {
  color: #0077b5 !important;
}

[data-theme="dark"] a .fa-discord:hover {
  color: #7289da !important;
}

[data-theme="dark"] a .fa-github:hover {
  color: #ccc !important;
}

[data-theme="dark"] .card {
  background-color: #222 !important;
}

[data-theme="dark"] .card .text-gray-800 {
  color: #f6f6f6 !important;
}

[data-theme="dark"] .card .card-title,
[data-theme="dark"] .card .btn,
[data-theme="dark"] .blog-list .title .text-link {
  color: #fff;
}

[data-theme="dark"] .blog-list .intro {
  color: #f6f6f6;
}

[data-theme="dark"] .blog-list .meta {
  color: #b8b8b8;
}

[data-theme="dark"] .blog-list .blog-nav .nav-link {
  background: #459653;
}

[data-theme="dark"] .blog-list .blog-nav .nav-link:hover {
  background: #2e8b3d;
}

[data-theme="dark"] .blog-list .blog-nav .nav-link-prev {
  border-right: 1px solid #2e8b3d;
}

.no_internet h3 {
  color: #9e9e9e;
  font-size: calc(20px + 6 * ((100vw - 320px) / 680));
}

.no_internet button:focus {
  box-shadow: none !important;
  outline-width: 0;
}

.no_internet .card {
  border-radius: 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.no_internet .card-header {
  background-color: #f44236 !important;
  color: #fff;
}

.no_internet img {
  width: 180px !important;
}

.no_internet .btn-primary {
  background: #b52ab4;
  color: #fff !important;
  border-radius: 0 !important;
  letter-spacing: 1px;
}

.no_internet .btn-primary:hover {
  background: #b52ab4;
}

.no_internet .btn-primary:focus {
  background: #b52ab4 !important;
}

.no_internet .btn-success {
  border: 1px solid #b52ab4;
  padding: 8px 20px 8px 20px !important;
  border-radius: 20px !important;
}

.no_internet .btn-success:hover {
  background: #b52ab4;
  color: #fff !important;
  border-color: #b52ab4 !important;
}

.no_internet .btn-success:focus {
  background: #b52ab4 !important;
  color: #fff !important;
}

.no_internet .btn-success {
  background: #b52ab4 !important;
}

.inner li {
  list-style-type: disc !important;
}

.fa-times-circle {
  vertical-align: middle !important;
  cursor: pointer !important;
}

@media (max-width: 654px) {
  .card {
    width: unset;
  }
}
