{% from "components/card.html" import card %}
{% macro chart_donut(id, title, title_key=none, series={}, card_classes="", subtitle=none, subtitle_key=none, uppercase=false, hideable=false, card_id=none) -%}
    {% call card(id=card_id, classes=card_classes, title=title, title_key=title_key, subtitle=subtitle, subtitle_key=subtitle_key, uppercase=uppercase, separator=false, hideable=hideable) %}
        <div id="{{ id }}" class="w-100"></div>
        <div id="{{ id }}-data" class="visually-hidden">{{ series | tojson }}</div>
    {% endcall %}
{%- endmacro %}
