{% from "components/card.html" import card %}
{% macro chart_area(id, title, title_key=none, series={}, height=400, card_classes="", subtitle=none, subtitle_key=none, uppercase=false) -%}
    {% call card(classes=card_classes, title=title, title_key=title_key, subtitle=subtitle, subtitle_key=subtitle_key, uppercase=uppercase, separator=false) %}
        <div id="{{ id }}" class="w-100" data-chart-height="{{ height }}"></div>
        <div id="{{ id }}-data" class="visually-hidden">{{ series | tojson }}</div>
    {% endcall %}
{%- endmacro %}
