<!-- simple alert -->
<div class="relative w-full p-4 text-white bg-blue-500 rounded-lg">
  Alert blue
</div>
<!-- dismiss alert -->
<div
  alert
  class="relative p-4 pr-12 mb-4 text-white border border-blue-300 border-solid rounded-lg bg-gradient-to-tl from-blue-500 to-violet-500"
>
  A simple blue alert with
  <a href="javascript:;" class="font-semibold text-white">an example link</a>.
  Give it a click if you like.
  <button
    alert-close
    type="button"
    class="box-content absolute top-0 right-0 w-4 h-4 p-4 text-sm text-white bg-transparent border-0 rounded z-2"
  >
    <span aria-hidden="true" class="text-center cursor-pointer">&#10005;</span>
  </button>
</div>
