<!-- CONTAINER -->
<div
  class="relative flex flex-col min-w-0 break-words bg-white shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border"
></div>
<!-- CONTAINER -->

<!--  TITLE -->
<p class="mb-0 font-sans font-semibold leading-normal uppercase text-sm">
  Today's Money
</p>
<!--  TITLE -->

<!--  DATA -->
<h5 class="mb-2 font-bold dark:text-white">$53,000</h5>
<!--  DATA -->

<!--  DETAIL-->
<p class="mb-0 dark:text-white dark:opacity-60">
  <span class="font-bold leading-normal text-sm text-emerald-500">+55%</span>
  since yesterday
</p>
<!--  DETAIL-->

<!--  ICON -->
<div class="inline-block w-12 h-12 text-center rounded-circle bg-primaryr">
  <i class="fa fa-coins text-lg relative top-3.5 text-white"></i>
</div>
<!--  ICON -->

<!--  LEARN MORE -->
<a
  class="mt-auto mb-0 font-semibold leading-normal text-sm group text-slate-500"
  href="javascript:;"
>
  Read More
  <i
    class="fas fa-arrow-right ease-bounce text-sm group-hover:translate-x-1.25 ml-1 leading-normal transition-all duration-200"
  ></i>
</a>
<!--  LEARN MORE -->
