<input
  type="text"
  id="newsletter-email"
  name="EMAIL"
  class="dark:border-slate-600 dark:bg-slate-700 dark:text-gray-300 disabled:opacity-75 valid:border-green-500 invalid:border-red-500 outline-none focus:border-primary text-sm leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all placeholder:text-gray-500"
  placeholder="John.doe@example.com"
  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$"
  required
/>
