kind: Service
apiVersion: v1
metadata:
  name: bw-lb
  annotations:
    service.beta.kubernetes.io/scw-loadbalancer-proxy-protocol-v2: "true"
spec:
  selector:
    app: bunkerweb
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 8080
  - name: https
    port: 443
    targetPort: 8443
  loadBalancerIP: ${lb_ip}
