[managers]
manager ansible_host=${public_ips[0]} ansible_user=root local_ip=${local_ips[0]}

[workers]
worker1 ansible_host=${public_ips[1]} ansible_user=root local_ip=${local_ips[1]}
worker2 ansible_host=${public_ips[2]} ansible_user=root local_ip=${local_ips[2]}
