[managers]
${instances[0].access_ip_v4} failover_ip=${failover_ips[0]} ansible_user=debian local_ip=192.168.42.100

[workers]
${instances[1].access_ip_v4} failover_ip=${failover_ips[1]} ansible_user=debian local_ip=192.168.42.101
${instances[2].access_ip_v4} failover_ip=${failover_ips[2]} ansible_user=debian local_ip=192.168.42.102
