{% extends "dashboard.html" %}
{% block content %}
    <!-- Content -->
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card p-4 position-relative h-100">
                <i class='bx bxs-rocket bx-sm position-absolute top-0 end-0 m-3'></i>
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="text-center text-primary">
                            <div class="app-brand justify-content-center">
                                <a href="https://www.bunkerweb.io/?utm_campaign=self&utm_source=ui"
                                   target="_blank"
                                   rel="noopener"
                                   class="app-brand-link gap-2">
                                    <span class="app-brand-logo login">
                                        <img class="img-fluid"
                                             src="{{ url_for('static', filename='img/icon.svg') }}"
                                             alt="BunkerWeb logo"
                                             width="100">
                                    </span>
                                </a>
                            </div>
                            <h4 class="text-primary shine fw-bold mt-2 mb-2">BunkerWeb-UI</h4>
                            <p class="fs-6 mt-2 mb-2">Powerful Protection, Simplified</p>
                            <p class="mt-2 mb-2">Version: {{ bw_version }}</p>
                            <a class="github-button mt-2 mb-2"
                               href="https://github.com/bunkerity/bunkerweb"
                               data-icon="octicon-star"
                               data-size="large"
                               data-show-count="true"
                               aria-label="Star bunkerity/bunkerweb on GitHub">Stars</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card p-2 position-relative">
                <i class='bx bx-hard-hat bx-sm position-absolute top-0 end-0 m-3'></i>
                <div class="card-header">
                    <h5 class="card-title don-jose">Build with</h5>
                </div>
                <div class="card-body">
                    <div class="row g-6 pt-0">
                        <a class="col-4 d-flex justify-content-center align-items-center"
                           href="https://www.python.org"
                           target="_blank"
                           rel="noreferrer"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-original-title="Python">
                            <img class="img-fluid w-70 p-3"
                                 src="{{ url_for('static', filename='img/brands/python.svg') }}"
                                 alt="Python">
                        </a>
                        <a class="col-4 d-flex justify-content-center align-items-center"
                           href="https://flask.palletsprojects.com"
                           target="_blank"
                           rel="noreferrer"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-original-title="Flask">
                            <img class="img-fluid w-70 p-3"
                                 src="{{ url_for('static', filename='img/brands/flask.png') }}"
                                 alt="Flask">
                        </a>
                        <a class="col-4 d-flex justify-content-center align-items-center"
                           href="https://gunicorn.org"
                           target="_blank"
                           rel="noreferrer"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-original-title="Gunicorn">
                            <img class="img-fluid w-70 p-3"
                                 src="{{ url_for('static', filename='img/brands/gunicorn.svg') }}"
                                 alt="Gunicorn">
                        </a>
                        <a class="col-4 d-flex justify-content-center align-items-center"
                           href="https://getbootstrap.com"
                           target="_blank"
                           rel="noreferrer"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-original-title="Bootstrap">
                            <img class="img-fluid w-70 p-3"
                                 src="{{ url_for('static', filename='img/brands/bootstrap.png') }}"
                                 alt="Bootstrap">
                        </a>
                        <a class="col-4 d-flex justify-content-center align-items-center"
                           href="https://jquery.com"
                           target="_blank"
                           rel="noreferrer"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-original-title="JQuery">
                            <img class="img-fluid w-70 p-3"
                                 src="{{ url_for('static', filename='img/brands/jquery.svg') }}"
                                 alt="JQuery">
                        </a>
                        <a class="col-4 d-flex justify-content-center align-items-center"
                           href="https://datatables.net"
                           target="_blank"
                           rel="noreferrer"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-original-title="DataTables">
                            <img class="img-fluid w-70 p-3"
                                 src="{{ url_for('static', filename='img/brands/datatables.png') }}"
                                 alt="DataTables">
                        </a>
                        <a class="col-4 d-flex justify-content-center align-items-center"
                           href="https://leafletjs.com/"
                           target="_blank"
                           rel="noreferrer"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-original-title="Leaflet">
                            <img class="img-fluid w-70 p-3"
                                 src="{{ url_for('static', filename='img/brands/leaflet.png') }}"
                                 alt="Leaflet">
                        </a>
                        <a class="col-4 d-flex justify-content-center align-items-center"
                           href="https://apexcharts.com"
                           target="_blank"
                           rel="noreferrer"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-original-title="apexcharts.js">
                            <img class="img-fluid w-70 p-3"
                                 src="{{ url_for('static', filename='img/brands/apexcharts.png') }}"
                                 alt="apexcharts.js">
                        </a>
                        <a class="col-4 d-flex justify-content-center align-items-center"
                           href="https://ace.c9.io"
                           target="_blank"
                           rel="noreferrer"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-original-title="Ace">
                            <img class="img-fluid w-70 p-3"
                                 src="{{ url_for('static', filename='img/brands/ace.png') }}"
                                 alt="Ace">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="row g-3">
                <div class="col-12">
                    <div class="card p-2 position-relative">
                        <i class='bx bx-paperclip bx-sm position-absolute top-0 end-0 m-3'></i>
                        <div class="card-header">
                            <h5 class="card-title don-jose">License</h5>
                        </div>
                        <div class="card-body text-center">
                            <p class="fs-5 mb-4">GNU Affero General Public License v3.0</p>
                            <a class="btn btn-sm btn-primary"
                               href="https://github.com/bunkerity/bunkerweb/blob/master/LICENSE.md"
                               target="_blank"
                               rel="noreferrer">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-inline col-12">
                    <div class="card p-2 position-relative">
                        <i class='bx bxs-megaphone bx-sm position-absolute top-0 end-0 m-3'></i>
                        <div class="card-header">
                            <h5 class="card-title don-jose">Socials</h5>
                        </div>
                        <div class="card-body text-center">
                            <div class="social-buttons">
                                <a href="https://discord.bunkerity.com/?utm_campaign=self&utm_source=ui"
                                   class="btn btn-sm btn-link"
                                   target="_blank"
                                   rel="noopener">
                                    <i class='bx bxl-discord-alt bx-sm'></i>
                                </a>
                                <a href="https://www.linkedin.com/company/bunkerity/"
                                   class="btn btn-sm btn-link"
                                   target="_blank"
                                   rel="noreferrer">
                                    <i class='bx bxl-linkedin bx-sm'></i>
                                </a>
                                <a href="https://www.reddit.com/r/BunkerWeb/"
                                   class="btn btn-sm btn-link"
                                   target="_blank"
                                   rel="noreferrer">
                                    <i class='bx bxl-reddit bx-sm'></i>
                                </a>
                                <a href="https://www.instagram.com/bunkerweb/"
                                   class="btn btn-sm btn-link"
                                   target="_blank"
                                   rel="noreferrer">
                                    <i class='bx bxl-instagram bx-sm'></i>
                                </a>
                                <a href="https://x.com/bunkerity/"
                                   class="btn btn-sm btn-link"
                                   target="_blank"
                                   rel="noreferrer">
                                    <img src="{{ url_for('static', filename='img/brands/Twitter-X-Logo.svg') }}"
                                    class="x-logo"
                                         alt="X logo"
                                         width="20px"
                                         height="20px">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-inline d-lg-none">
            <div class="card p-2 position-relative">
                <i class='bx bxs-megaphone bx-sm position-absolute top-0 end-0 m-3'></i>
                <div class="card-header">
                    <h5 class="card-title don-jose">Socials</h5>
                </div>
                <div class="card-body text-center">
                    <div class="social-buttons">
                        <a href="https://discord.bunkerity.com/?utm_campaign=self&utm_source=ui"
                           class="btn btn-sm btn-link"
                           target="_blank"
                           rel="noopener">
                            <i class='bx bxl-discord-alt bx-sm'></i>
                        </a>
                        <a href="https://www.linkedin.com/company/bunkerity/"
                           class="btn btn-sm btn-link"
                           target="_blank"
                           rel="noreferrer">
                            <i class='bx bxl-linkedin bx-sm'></i>
                        </a>
                        <a href="https://www.reddit.com/r/BunkerWeb/"
                           class="btn btn-sm btn-link"
                           target="_blank"
                           rel="noreferrer">
                            <i class='bx bxl-reddit bx-sm'></i>
                        </a>
                        <a href="https://www.instagram.com/bunkerweb/"
                           class="btn btn-sm btn-link"
                           target="_blank"
                           rel="noreferrer">
                            <i class='bx bxl-instagram bx-sm'></i>
                        </a>
                        <a href="https://x.com/bunkerity/"
                           class="btn btn-sm btn-link"
                           target="_blank"
                           rel="noreferrer">
                            <img src="{{ url_for('static', filename='img/brands/Twitter-X-Logo.svg') }}"
                            class="x-logo"
                                 alt="X logo"
                                 width="20px"
                                 height="20px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Content -->
{% endblock %}
