{% set theme = theme or "light" %}
{% set pro_diamond_url = url_for('static', filename='img/diamond.svg') %}
{% set avatar_url = url_for('static', filename='img/avatar_profil_BW.png' if theme == 'light' else 'img/avatar_profil_BW-white.png') %}
{% set plugin_types = {
    "core": {
        "icon": "<i class=\"bx bx-shield bx-xs\"></i>",
        "title-class": " border-dark"
    },
    "external": {
        "icon": "<i class=\"bx bx-plug bx-xs\"></i>",
        "title-class": " border-secondary",
        "text-class": " text-secondary fw-bold"
    },
    "ui": {
        "icon": "<i class=\"bx bx-cloud-upload bx-xs\"></i>",
        "title-class": " border-secondary",
        "text-class": " text-secondary"
    },
    "pro": {
        "title-class": " border-primary",
        "text-class": " text-primary fw-bold shine"
    }
} %}
<!DOCTYPE html>
<html lang="en"
      class="{{ theme }}-style layout-navbar-fixed layout-menu-fixed{% if theme == 'dark' %} dark{% endif %}"
      data-theme="theme-default"
      {% if theme == 'dark' %}data-bs-theme="dark"{% endif %}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="BunkerWeb user interface" />
        <meta name="author" content="Bunkerity" />
        <title>BunkerWeb UI</title>
        <!-- Favicon -->
        <link rel="icon"
              type="image/x-icon"
              href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <!-- Preload critical CSS -->
        <link rel="preload"
              href="{{ url_for('static', filename='css/core.css') }}"
              as="style" />
        <link rel="preload"
              href="{{ url_for('static', filename='css/theme-default.css') }}"
              as="style" />
        <link rel="preload"
              href="{{ url_for('static', filename='css/main.css') }}"
              as="style" />
        <!-- Fonts -->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='fonts/Public_sans.css') }}"
              nonce="{{ style_nonce }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='fonts/DonJose.css') }}"
              nonce="{{ style_nonce }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='fonts/Courier_Prime.css') }}"
              nonce="{{ style_nonce }}" />
        <!-- Icons -->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='fonts/boxicons.min.css') }}"
              nonce="{{ style_nonce }}" />
        <!-- Core CSS -->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/core.css') }}"
              nonce="{{ style_nonce }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/theme-default.css') }}"
              nonce="{{ style_nonce }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/main.css') }}"
              nonce="{{ style_nonce }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/overrides.css') }}"
              nonce="{{ style_nonce }}" />
        <!-- Vendors CSS -->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='libs/perfect-scrollbar/perfect-scrollbar.css') }}"
              nonce="{{ style_nonce }}" />
        {% block head %}{% endblock %}
    </head>
    <body>
        {% if not starting %}<input type="hidden" id="home-path" value="{{ url_for('home') }}" />{% endif %}
        <input type="hidden" id="is-read-only" value="{{ is_readonly }}" />
        <input type="hidden" id="db-read-only" value="{{ db_readonly }}" />
        <input type="hidden" id="user-read-only" value="{{ user_readonly }}" />
        <input type="hidden" id="theme" value="{{ theme }}" />
        <input type="hidden" id="language" value="{{ language }}" />
        <textarea id="supported-languages-json" class="visually-hidden">{{ supported_languages|tojson }}</textarea>
        <input type="hidden"
               id="bw-logo"
               value="{{ url_for('static', filename='img/logo-menu.png') }}" />
        <input type="hidden"
               id="bw-logo-white"
               value="{{ url_for('static', filename='img/logo-menu-white.png') }}" />
        <input type="hidden"
               id="avatar-url"
               value="{{ url_for('static', filename='img/avatar_profil_BW.png') }}" />
        <input type="hidden"
               id="avatar-url-white"
               value="{{ url_for('static', filename='img/avatar_profil_BW-white.png') }}" />
        <!-- prettier-ignore -->
        {% if not starting and current_endpoint != "loading" %}
            {% include "flash.html" %}
        {% endif %}
        {% block page %}{% endblock %}
        <!-- Helpers  -->
        <script src="{{ url_for('static', filename='js/helpers.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <!-- Config  -->
        <script src="{{ url_for('static', filename='js/config.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <script src="{{ url_for('static', filename='libs/jquery/jquery.min.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <script src="{{ url_for('static', filename='libs/popper/popper.min.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <script src="{{ url_for('static', filename='libs/bootstrap/bootstrap.bundle.min.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <script src="{{ url_for('static', filename='libs/perfect-scrollbar/perfect-scrollbar.min.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <script src="{{ url_for('static', filename='libs/purify/purify.min.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <!-- Main JS -->
        <script src="{{ url_for('static', filename='js/menu.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <script src="{{ url_for('static', filename='js/common.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <script src="{{ url_for('static', filename='js/utils.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <script src="{{ url_for('static', filename='libs/i18next/i18next.min.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <script src="{{ url_for('static', filename='libs/i18next/i18nextHttpBackend.min.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <script src="{{ url_for('static', filename='libs/i18next/i18nextBrowserLanguageDetector.min.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <script src="{{ url_for('static', filename='js/i18n.js') }}"
                nonce="{{ script_nonce }}"
                defer></script>
        <!-- Page Specific JS -->
        {% block scripts %}{% endblock %}
        <!-- Buttons plugin -->
        <script src="{{ url_for('static', filename='js/buttons.js') }}"
                nonce="{{ script_nonce }}"
                async
                defer></script>
    </body>
</html>
