{% set current_endpoint = request.path.split("/")[-1] %}
{% set pro_diamond_url = url_for('static', filename='img/diamond.svg') %}
{% set avatar_url = url_for('static', filename='img/avatar_profil_BW.png') %}
<!DOCTYPE html>
<html lang="en"
      class="light-style layout-navbar-fixed layout-menu-fixed"
      data-theme="theme-default">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="BunkerWeb user interface" />
        <meta name="author" content="Bunkerity" />
        <title>BunkerWeb UI</title>
        <!-- Favicon -->
        <link rel="icon"
              type="image/x-icon"
              href="{{ url_for('static', filename='img/favicon.ico') }}" />
        <!-- Fonts -->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='fonts/Public_sans.css') }}"
              nonce="{{ style_nonce }}" />
        <!-- Icons -->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='fonts/boxicons.min.css') }}"
              nonce="{{ style_nonce }}" />
        {% if current_endpoint in ("instances", "services") %}
            <!-- Datatables -->
            <link rel="stylesheet"
                  href="{{ url_for('static', filename='libs/datatables/datatables.min.css') }}"
                  nonce="{{ style_nonce }}" />
        {% endif %}
        <!-- Core CSS -->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/core.css') }}"
              nonce="{{ style_nonce }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/theme-default.css') }}"
              nonce="{{ style_nonce }}" />
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/main.css') }}"
              nonce="{{ style_nonce }}" />
        <!-- Vendors CSS -->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='libs/perfect-scrollbar/perfect-scrollbar.css') }}"
              nonce="{{ style_nonce }}" />
        {% if current_endpoint == "home" %}
            <link rel="stylesheet"
                  href="{{ url_for('static', filename='libs/apexcharts/apexcharts.css') }}"
                  nonce="{{ style_nonce }}" />
        {% endif %}
        <!-- Page CSS -->
        <!-- Page -->
        {% if current_endpoint == "login" or current_endpoint == "totp" %}
            <link rel="stylesheet"
                  href="{{ url_for('static', filename='css/pages/login.css') }}"
                  nonce="{{ style_nonce }}" />
        {% elif current_endpoint == "loading" %}
            <link rel="stylesheet"
                  href="{{ url_for('static', filename='css/pages/loading.css') }}"
                  nonce="{{ style_nonce }}" />
        {% elif current_endpoint == "profile" %}
            <link rel="stylesheet"
                  href="{{ url_for('static', filename='css/pages/profile.css') }}"
                  nonce="{{ style_nonce }}" />
        {% endif %}
        <!-- Helpers  -->
        <script src="{{ url_for('static', filename='js/helpers.js') }}"
                nonce="{{ script_nonce }}"></script>
        <!-- Config  -->
        <script src="{{ url_for('static', filename='js/config.js') }}"
                nonce="{{ script_nonce }}"></script>
    </head>
    <body>
        <!-- prettier-ignore -->
        {% if current_endpoint != "loading" %}
            {% include "flash.html" %}
        {% endif %}
        {% block page %}{% endblock %}
        <!-- Vendors JS -->
        <script src="{{ url_for('static', filename='libs/jquery/jquery.min.js') }}"
                nonce="{{ script_nonce }}"></script>
        <script src="{{ url_for('static', filename='libs/popper/popper.min.js') }}"
                nonce="{{ script_nonce }}"></script>
        <script src="{{ url_for('static', filename='libs/bootstrap/bootstrap.bundle.min.js') }}"
                nonce="{{ script_nonce }}"></script>
        <script src="{{ url_for('static', filename='libs/perfect-scrollbar/perfect-scrollbar.min.js') }}"
                nonce="{{ script_nonce }}"></script>
        <script src="{{ url_for('static', filename='libs/purify/purify.min.js') }}"
                nonce="{{ script_nonce }}"></script>
        {% if current_endpoint in ("instances", "services") %}
            <script src="{{ url_for('static', filename='libs/datatables/datatables.min.js') }}"
                    nonce="{{ script_nonce }}"></script>
        {% endif %}
        <!-- Core JS -->
        <script src="{{ url_for('static', filename='js/menu.js') }}"
                nonce="{{ script_nonce }}"></script>
        {% if current_endpoint == "home" %}
            <script src="{{ url_for('static', filename='libs/apexcharts/apexcharts.min.js') }}"
                    nonce="{{ script_nonce }}"></script>
            <script src="{{ url_for('static', filename='js/dashboards-analytics.js') }}"
                    nonce="{{ script_nonce }}"></script>
        {% endif %}
        <!-- Main JS -->
        <script src="{{ url_for('static', filename='js/main.js') }}"
                nonce="{{ script_nonce }}"></script>
        {% if current_endpoint != "login" and current_endpoint != "totp" %}
            <script async
                    defer
                    src="{{ url_for('static', filename='js/sidebar.js') }}"
                    nonce="{{ script_nonce }}"></script>
        {% endif %}
        {% if current_endpoint == "global-config" or (current_endpoint != "services" and "services" in request.path) %}
            <script async
                    defer
                    src="{{ url_for('static', filename='js/plugins-settings.js') }}"
                    nonce="{{ script_nonce }}"></script>
        {% endif %}
        <!-- Page JS -->
        {% if current_endpoint == "profile" %}
            <script src="{{ url_for('static', filename='js/pages/profile.js') }}"
                    nonce="{{ script_nonce }}"></script>
        {% elif current_endpoint == "instances" %}
            <script src="{{ url_for('static', filename='js/pages/instances.js') }}"
                    nonce="{{ script_nonce }}"></script>
        {% elif current_endpoint == "services" %}
            <script src="{{ url_for('static', filename='js/pages/services.js') }}"
                    nonce="{{ script_nonce }}"></script>
        {% endif %}
        <script async defer src="{{ url_for('static', filename='js/buttons.js') }}"></script>
    </body>
</html>
