{% extends "dashboard.html" %}
{% block content %}
    <!-- Content -->
    <input type="hidden"
           id="selected-service"
           name="selected_service"
           value="{{ config_service if config_service and config_service != "global" else "no service" }}">
    <input type="hidden"
           id="selected-type"
           name="selected_type"
           value="{{ type if type else "HTTP" }}">
    <input type="hidden"
           id="csrf_token"
           name="csrf_token"
           value="{{ csrf_token() }}">
    <div class="card p-1 mb-4 sticky-card">
        <div class="d-flex flex-wrap justify-content-around align-items-center">
            <div class="d-flex">
                {% if not config_template and config_method and config_method != "ui" %}
                    <button type="button" class="btn btn-sm btn-secondary ms-2 disabled">
                        <i class="bx bx-xs bx-cube"></i>
                        &nbsp;Service: {{ config_service or "no service" }}
                    </button>
                    <button type="button" class="btn btn-sm btn-secondary ms-2 disabled">
                        <i class="bx bx-xs bx-window"></i>
                        &nbsp;Config Type: {{ type }}
                    </button>
                {% else %}
                    <div class="dropdown btn-group me-2">
                        <button id="select-service"
                                type="button"
                                class="btn btn-outline-primary dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="bx bx-cube"></i>
                            <span class="d-none d-md-inline">&nbsp;Service</span>
                        </button>
                        <ul id="services-dropdown-menu"
                            class="dropdown-menu nav-pills max-vh-60 overflow-auto pt-0"
                            role="tablist">
                            <div class="input-group input-group-merge mb-2">
                                <span class="input-group-text p-2 border-0 border-primary border-bottom shadow-none"><i class="bx fs-6 bx-search"></i></span>
                                <input id="service-search"
                                       type="text"
                                       class="form-control border-0 border-primary border-bottom shadow-none"
                                       placeholder="Search..."
                                       aria-label="Search...">
                            </div>
                            <li class="nav-item">
                                <button type="button"
                                        class="dropdown-item{% if not config_service or config_service == 'global' %} active{% endif %}"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        {% if not config_service %}aria-selected="true"{% endif %}>no service</button>
                            </li>
                            {% for service in services %}
                                <li class="nav-item">
                                    <button type="button"
                                            class="dropdown-item{% if config_service == service %} active{% endif %}"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            {% if config_service == service %}aria-selected="true"{% endif %}>
                                        {{ service }}
                                    </button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="dropdown btn-group">
                        <button id="select-type"
                                type="button"
                                class="btn btn-outline-primary dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="bx bx-window"></i>
                            <span class="d-none d-md-inline">&nbsp;Config Type</span>
                        </button>
                        <ul id="types-dropdown-menu"
                            class="dropdown-menu nav-pills max-vh-60 overflow-auto pt-0"
                            role="tablist">
                            {% for config_type, data in config_types.items() %}
                                <li id="config-type-{{ config_type }}"
                                    class="nav-item"
                                    data-context="{{ data['context'] }}"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-original-title="{{ data['description'] }}">
                                    <button type="button"
                                            class="dropdown-item{% if config_type == type or not type and loop.index == 1 %} active{% endif %}"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            {% if config_type == type or not type and loop.index == 1 %}aria-selected="true"{% endif %}>
                                        <i class="bx bx-{% if config_type.startswith('CRS') %}shield-alt{% elif config_type == 'MODSEC_CRS' %}shield-quarter{% elif config_type == 'MODSEC' %}shield-alt-2{% elif 'STREAM' in config_type %}network-chart{% else %}window-alt{% endif %}"></i>&nbsp;{{ config_type }}
                                    </button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if config_template %}
                    <button type="button" class="btn btn-sm btn-secondary ms-2 disabled">
                        <i class="bx bx-xs bx-spreadsheet"></i>
                        &nbsp;From template: {{ config_template }}
                    </button>
                {% endif %}
            </div>
            <div class="row align-items-end">
                <div class="col form-floating input-group input-group-merge shadow-none">
                    <input id="config-name"
                           type="text"
                           class="form-control form-control-sm border-0 border-primary border-bottom shadow-none"
                           placeholder="Configuration Name"
                           value="{{ name }}"
                           pattern="^[a-zA-Z0-9_\-]{1,64}$"
                           required
                           {% if not config_template and config_method and config_method != "ui" %}disabled{% endif %}>
                    <label for="config-name">Configuration Name</label>
                    <span class="input-group-text border-0 border-primary border-bottom mt-2 pb-0 shadow-none"
                          id="config-name-suffix">.conf</span>
                </div>
            </div>
            <div {% if not config_template and config_method and config_method != "ui" %}data-bs-toggle="tooltip" data-bs-placement="top" title="The custom config was created using the {{ config_method }} method, therefore it is locked"{% endif %}>
                <button type="button"
                        class="btn btn-sm btn-outline-bw-green save-config{% if not config_template and config_method and config_method != "ui" %} disabled{% endif %}">
                    <i class="bx bx-save bx-sm"></i>
                    <span class="d-none d-md-inline">&nbsp;Save</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card position-relative p-4 min-vh-70"
         {% if not config_template and config_method and config_method != "ui" %}data-bs-toggle="tooltip" data-bs-placement="top" title="Disabled by {{ config_method }}"{% endif %}>
        <div id="config-value"
             data-language="{% if type and type.startswith(('CRS', 'MODSEC')) %}ModSecurity{% else %}NGINX{% endif %}"
             data-method="{{ config_method }}"
             data-template="{{ config_template }}"
             class="ace-editor border rounded position-absolute top-0 start-0 end-0 bottom-0">{{ config_value }}</div>
    </div>
    <!-- / Content -->
{% endblock %}
