<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl">
    <div
      class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column"
    >
      <div class="text-body">
        ©
        <script nonce="{{ script_nonce }}">
          document.write(new Date().getFullYear());
        </script>
        , made by
        <a
          href="https://www.bunkerity.com/?utm_campaign=self&utm_source=ui"
          target="_blank"
          rel="noopener"
          class="footer-link"
          >Bunkerity</a
        >
      </div>
      <div class="d-none d-lg-inline-block">
        <a
          href="https://docs.bunkerweb.io/latest/?utm_campaign=self&utm_source=ui"
          target="_blank"
          rel="noopener"
          class="footer-link me-4"
          >Documentation</a
        >
        <a
          href="https://www.bunkerweb.io/privacy-policy/?utm_campaign=self&utm_source=ui"
          target="_blank"
          rel="noopener"
          class="footer-link me-4"
          >Privacy</a
        >
        <a
          href="https://www.bunkerweb.io/blog/?utm_campaign=self&utm_source=ui"
          target="_blank"
          rel="noopener"
          class="footer-link me-4"
          >Blog</a
        >
        <a
          href="https://panel.bunkerweb.io/order/support/?utm_campaign=self&utm_source=ui"
          target="_blank"
          rel="noopener"
          class="footer-link me-4"
          >Support</a
        >
        <a
          {%
          if
          bw_version=""
          ="dev"
          or
          bw_version=""
          ="testing"
          %}
          href="https://github.com/bunkerity/bunkerweb/blob/{{ bw_version }}/LICENSE.md"
          {%
          else
          %}
          href="https://github.com/bunkerity/bunkerweb/blob/v{{ bw_version }}/LICENSE.md"
          {%
          endif
          %}
          class="footer-link"
          target="_blank"
          rel="noopener"
          >License</a
        >
      </div>
    </div>
  </div>
</footer>
<!-- / Footer -->
