{% extends "dashboard.html" %}
{% block content %}
    <!-- Content -->
    <input type="hidden"
           id="selected-mode"
           name="selected_mode"
           value="{{ mode }}">
    {% set blacklisted_settings = get_blacklisted_settings(true) %}
    {% set service_method = "ui" %}
    <div class="tab-content p-0 position-relative">
        <div class="tab-pane fade{% if mode == 'advanced' %} show active{% endif %}"
             id="navs-modes-advanced"
             role="tabpanel">{% include "models/plugins_settings.html" %}</div>
        <div class="tab-pane position-relative fade{% if mode == 'raw' %} show active{% endif %}"
             id="navs-modes-raw"
             role="tabpanel">{% include "models/plugins_settings_raw.html" %}</div>
    </div>
    <!-- / Content -->
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='libs/ace/src-min/ace.js') }}"
            nonce="{{ script_nonce }}"
            defer></script>
    <script src="{{ url_for('static', filename='js/plugins-settings.js') }}"
            nonce="{{ script_nonce }}"
            defer
            type="module"></script>
{% endblock %}
