{% extends "base.html" %}
{% block page %}
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="position-absolute top-0 p-4 pe-6 ps-6 w-70">
                <div class="bg-bw-green position-relative w-100 p-2 text-white rounded fw-bold overflow-hidden">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="flex-grow-1 overflow-hidden me-2">
                            <div id="banner-container">
                                <p id="banner-text" class="mb-0 slide-in">
                                    Get the most of BunkerWeb by upgrading to the PRO version. More info and free trial <a class="light-href text-white-80"
    target="_blank"
    rel="noopener"
    href="https://panel.bunkerweb.io/?utm_campaign=self&utm_source=banner#pro">here</a>.
                                </p>
                            </div>
                        </div>
                        <i id="next-news" role="button" class='bx bx-sm bx-chevron-right'></i>
                    </div>
                </div>
            </div>
            <div class="container-xxl d-flex justify-content-center align-items-center">
                <div class="authentication-inner loading">
                    <div class="layout-main-wrapper mt-0 mb-0">
                        <div class="layout-main-placeholder d-flex justify-content-center align-items-center">
                            <lottie-player src="{{ url_for('static', filename='json/blockhaus.min.json') }}" background="transparent"  speed="1" class="img-fluid" loop autoplay></lottie-player>
                        </div>
                        {% if message %}
                            <div class="layout-main-info mt-1 mb-1">
                                <h3 class="mb-0 don-jose">{{ message }}</h3>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="next-endpoint" value="{{ next }}" />
    {% if target_endpoint %}<input type="hidden" id="target-endpoint" value="{{ target_endpoint }}" />{% endif %}
    <!-- / Content -->
{% endblock %}
