{% extends "base.html" %}
{% block page %}
    <!-- Content -->
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register -->
                <div class="card px-sm-6 px-0">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="https://www.bunkerweb.io/?utm_campaign=self&utm_source=ui"
                               target="_blank"
                               rel="noopener"
                               class="app-brand-link gap-2">
                                <span class="app-brand-logo login w-75">
                                    <img class="img-fluid"
                                         src="{{ url_for('static', filename='img/logo-menu.png') }}"
                                         alt="BunkerWeb logo">
                                </span>
                            </a>
                        </div>
                        <!-- /Logo -->
                        <p class="mb-6">Please sign-in to your account</p>
                        <form class="mb-6" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input type="hidden"
                                   name="next"
                                   value="{{ request.values.get('next', '') }}" />
                            <div class="mb-6">
                                <label for="username" class="form-label">Username</label>
                                <input type="text"
                                       class="form-control"
                                       id="username"
                                       name="username"
                                       placeholder="Enter your username"
                                       autofocus
                                       required />
                            </div>
                            <div class="mb-6 form-password-toggle">
                                <label class="form-label" for="password">Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password"
                                           id="password"
                                           class="form-control"
                                           name="password"
                                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                           aria-describedby="password"
                                           required />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>
                            <div class="mb-8">
                                <div class="d-flex justify-content-between mt-8">
                                    <div class="form-check mb-0 ms-2">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="remember-me"
                                               name="remember-me" />
                                        <label class="form-check-label" for="remember-me">Remember Me</label>
                                    </div>
                                    <a href="https://docs.bunkerweb.io/latest/troubleshooting/?utm_campaign=self&utm_source=ui#__tabbed_6_2"
                                       target="_blank"
                                       rel="noopener">
                                        <span>Forgot Password?</span>
                                    </a>
                                </div>
                            </div>
                            <div class="mb-6">
                                <button class="btn btn-primary d-grid w-100" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>
    <!-- / Content -->
{% endblock %}
