<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand main">
        <a href="https://www.bunkerweb.io/?utm_campaign=self&utm_source=ui"
           target="_blank"
           class="app-brand-link">
            <span class="app-brand-logo main w-100">
                <img class="img-fluid" src="img/logo-menu.png" alt="BunkerWeb logo">
            </span>
        </a>
        <a href="javascript:void(0);"
           class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>
    {% with menu_items = {
        "home": {"url": url_for('home'), "icon": "bx-home-smile"},
        "instances": {"url": url_for('instances'), "icon": "bx-server"},
        "global-config": {"url": url_for('global_config'), "icon": "bx-cog"},
        "services": {"url": url_for('services'), "icon": "bx-cube"},
        "configs": {"url": url_for('configs'), "icon": "bx-wrench"},
        "plugins": {"url": url_for('plugins'), "icon": "bx-plug"},
        "cache": {"url": url_for('cache'), "icon": "bx-data"},
        "reports": {"url": url_for('reports'), "icon": "bx-bar-chart-alt-2"},
        "bans": {"url": url_for('bans'), "icon": "bx-block"},
        "jobs": {"url": url_for('jobs'), "icon": "bx-time-five"},
        "logs": {"url": url_for('logs'), "icon": "bx-file-find"},
        } %}
        <ul class="menu-inner py-1">
            {% for endpoint, item in menu_items.items() %}
                <li class="menu-item {% if current_endpoint == endpoint %}active{% endif %} {% if item.get('sub') and item.get('open', True) %}open{% endif %}">
                    <a href="{{ item['url'] }}"
                       class="menu-link {% if item.get('sub') %}menu-toggle{% endif %}">
                        <i class="menu-icon tf-icons bx {{ item['icon'] }}"></i>
                        <div class="text-truncate"
                             data-i18n="{{ endpoint.replace('-', ' ') |title }}">
                            {{ endpoint.replace('-', ' ') |title }}
                        </div>
                    </a>
                    {% if item.get('sub') %}
                        <ul class="menu-sub">
                            {% for sub in item['sub'][:item.get('max', 5)] %}
                                <li class="menu-item {% if current_endpoint == sub %}active{% endif %}">
                                    <a href="{{ item['url'] }}/{{ sub }}" class="menu-link">
                                        <div class="text-truncate" data-i18n="Without menu">{{ sub }}</div>
                                    </a>
                                </li>
                            {% endfor %}
                            {% if item['sub']|length > item.get('max', 5) %}
                                <li class="menu-item">
                                    <a href="{{ item['url'] }}" class="menu-link">
                                        <div class="text-truncate" data-i18n="Without menu">More...</div>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            <!-- Plugins Pages -->
            <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Plugins Pages</span>
            </li>
            {% for plugin in plugins %}
                {% with not_pro_pro_plugin = not is_pro_version and plugin['type'] == "pro" %}
                    {% if not_pro_pro_plugin or plugin['page'] %}
                        <li class="menu-item {% if current_endpoint == plugin['id'] %}active{% endif %}">
                            <a href="{% if not_pro_pro_plugin %}https://panel.bunkerweb.io/?utm_campaign=self&utm_source=ui#pro{% else %}{{ url_for("plugins") }}/{{ plugin['id'] }}{% endif %}"
                               class="menu-link">
                                <i class="menu-icon tf-icons bx bx-puzzle"></i>
                                <div class="text-truncate" data-i18n="{{ plugin['name'] }}">{{ plugin['name'] }}</div>
                                {% if plugin['type'] != "pro" %}
                                    <div class="badge rounded-pill bg-label-{% if plugin['type'] == 'core' %}secondary{% else %}primary{% endif %} text-uppercase fs-tiny ms-auto">
                                        {{ plugin['type'].title() }}
                                    </div>
                                {% else %}
                                    <div class="badge badge-center rounded-pill text-uppercase fs-tiny ms-auto">
                                        <img src="img/diamond.svg" alt="Pro plugin" width="18px" height="15.5px">
                                    </div>
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endwith %}
            {% endfor %}
            <!-- Misc -->
            <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Misc</span>
            </li>
            <li class="menu-item">
                <a href="https://panel.bunkerweb.io/order/support/?utm_campaign=self&utm_source=ui"
                   target="_blank"
                   class="menu-link">
                    <i class="menu-icon tf-icons bx bx-support"></i>
                    <div class="text-truncate" data-i18n="Support">Support</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="https://docs.bunkerweb.io/latest/?utm_campaign=self&utm_source=ui"
                   target="_blank"
                   class="menu-link">
                    <i class="menu-icon tf-icons bx bx-file"></i>
                    <div class="text-truncate" data-i18n="Documentation">Documentation</div>
                </a>
            </li>
        </ul>
    {% endwith %}
</aside>
<!-- / Menu -->
