<!-- Navbar -->
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
            <i class="bx bx-menu bx-md"></i>
        </a>
    </div>
    <div class="navbar-collapse collapse navbar-nav-right d-flex align-items-center"
         id="navbar-collapse">
        <!-- Buttons -->
        <div class="navbar-nav align-items-center">
            <div class="nav-item d-flex align-items-center">
                <a role="button"
                   class="btn btn-outline-secondary p-1 p-md-2"
                   aria-pressed="true"
                   href="https://docs.bunkerweb.io/latest/?utm_campaign=self&utm_source=ui"
                   target="_blank"
                   rel="noopener">
                    <span class="tf-icons bx bx-file bx-18px me-md-2"></span>
                    <span class="d-none d-md-inline">Documentation</span>
                </a>
                <a role="button"
                   class="btn btn-outline-github p-1 p-md-2 ms-1 ms-md-2"
                   aria-pressed="true"
                   href="https://github.com/bunkerity/bunkerweb"
                   target="_blank"
                   rel="noopener">
                    <i class="tf-icons bx bxl-github bx-18px me-md-2"></i>
                    <span class="d-none d-md-inline">Github</span>
                </a>
                <a role="button"
                   class="btn btn-outline-discord p-1 p-md-2 ms-1 ms-md-2"
                   aria-pressed="true"
                   href="https://discord.bunkerity.com/?utm_campaign=self&utm_source=ui"
                   target="_blank"
                   rel="noopener">
                    <i class="tf-icons bx bxl-discord bx-18px me-md-2"></i>
                    <span class="d-none d-md-inline">Discord</span>
                </a>
            </div>
        </div>
        <!-- /Buttons -->
        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Stars -->
            <li class="d-none d-md-inline nav-item lh-1 me-4">
                <a class="github-button"
                   href="https://github.com/bunkerity/bunkerweb"
                   data-icon="octicon-star"
                   data-size="large"
                   data-show-count="true"
                   aria-label="Star bunkerity/bunkerweb on GitHub">Stars</a>
            </li>
            <!--/ Stars -->
            <!-- Version -->
            <li class="nav-item lh-1 me-2 me-md-4">
                <a role="button"
                   class="btn btn-sm btn-outline-dark px-2 px-md-3 position-relative"
                   aria-pressed="true"
                   href="https://github.com/bunkerity/bunkerweb/releases/latest"
                   target="_blank"
                   rel="noopener">
                    Version {{ bw_version }}
                    {% if bw_version != latest_version %}
                        <span class="badge-dot position-absolute top-0 start-100 translate-middle bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New version</span>
                        </span>
                    {% endif %}
                </a>
            </li>
            <!--/ Version -->
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow p-0 d-flex align-items-center"
                   href="javascript:void(0);"
                   data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        <img src="img/avatar_profil_BW.png"
                             alt="User Avatar"
                             class="w-px-40 h-auto rounded-circle" />
                    </div>
                </a>
                {% with profile_url = url_for('profile') %}
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="{{ profile_url }}">
                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0 me-2 me-md-3">
                                        <div class="avatar avatar-online">
                                            <img src="img/avatar_profil_BW.png"
                                                 alt="Admin Avatar"
                                                 class="w-px-40 h-auto rounded-circle" />
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-0 text-truncate">{{ current_user.get_id() |title }}</h6>
                                        <small class="text-muted text-truncate">{{ current_user.list_roles[0] }}</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider my-1"></div>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="{{ profile_url }}">
                                <i class="bx bx-user bx-md me-2"></i><span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider my-1"></div>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                               href="{{ url_for('logout') }}">
                                <i class="bx bx-power-off bx-md me-2"></i><span>Log Out</span>
                            </a>
                        </li>
                    </ul>
                {% endwith %}
            </li>
            <!--/ User -->
        </ul>
    </div>
</nav>
<!-- / Navbar -->
