{% extends "dashboard.html" %}
{% block content %}
    <!-- Content -->
    <div class="card text-nowrap p-4 min-vh-70">
        <div class="card-header d-flex justify-content-between align-items-center mw-100">
            <div class="pt-1 flex-grow-1 me-2" style="min-width: 0;">
                <h5 class="card-title d-inline don-jose{{ plugin_types[plugin['type']].get('text-class', '') }}{{ plugin_types[plugin['type']].get('title-class', '') }}">
                    {{ plugin["name"] }}&nbsp;－&nbsp;v{{ plugin["version"] }}&nbsp;－&nbsp;{{ plugin_types[plugin["type"]].get('icon', '<img src="' + pro_diamond_url + '"
     alt="Pro plugin"
     width="18px"
     height="15.5px">') |safe }}
                </h5>
                <p class="card-subtitle text-muted text-truncate mt-1 courier-prime">{{ plugin["description"] }}</p>
            </div>
            <div class="d-flex flex-grow-0 flex-shrink-0 justify-content-end align-items-center">
                <a href="{% if plugin['type'] == 'core' %}https://docs.bunkerweb.io/latest/settings/?utm_campaign=self&utm_source=ui#{% if plugin['id'] == 'general' %}global-settings{% else %}{{ plugin['id'] }}{% endif %}{% else %}https://docs.bunkerweb.io/latest/plugins/?utm_campaign=self&utm_source=ui{% endif %}"
                   class="btn btn-sm btn-primary rounded-pill ms-2"
                   target="_blank"
                   rel="noopener">
                    <i class="bx bx-link"></i>&nbsp;More info
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="text-center text-primary">
                    {% if not is_used %}
                        <p id="config-waiting"
                           class="text-center relative w-full p-2 text-primary rounded-lg fw-bold">
                            Plugin is deactivated, therefore no information is available.
                        </p>
                    {% elif not is_metrics %}
                        <p id="config-waiting"
                           class="text-center relative w-full p-2 text-primary rounded-lg fw-bold">
                            Metrics plugin isn't activated, therefore no information is available.
                        </p>
                    {% else %}
                        <!-- TODO: remove this when plugin pages are available -->
                        <p class="text-center relative w-full p-2 text-primary rounded-lg fw-bold">
                            Plugin pages are not yet available during the beta phase.
                        </p>
                        {{ plugin_page|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!--/ Content -->
{% endblock %}
