{% extends "dashboard.html" %}
{% block content %}
    <!-- Content -->
    <div class="card table-responsive text-nowrap p-4 min-vh-70">
        <input type="hidden" id="plugins_number" value="{{ plugins|length }}" />
        <input type="hidden" id="pro_diamond_url" value="{{ pro_diamond_url }}" />
        <input type="hidden"
               id="csrf_token"
               name="csrf_token"
               value="{{ csrf_token() }}" />
        <p id="plugins-waiting"
           class="text-center relative w-full p-2 text-primary rounded-lg fw-bold">Loading plugins...</p>
        <table id="plugins" class="table w-100 d-none">
            <thead>
                <tr>
                    <th>
                        <input id="select-all-rows"
                               aria-label="Select all rows"
                               class="dt-select-checkbox mb-1"
                               type="checkbox">
                        Select All
                    </th>
                    <th data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-original-title="The Plugin's ID">ID</th>
                    <th data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-original-title="The Plugin's Name">Name</th>
                    <th data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-original-title="The Plugin's description">Description</th>
                    <th data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-original-title="The Plugin's version">Version</th>
                    <th data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-original-title="Does the plugin supports stream?">Stream</th>
                    <th data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-original-title="The Plugin's type">Type</th>
                    <th data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-original-title="The method used to create the plugin">Method</th>
                    <th data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        data-bs-original-title="The actions that can be performed on the Plugin">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for plugin, plugin_data in plugins.items() %}
                    <tr>
                        <td></td>
                        <td>
                            <div class="{{ plugin_types[plugin_data['type']].get('text-class', '') }}">{{ plugin }}</div>
                        </td>
                        <td id="name-{{ plugin }}" data-id="{{ plugin }}">
                            <div class="{{ plugin_types[plugin_data['type']].get('text-class', '') }}">{{ plugin_data["name"] }}</div>
                        </td>
                        <td>{{ plugin_data["description"] }}</td>
                        <td id="version-{{ plugin }}">
                            <div class="{{ plugin_types[plugin_data['type']].get('text-class', '') }}">v{{ plugin_data["version"] }}</div>
                        </td>
                        <td class="text-center">
                            <div data-bs-toggle="tooltip"
                                 data-bs-placement="top"
                                 data-bs-original-title="{% if plugin_data['stream'] != 'no' %}Supports{% else %}Doesn't support{% endif %} STREAM mode{% if plugin_data['stream'] == 'partial' %} partially{% endif %}">
                                <i class="bx bx-sm bx-{% if plugin_data['stream'] == 'yes' %}check text-success{% elif plugin_data['stream'] == 'partial' %}minus text-warning{% else %}x text-danger{% endif %}"></i>
                            </td>
                        </div>
                        <td id="type-{{ plugin }}">
                            <div class="d-flex align-items-center" {% if not is_pro_version and plugin_data['type'] == "pro" %}data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-original-title="<i class='bx bx-diamond bx-xs'></i><span>Pro feature</span>"
                            {% endif %}
                            >
                            {% if plugin_data["type"] == "pro" %}
                                <a href="{{ url_for('pro') }}" target="_blank" rel="noopener" {% else %}
                                    <div {% endif %}
                                         class="d-flex align-items-center{{ plugin_types[plugin_data['type']].get('text-class', '') }}">
                                        {{ plugin_types[plugin_data["type"]].get('icon', '<img src="' + pro_diamond_url + '"
                                             alt="Pro plugin"
                                             width="16px"
                                             height="12.9125px">') |safe }}&nbsp;－&nbsp;{{ plugin_data["type"]|upper }}
                                        {% if plugin_data["type"] == "pro" %}
                                        </a>
                                    {% else %}
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                        <td>{{ plugin_data["method"] }}</td>
                        <td>
                            <div class="d-flex justify-content-evenly">
                                <div {% if not plugin_data['page'] %}data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="No page available"{% endif %}>
                                    <a role="button"
                                       class="btn btn-outline-primary btn-sm me-1{% if not plugin_data['page'] %} disabled{% endif %}"
                                       href="{{ url_for("plugins") }}/{{ plugin }}"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="bottom"
                                       data-bs-original-title="Access {{ plugin_data['name'] }} page">
                                        <i class="bx bx-link-external bx-xs"></i>
                                    </a>
                                </div>
                                <div data-bs-toggle="tooltip"
                                     data-bs-placement="bottom"
                                     data-bs-original-title="{% if plugin_data['method'] != 'ui' or is_readonly %}Disabled by {% if is_readonly %}readonly{% else %}{{ plugin_data['method'] }}{% endif %}{% else %}Delete plugin {{ plugin_data['name'] }}{% endif %}">
                                    <button type="button"
                                            data-plugin-id="{{ plugin }}"
                                            class="btn btn-outline-danger btn-sm me-1 delete-plugin{% if plugin_data['method'] != 'ui' %} disabled{% endif %}">
                                        <i class="bx bx-trash bx-xs"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if not is_readonly %}
        <div class="modal modal-xl fade"
             id="modal-add-plugins"
             data-bs-backdrop="static"
             tabindex="-1"
             aria-hidden="true"
             role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add plugins</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <form id="form-add-plugins"
                          action="{{ url_for("plugins") }}/refresh"
                          method="POST">
                        <div class="modal-body">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <div role="button"
                                 id="drag-area"
                                 class="border border-primary border-2 border-dashed rounded d-flex justify-content-center align-items-center h-px-200">
                                <div class="text-center">
                                    <i class="bx bx-lg bxs-cloud-upload text-primary"></i>
                                    <p class="mt-3 fs-5">Drag and drop your plugin here or click to select files.</p>
                                </div>
                            </div>
                            <input type="file"
                                   id="file-input"
                                   multiple
                                   accept=".zip,.tar.gz,.tar.xz"
                                   class="visually-hidden" />
                            <div id="file-list" class="mt-3"></div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button id="add-plugins-submit"
                                    type="submit"
                                    class="btn btn-bw-green me-2 disabled">Add plugins</button>
                            <button type="reset"
                                    class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal modal-lg fade"
             id="modal-delete-plugins"
             data-bs-backdrop="static"
             tabindex="-1"
             aria-hidden="true"
             role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm deletion</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <form action="{{ url_for("plugins") }}/delete" method="POST">
                        <div class="modal-body">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input type="hidden"
                                   id="selected-plugins-input-delete"
                                   name="plugins"
                                   value="" />
                            <div class="alert alert-danger text-center" role="alert">Are you sure you want to delete the selected plugins?</div>
                            <div id="selected-plugins-delete" class="mb-3"></div>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="submit" class="btn btn-outline-danger me-2">Delete</button>
                            <button type="reset"
                                    class="btn btn-outline-secondary"
                                    data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- / Content -->
{% endblock %}
