{% extends "dashboard.html" %}
{% block content %}
    <!-- Content -->
    <div class="d-flex row">
        <div class="card p-1">
            <div class="d-flex flex-wrap justify-content-around align-items-center">
                <div class="btn-group">
                    <button id="select-plugin"
                            type="button"
                            class="btn btn-outline-primary dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <i class="bx bx-extension"></i>
                        <span class="d-none d-md-inline">&nbsp;Plugins</span>
                    </button>
                    <ul id="plugins-dropdown-menu"
                        class="dropdown-menu nav-pills max-vh-60 overflow-auto"
                        role="tablist">
                        <input id="plugin-search"
                               type="text"
                               class="form-control border-0 border-bottom shadow-none mb-2"
                               placeholder="Search...">
                        {% for plugin in plugins %}
                            <li class="nav-item">
                                <button type="button"
                                        class="dropdown-item{% if loop.index == 1 %} active{% endif %}"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#navs-plugins-{{ plugin['id'] }}"
                                        aria-controls="navs-plugins-{{ plugin['id'] }}"
                                        {% if loop.index == 1 %}aria-selected="true"{% endif %}>
                                    {{ plugin["name"] }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row align-items-center">
                    <div class="col form-floating ps-0 pe-0 pe-md-1">
                        <input id="plugin-keyword-search"
                               type="text"
                               class="form-control form-control-sm border-0 border-primary border-bottom shadow-none"
                               placeholder="Keywords...">
                        <label for="plugin-keyword-search">Keywords</label>
                    </div>
                    <div class="col form-floating ps-0 pe-1 d-none d-md-block">
                        <input id="plugin-context-search"
                               type="text"
                               class="form-control form-control-sm border-0 border-primary border-bottom shadow-none"
                               placeholder="Context...">
                        <label for="plugin-context-search">Context</label>
                    </div>
                    <div class="col-auto form-floating ps-0 pe-0 d-none d-md-block">
                        <select id="plugin-type-select"
                                class="form-select form-select-sm border-0 border-primary border-bottom shadow-none">
                            <option selected>All</option>
                            <option value="core">Core</option>
                            <option value="external">External</option>
                            <option value="pro">Pro</option>
                        </select>
                        <label for="plugin-type-select">Type</label>
                    </div>
                </div>
                <button id="save-settings"
                        type="button"
                        class="btn btn-sm btn-outline-bw-green">
                    <i class="bx bx-save bx-sm"></i>
                    <span class="d-none d-md-inline">&nbsp;Save</span>
                </button>
            </div>
        </div>
    </div>
    <!-- / Content -->
{% endblock %}
