{% extends "dashboard.html" %}
{% block content %}
    <!-- Content -->
    <div class="card text-nowrap p-4 min-vh-70">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="text-center text-primary">
                <p id="config-waiting"
                   class="text-center relative w-full p-2 text-primary rounded-lg fw-bold">Plugin pages are not yet available during the beta phase.</p>
            </div>
        </div>
    </div>
    <!--/ Content -->
{% endblock %}
