{% extends "dashboard.html" %}
{% block content %}
    <!-- Content -->
    {% set is_overlapped = pro_status == "active" and pro_overlapped %}
    {% set is_expired = pro_status == "expired" %}
    {% set is_suspended = pro_status == "suspended" %}
    <div class="row g-3">
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card p-4 position-relative h-100">
                <img class='position-absolute top-0 end-0 m-3'
                     src="{{ pro_diamond_url if is_pro_version else url_for('static', filename='img/diamond-blue.svg') }}"
                     alt="Pro plugin"
                     width="24px">
                <div class="card-header p-2">
                    <div class="card-title">
                        <h5 class="me-2 text-primary shine don-jose mb-0">Pro status</h5>
                    </div>
                </div>
                <div class="card-body position-relative">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="text-center text-primary">
                            <h4 class="mt-0 mb-2 fw-semibold{% if is_pro_version %} text-primary shine courier-prime{% endif %}">
                                {% if is_pro_version %}
                                    PRO version
                                {% else %}
                                    {% if is_overlapped %}
                                        PRO version / <span class="text-danger fw-bold">OVERLAPPED</span>
                                    {% elif pro_status == "expired" %}
                                        PRO version / <span class="text-warning fw-bold">EXPIRED</span>
                                    {% elif pro_status == "suspended" %}
                                        PRO version / <span class="text-danger fw-bold">SUSPENDED</span>
                                    {% else %}
                                        FREE version
                                    {% endif %}
                                {% endif %}
                            </h4>
                            <h5 class="mt-2 mb-2 courier-prime fw-medium{% if is_overlapped %} text-decoration-line-through{% endif %}">
                                {{ online_services }} Online service{{ 's' if online_services > 1 else '' }} / {{ pro_services }} PRO service{{ 's' if pro_services > 1 else '' }}
                            </h5>
                            {% if is_overlapped %}
                                <div class="mt-2 mb-2 alert alert-danger text-center" role="alert">
                                    You have more services than your license allows !
                                    <br />
                                    Delete or draft some services to reach the number of {{ pro_services }} services.
                                </div>
                            {% endif %}
                            <a href="https://panel.bunkerweb.io/?utm_campaign=self&utm_source=ui#pro"
                               class="fs-6 mt-2 p-2 courier-prime fst-italic text-primary shine">
                                <i class="bx bx-link-external"></i>
                                {% if is_pro_version %}
                                    All features available
                                {% else %}
                                    {% if is_overlapped %}
                                        Awaiting compliance...
                                    {% elif pro_status == "expired" %}
                                        Renew license
                                    {% elif pro_status == "suspended" %}
                                        Suspended license
                                    {% else %}
                                        Upgrade to PRO
                                    {% endif %}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <small class="position-absolute bottom-0 end-0 text-muted">
                        {{ draft_services }} Draft service{{ 's' if draft_services > 1 else '' }}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="card p-4 position-relative h-100">
                <i class='bx bx-calendar bx-sm position-absolute top-0 end-0 m-3 {% if is_expired %}text-warning{% else %}text-primary{% endif %}'></i>
                <div class="card-header p-2">
                    <div class="card-title">
                        <h5 class="me-2 text-primary shine don-jose mb-0">Pro expiration date</h5>
                    </div>
                </div>
                <div class="card-body position-relative">
                    <div class="d-flex align-items-center justify-content-center h-100 pb-2">
                        <input id="expiration-date" type="hidden" value="{{ pro_expire }}" />
                        <input id="flatpickr-date"
                               type="hidden"
                               name="date"
                               class="visually-hidden"
                               value="{{ pro_expire }}" />
                    </div>
                    <small class="position-absolute bottom-0 end-0 text-primary">
                        {% if pro_expires_in != "Unknown" %}
                            Expires in: {{ pro_expires_in }}
                        {% else %}
                            Unknown expiration date
                        {% endif %}
                    </small>
                </div>
            </div>
        </div>
        <div class="col-12 row g-3 m-0 p-0">
            <div class="col-12 col-md-6 col-xl-4">
                <div class="card p-4 position-relative">
                    <i class='bx bx-key bx-sm position-absolute top-0 end-0 m-3 {% if is_expired %}text-warning{% else %}text-primary{% endif %}'></i>
                    <div class="card-header p-2">
                        <div class="card-title">
                            <h5 class="me-2 text-primary shine don-jose mb-0">
                                {% if is_pro_version %}
                                    Update
                                {% else %}
                                    Activate
                                {% endif %}
                                key
                            </h5>
                        </div>
                    </div>
                    <div class="card-body position-relative">
                        <form method="POST" action="{{ url_for("pro") }}/key">
                            <input type="hidden"
                                   id="csrf_token"
                                   name="csrf_token"
                                   value="{{ csrf_token() }}" />
                            <div class="d-flex justify-content-between align-items-center">
                                <label id="label-username"
                                       for="username"
                                       class="form-label fw-semibold text-truncate">License key</label>
                                <div class="d-flex align-items-center">
                                    <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                          data-bs-toggle="tooltip"
                                          data-bs-placement="top"
                                          data-bs-original-title="Your BunkerWeb PRO license key">
                                        <span class="bx bx-question-mark bx-xs"></span>
                                    </span>
                                </div>
                            </div>
                            {% set setting = "PRO_LICENSE_KEY" %}
                            {% set setting_data = {"type": "password", "id": "license_key", "regex": "^.+$"} %}
                            {% set required = true %}
                            {% if is_readonly %}
                                {% set disabled = true %}
                                {% set setting_method = "readonly" %}
                            {% endif %}
                            {% include "models/input_setting.html" %}
                            <button type="submit"
                                    class="btn btn-primary w-100 text-uppercase don-jose mt-3">
                                {% if is_pro_version %}
                                    Update
                                {% else %}
                                    Activate
                                {% endif %}
                                key
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Content -->
{% endblock %}
