{% extends "dashboard.html" %}
{% block content %}
    <!-- Content -->
    {% set blacklisted_settings = get_blacklisted_settings() %}
    {% set service_method = config.get("SERVER_NAME", {"method": "ui"})["method"] if current_endpoint != 'new' and not clone else "ui" %}
    {% set is_draft = config.get("IS_DRAFT", {"value": "no"})["value"] %}
    {% set template_method = config.get("USE_TEMPLATE", {"method": "ui"})["method"] %}
    {% set selected_template = config.get("USE_TEMPLATE", {"value": ""})["value"] %}
    <input type="hidden"
           id="selected-mode"
           name="selected_mode"
           value="{{ mode }}">
    <input type="hidden" id="used-template" name="used_template" value="{% if current_endpoint == "new" and not clone %}high{% else %}{{ config.get('USE_TEMPLATE', {'value': ''})['value'] }}
    {% endif %}
    ">
    <input type="hidden"
           id="selected-template"
           name="selected_template"
           value="{{ current_template }}">
    <input type="hidden"
           id="selected-template-method"
           name="selected_template_method"
           value="{{ template_method }}">
    <input type="hidden"
           id="service-method"
           name="service_method"
           value="{{ service_method }}">
    <input type="hidden"
           id="is-draft"
           name="IS_DRAFT"
           value="{{ is_draft }}"
           data-original="{% if current_endpoint != 'new' and not clone %}{{ is_draft }}{% else %}no{% endif %}"
           data-default="no">
    <div class="tab-content p-0 position-relative">
        <div class="tab-pane fade{% if mode == 'easy' %} show active{% endif %}"
             id="navs-modes-easy"
             role="tabpanel">{% include "models/plugins_settings_easy.html" %}</div>
        <div class="tab-pane fade{% if mode == 'advanced' %} show active{% endif %}"
             id="navs-modes-advanced"
             role="tabpanel">{% include "models/plugins_settings.html" %}</div>
        <div class="tab-pane position-relative fade{% if mode == 'raw' %} show active{% endif %}"
             id="navs-modes-raw"
             role="tabpanel">{% include "models/plugins_settings_raw.html" %}</div>
    </div>
    <div id="feedback-toast"
         class="bs-toast toast fade bg-{% if theme == 'light' %}white{% else %}dark{% endif %} border border-warning"
         role="alert"
         aria-live="assertive"
         aria-atomic="true"
         data-bs-autohide="true">
        <div class="toast-header d-flex align-items-center text-warning">
            <i class="d-block h-auto rounded tf-icons bx bx-xs bx-bell bx-tada me-2"></i>
            <span class="fw-medium me-auto">BunkerWeb Forever</span>
            <small class="text-body-secondary">just now</small>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
        <div class="toast-body">If you read this, it means that you're curious 👀</div>
    </div>
    <!-- / Content -->
{% endblock %}
