{% extends "base.html" %}
{% block page %}
    <!-- Content -->
    <input type="hidden" id="ui_user" value="{{ 'yes' if ui_user else 'no' }}" />
    <input type="hidden"
           id="ui_reverse_proxy"
           value="{{ 'yes' if ui_reverse_proxy else 'no' }}" />
    <input type="hidden"
           id="csrf_token"
           name="csrf_token"
           value="{{ csrf_token() }}" />
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner w-100">
                <!-- Setup -->
                <div class="card px-sm-6 px-0">
                    <div class="card-header d-flex justify-content-between align-items-center mw-100">
                        <div class="pt-1">
                            <h4 class="card-title d-inline border fw-bold p-2 don-jose">Setup Wizard</h4>
                            <p class="card-subtitle text-muted text-truncate mt-3">Follow the steps to complete the setup wizard</p>
                        </div>
                        <div class="app-brand justify-content-center">
                            <span class="app-brand-logo login">
                                <i class="bx bx-lg bxs-magic-wand bx-tada"></i>
                            </span>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <div class="d-flex justify-content-center">
                            <nav class="p-3 template-steps-container align-items-center mw-100 rounded-top"
                                 aria-label="breadcrumb">
                                <ol class="breadcrumb nav nav-scroller mb-0 flex-nowrap overflow-hidden active"
                                    role="tablist">
                                    <li class="breadcrumb-item nav-link d-flex align-items-center pe-0">
                                        <button class="btn btn-primary pt-3 pb-3 me-3 active"
                                                role="tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#navs-steps-1"
                                                aria-controls="navs-steps-1"
                                                aria-selected="true">1</button>
                                        <div class="text-nowrap">
                                            <div class="fw-bold text-primary">Admin User</div>
                                            <small class="text-muted">Create Admin User</small>
                                        </div>
                                    </li>
                                    <li class="breadcrumb-item nav-link d-flex align-items-center pe-0">
                                        <button class="btn btn-primary pt-3 pb-3 me-3 disabled"
                                                role="tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#navs-steps-2"
                                                aria-controls="navs-steps-2">2</button>
                                        <div class="text-nowrap">
                                            <div class="fw-bold text-muted">UI specific Settings</div>
                                            <small class="text-muted">Configure web UI specific settings</small>
                                        </div>
                                    </li>
                                    <li class="breadcrumb-item nav-link d-flex align-items-center pe-0">
                                        <button class="btn btn-primary pt-3 pb-3 me-3 disabled"
                                                role="tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#navs-steps-3"
                                                aria-controls="navs-steps-3">3</button>
                                        <div class="text-nowrap">
                                            <div class="fw-bold text-muted">Overview</div>
                                            <small class="text-muted">Review your settings</small>
                                        </div>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="tab-content p-3 align-items-center mw-100">
                            <div id="navs-steps-1"
                                 class="ps-2 pe-2 tab-pane fade show active"
                                 role="tabpanel"
                                 data-step="1"
                                 aria-labelledby="navs-steps-1-tab">
                                <div class="pt-1 pb-4">
                                    <h5 class="mb-1 fw-bold">Admin User</h5>
                                    <p class="card-subtitle text-muted">Create Admin User</p>
                                </div>
                                {% if not ui_user %}
                                    <div class="row pb-0">
                                        <div class="col-12 col-sm-6 pb-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label id="label-username"
                                                       for="username"
                                                       class="form-label fw-semibold text-truncate">
                                                    Admin Username
                                                </label>
                                                <div class="d-flex align-items-center">
                                                    <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                                          data-bs-toggle="tooltip"
                                                          data-bs-placement="top"
                                                          data-bs-original-title="Username must be between 1 and 256 characters long">
                                                        <span class="bx bx-question-mark bx-xs"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            {% set setting = "username" %}
                                            {% set setting_value = username %}
                                            {% set setting_data = {"type": "text", "id": "username", "regex": "^.{1,256}$"} %}
                                            {% set required = true %}
                                            {% include "models/input_setting.html" %}
                                        </div>
                                        <div class="col-12 col-sm-6 pb-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label id="label-username"
                                                       for="username"
                                                       class="form-label fw-semibold text-truncate">Admin Email</label>
                                                <div class="d-flex align-items-center">
                                                    <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                                          data-bs-toggle="tooltip"
                                                          data-bs-placement="top"
                                                          data-bs-original-title="Email must be between 1 and 256 characters long">
                                                        <span class="bx bx-question-mark bx-xs"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            {% set setting = "email" %}
                                            {% set setting_data = {"type": "email", "id": "email", "regex": "^.{1,256}$"} %}
                                            {% set required = false %}
                                            {% include "models/input_setting.html" %}
                                        </div>
                                        <div class="col-12 col-sm-6 pb-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label id="label-username"
                                                       for="username"
                                                       class="form-label fw-semibold text-truncate">
                                                    Admin Password
                                                </label>
                                                <div class="d-flex align-items-center">
                                                    <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                                          data-bs-toggle="tooltip"
                                                          data-bs-placement="top"
                                                          data-bs-original-title="Password must have at least 8 characters, 1 uppercase letter, 1 number, and 1 special character">
                                                        <span class="bx bx-question-mark bx-xs"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            {% set setting = "password" %}
                                            {% set setting_value = password %}
                                            {% set setting_data = {"type": "password", "id": "password", "regex": "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[ -~]).{8,}$"} %}
                                            {% set required = true %}
                                            {% include "models/input_setting.html" %}
                                            <div class="mt-3">
                                                <ul class="list-unstyled" id="password-requirements">
                                                    <li id="length-check">
                                                        <i class="bx bx-x text-danger"></i> Your password must
                                                        have at least 8 characters.
                                                    </li>
                                                    <li id="uppercase-check">
                                                        <i class="bx bx-x text-danger"></i> Your password must
                                                        have at least 1 uppercase letter.
                                                    </li>
                                                    <li id="number-check">
                                                        <i class="bx bx-x text-danger"></i> Your password must
                                                        have at least 1 number.
                                                    </li>
                                                    <li id="special-check">
                                                        <i class="bx bx-x text-danger"></i> Your password must
                                                        have at least 1 special character.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 pb-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label id="label-username"
                                                       for="username"
                                                       class="form-label fw-semibold text-truncate">
                                                    Confirm Password
                                                </label>
                                                <div class="d-flex align-items-center">
                                                    <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                                          data-bs-toggle="tooltip"
                                                          data-bs-placement="top"
                                                          data-bs-original-title="Confirm password must match the password">
                                                        <span class="bx bx-question-mark bx-xs"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            {% set setting = "confirm_password" %}
                                            {% set setting_data = {"type": "password", "id": "confirm_password", "regex": "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[ -~]).{8,}$"} %}
                                            {% set required = true %}
                                            {% include "models/input_setting.html" %}
                                        </div>
                                        <div class="pt-1 pb-4">
                                            <h5 class="mb-1 fw-bold">Enable 2FA</h5>
                                            <p class="card-subtitle text-muted">Enable Two-Factor Authentication (Strongly Recommended)</p>
                                        </div>
                                        <div class="col-12 pb-3 d-flex justify-content-center">
                                            <div class="g-3 w-75">
                                                <div class="d-flex justify-content-center">
                                                    <img class="img-fluid"
                                                         src="{{ totp_qr_image }}"
                                                         alt="2FA QR Code"
                                                         height="200"
                                                         width="200" />
                                                </div>
                                                <div class="form-password-toggle">
                                                    <label for="secret_token" class="form-label text-start d-block">Secret Token</label>
                                                    <div class="input-group input-group-merge">
                                                        <input type="password"
                                                               id="secret_token"
                                                               name="secret_token"
                                                               class="form-control"
                                                               placeholder="Secret Token"
                                                               value="{{ totp_secret }}"
                                                               readonly />
                                                        {% if request.is_secure %}
                                                            <span class="input-group-text cursor-pointer copy-to-clipboard">
                                                                <i class="bx bx-copy-alt"></i>
                                                            </span>
                                                        {% endif %}
                                                        <span class="input-group-text cursor-pointer">
                                                            <i class="bx bx-hide"></i>
                                                        </span>
                                                    </div>
                                                    <small class="form-text text-muted">Save it in a safe place, you will need the generated code to setup your 2FA in the last step.</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <p class="text-center relative w-full p-2 text-primary rounded-lg fw-bold">
                                        🧑‍🚀 An admin user already exists, please proceed to the next step
                                    </p>
                                {% endif %}
                            </div>
                            <div id="navs-steps-2"
                                 class="ps-2 pe-2 tab-pane fade"
                                 role="tabpanel"
                                 data-step="2"
                                 aria-labelledby="navs-steps-2-tab">
                                <div class="pt-1 pb-4">
                                    <h5 class="mb-1 fw-bold">UI specific Settings</h5>
                                    <p class="card-subtitle text-muted">Configure web UI specific settings</p>
                                </div>
                                {% if not ui_reverse_proxy %}
                                    <div class="row pb-0">
                                        <div class="col-12 pb-6">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label id="label-username"
                                                       for="username"
                                                       class="form-label fw-semibold text-truncate">Server name</label>
                                                <div class="d-flex align-items-center">
                                                    <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                                          data-bs-toggle="tooltip"
                                                          data-bs-placement="top"
                                                          data-bs-original-title="The server name of the service">
                                                        <span class="bx bx-question-mark bx-xs"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            {% set setting = "SERVER_NAME" %}
                                            {% set setting_value = "www.example.com" %}
                                            {% set setting_data = {"type": "text", "id": "SERVER_NAME", "regex": "^.+$"} %}
                                            {% set required = true %}
                                            {% include "models/input_setting.html" %}
                                        </div>
                                        <div class="col-12 col-sm-6 pb-6">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label id="label-username"
                                                       for="username"
                                                       class="form-label fw-semibold text-truncate">UI Host</label>
                                                <div class="d-flex align-items-center">
                                                    {% if ui_host %}
                                                        <span class="badge badge-center rounded-pill bg-primary-subtle text-dark d-flex align-items-center justify-content-center p-1 me-1"
                                                              data-bs-toggle="tooltip"
                                                              data-bs-placement="top"
                                                              data-bs-original-title="From UI_HOST environment variable">
                                                            <span class="bx bx-globe bx-xs"></span>
                                                        </span>
                                                    {% endif %}
                                                    <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                                          data-bs-toggle="tooltip"
                                                          data-bs-placement="top"
                                                          data-bs-original-title="The host that will be used for the reverse proxy">
                                                        <span class="bx bx-question-mark bx-xs"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            {% set setting = "REVERSE_PROXY_HOST" %}
                                            {% set setting_value = ui_host %}
                                            {% set setting_data = {"type": "text", "id": "REVERSE_PROXY_HOST", "regex": "^.+$"} %}
                                            {% set required = true %}
                                            {% include "models/input_setting.html" %}
                                        </div>
                                        <div class="col-12 col-sm-6 pb-6">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label id="label-username"
                                                       for="username"
                                                       class="form-label fw-semibold text-truncate">UI URL</label>
                                                <div class="d-flex align-items-center">
                                                    <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                                          data-bs-toggle="tooltip"
                                                          data-bs-placement="top"
                                                          data-bs-original-title="The URL that will be used for the reverse proxy">
                                                        <span class="bx bx-question-mark bx-xs"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            {% set setting = "REVERSE_PROXY_URL" %}
                                            {% set setting_value = random_url %}
                                            {% set setting_data = {"type": "text", "id": "REVERSE_PROXY_URL", "regex": "^.+$"} %}
                                            {% set required = false %}
                                            {% include "models/input_setting.html" %}
                                        </div>
                                        <div class="col-6 col-sm-3 pb-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label id="label-username"
                                                       for="username"
                                                       class="form-label fw-semibold text-truncate">
                                                    Auto Let's Encrypt
                                                </label>
                                                {% if auto_lets_encrypt == "yes" %}
                                                    <span class="badge badge-center rounded-pill bg-primary-subtle text-dark d-flex align-items-center justify-content-center p-1 me-1"
                                                          data-bs-toggle="tooltip"
                                                          data-bs-placement="top"
                                                          data-bs-original-title="From global configuration">
                                                        <span class="bx bx-globe bx-xs"></span>
                                                    </span>
                                                {% endif %}
                                                <div class="d-flex align-items-center">
                                                    <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                                          data-bs-toggle="tooltip"
                                                          data-bs-placement="top"
                                                          data-bs-original-title="Whether to automatically request a Let's Encrypt certificate">
                                                        <span class="bx bx-question-mark bx-xs"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            {% set setting = "AUTO_LETS_ENCRYPT" %}
                                            {% set setting_value = auto_lets_encrypt %}
                                            {% set setting_data = {"id": "AUTO_LETS_ENCRYPT"} %}
                                            {% include "models/checkbox_setting.html" %}
                                        </div>
                                        <div class="col-6 col-sm-3 pb-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label id="label-username"
                                                       for="username"
                                                       class="form-label fw-semibold text-truncate">
                                                    Use Let's Encrypt Staging
                                                </label>
                                                <div class="d-flex align-items-center">
                                                    {% if lets_encrypt_staging == "yes" %}
                                                        <span class="badge badge-center rounded-pill bg-primary-subtle text-dark d-flex align-items-center justify-content-center p-1 me-1"
                                                              data-bs-toggle="tooltip"
                                                              data-bs-placement="top"
                                                              data-bs-original-title="From global configuration">
                                                            <span class="bx bx-globe bx-xs"></span>
                                                        </span>
                                                    {% endif %}
                                                    <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                                          data-bs-toggle="tooltip"
                                                          data-bs-placement="top"
                                                          data-bs-original-title="Whether to use the Let's Encrypt staging environment">
                                                        <span class="bx bx-question-mark bx-xs"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            {% set setting = "USE_LETS_ENCRYPT_STAGING" %}
                                            {% set setting_value = lets_encrypt_staging %}
                                            {% set setting_data = {"id": "USE_LETS_ENCRYPT_STAGING"} %}
                                            {% include "models/checkbox_setting.html" %}
                                        </div>
                                        <div class="col-sm-6 pb-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label id="label-username"
                                                       for="username"
                                                       class="form-label fw-semibold text-truncate">
                                                    Email for Let's Encrypt
                                                </label>
                                                <div class="d-flex align-items-center">
                                                    {% if email_lets_encrypt %}
                                                        <span class="badge badge-center rounded-pill bg-primary-subtle text-dark d-flex align-items-center justify-content-center p-1 me-1"
                                                              data-bs-toggle="tooltip"
                                                              data-bs-placement="top"
                                                              data-bs-original-title="From global configuration">
                                                            <span class="bx bx-globe bx-xs"></span>
                                                        </span>
                                                    {% endif %}
                                                    <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                                          data-bs-toggle="tooltip"
                                                          data-bs-placement="top"
                                                          data-bs-original-title="The email address that will be used for Let's Encrypt">
                                                        <span class="bx bx-question-mark bx-xs"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            {% set setting = "EMAIL_LETS_ENCRYPT" %}
                                            {% set setting_value = email_lets_encrypt %}
                                            {% set setting_data = {"type": "text", "id": "EMAIL_LETS_ENCRYPT", "regex": "^.*$"} %}
                                            {% include "models/input_setting.html" %}
                                        </div>
                                    </div>
                                {% else %}
                                    <p class="text-center relative w-full p-2 text-primary rounded-lg fw-bold">
                                        ↪️ A reverse proxy is already configured for the web interface, please proceed to the next step
                                    </p>
                                {% endif %}
                            </div>
                            <div id="navs-steps-3"
                                 class="ps-2 pe-2 tab-pane fade"
                                 role="tabpanel"
                                 data-step="3"
                                 aria-labelledby="navs-steps-3-tab">
                                <div class="pt-1 pb-4">
                                    <h5 class="mb-1 fw-bold">Overview</h5>
                                    <p class="card-subtitle text-muted">Review your settings</p>
                                </div>
                                <div class="row pb-0 mb-4">
                                    {% if not ui_user %}
                                        <h6 class="mt-2 mb-1 fw-bold">Admin User</h6>
                                        {% set input_readonly = true %}
                                        <div class="col-12 col-sm-6 col-md-4 pb-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label id="label-overview_username"
                                                       for="overview_username"
                                                       class="form-label fw-semibold text-truncate">
                                                    Admin Username
                                                </label>
                                            </div>
                                            {% set setting = "username" %}
                                            {% set setting_data = {"type": "text", "id": "overview_username", "regex": "^.{1,256}$"} %}
                                            {% include "models/input_setting.html" %}
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 pb-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label id="label-overview_email"
                                                       for="overview_email"
                                                       class="form-label fw-semibold text-truncate">Admin Email</label>
                                            </div>
                                            {% set setting = "email" %}
                                            {% set setting_data = {"type": "email", "id": "overview_email", "regex": "^.*$"} %}
                                            {% include "models/input_setting.html" %}
                                        </div>
                                        <div class="col-12 col-md-4 pb-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label id="label-overview_password"
                                                       for="overview_password"
                                                       class="form-label fw-semibold text-truncate">
                                                    Admin Password
                                                </label>
                                            </div>
                                            {% set setting = "password" %}
                                            {% set setting_data = {"type": "password", "id": "overview_password", "regex": "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[ -~]).{8,}$"} %}
                                            {% include "models/input_setting.html" %}
                                        </div>
                                    {% endif %}
                                    {% if not ui_reverse_proxy %}
                                        <div class="col-6 pb-3">
                                            <h6 class="mt-2 mb-2 fw-bold">BunkerWeb UI final URL</h6>
                                            {% set setting = "SERVER_NAME + REVERSE_PROXY_HOST" %}
                                            {% set setting_data = {"type": "text", "id": "overview_service_url", "regex": "^.+$"} %}
                                            {% include "models/input_setting.html" %}
                                        </div>
                                    {% endif %}
                                    {% if not ui_user %}
                                        <div class="col-6">
                                            {% set input_readonly = false %}
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h6 class="mt-2 mb-1 fw-bold">2FA Setup</h6>
                                                <div class="d-flex align-items-center">
                                                    <span class="badge rounded-pill bg-secondary-subtle text-dark d-flex align-items-center justify-content-center p-1"
                                                          data-bs-toggle="tooltip"
                                                          data-bs-placement="top"
                                                          data-bs-original-title="The 6-digit code generated by your 2FA app">
                                                        <span class="bx bx-question-mark bx-xs"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            {% set setting = "2FA Code" %}
                                            {% set setting_data = {"type": "number", "id": "2fa_code", "regex": "^[0-9]{6}$"} %}
                                            {% include "models/input_setting.html" %}
                                        </div>
                                    {% endif %}
                                    <div class="d-flex justify-content-around text-center mt-4">
                                        {% if not ui_user %}
                                            <div>
                                                <i class="bx bx-check text-success"></i> Secure password
                                            </div>
                                            <div id="overview-2fa-enabled"
                                                 class="ms-4"
                                                 data-bs-toggle="tooltip"
                                                 data-bs-placement="top"
                                                 data-bs-original-title='Please enter a valid 2FA code in the 2FA setup input'>
                                                <i class="bx bx-question-mark text-warning"></i> 2FA enabled
                                            </div>
                                        {% endif %}
                                        {% if not ui_reverse_proxy %}
                                            <div id="overview-unique-server-name" class="ms-4">
                                                <i class="bx bx-question-mark text-warning"></i> Unique Server Name
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <button class="btn btn-primary btn-prev previous-step disabled">
                            <i class="bx bx-chevron-left bx-sm ms-sm-n2"></i>
                            <span class="align-middle d-sm-inline-block d-none">Previous</span>
                        </button>
                        <button type="button" class="btn btn-outline-bw-green save-settings d-none">
                            <i class="bx bx-save bx-sm ms-sm-n2"></i>
                            <span class="align-middle d-sm-inline-block d-none ms-sm-1">Setup</span>
                        </button>
                        <button class="btn btn-primary btn-next next-step">
                            <span class="align-middle d-sm-inline-block d-none me-sm-1">Next</span>
                            <i class="bx bx-chevron-right bx-sm me-sm-n2"></i>
                        </button>
                    </div>
                </div>
                <!-- /Setup -->
            </div>
        </div>
    </div>
</div>
<div id="feedback-toast"
     class="bs-toast toast fade"
     role="alert"
     aria-live="assertive"
     aria-atomic="true"
     data-bs-autohide="true"
     data-bs-delay="10000">
    <div class="toast-header">
        <i class="d-block w-px-20 h-auto rounded me-2 tf-icons bx bx-bell"></i>
        <span class="fw-medium me-auto">BunkerWeb Forever</span>
        <small class="text-body-secondary">just now</small>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="toast"
                aria-label="Close"></button>
    </div>
    <div class="toast-body">If you read this, it means that you're curious 👀</div>
</div>
{% if not ui_reverse_proxy %}
    <div class="modal fade"
         id="modal-confirm-dns"
         data-bs-backdrop="static"
         tabindex="-1"
         aria-hidden="true"
         role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="dns-check-title" class="modal-title">Server name is not unique</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="dns-check-result"
                         class="alert alert-danger text-center"
                         role="alert">Are you sure you want to proceed to the next step?</div>
                    <p class="mt-1 mb-0 text-center">
                        In case of issues, you can also click <a id="check-url"
    class="fw-semibold"
    href="https://www.example.com/setup/check"
    target="_blank"
    rel="noreferrer"
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    data-bs-original-title='If the shown text is "ok", that means that the server name is available'>here</a> to perform a manual check.
                    </p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button id="confirm-dns"
                            class="btn btn-outline-danger next-step me-2"
                            data-bs-dismiss="modal">Proceed</button>
                    <button type="reset"
                            class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="modal fade"
     id="loadingModal"
     data-bs-backdrop="static"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent border-0 shadow-none">
            <div class="modal-body text-center">
                <div class="spinner-border text-bw-green" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p class="mt-3 text-white">Setting up your BunkerWeb, please wait...</p>
            </div>
        </div>
    </div>
</div>
<div class="position-fixed bottom-0 start-0 m-3" id="floating-modes-menu">
    <button class="btn btn-sm btn-primary d-flex align-items-center justify-content-center rounded-pill me-1"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#newsletter-floating"
            aria-controls="newsletter-floating"
            aria-expanded="true"
            aria-label="Toggle navigation">
        <i class="bx bx-xs bx-menu me-1"></i>News from the Bunker
    </button>
    <!-- Collapsible floating menu -->
    <div class="collapse show mt-2" id="newsletter-floating">
        <div class="card card-body bg-white border-0 shadow-sm">
            <h5 class="mb-3 text-dark">Join the Newsletter</h5>
            <form action="https://bunkerity.us1.list-manage.com/subscribe/post?u=ec5b1577cf427972b9bd491a6&amp;id=37076d9d67"
                  method="POST"
                  target="_blank"
                  rel="noopener">
                <div class="mb-3">
                    <input type="email"
                           name="EMAIL"
                           class="form-control"
                           placeholder="John.doe@example.com"
                           required />
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox"
                           class="form-check-input"
                           name="newsletter-check"
                           required />
                    <label class="form-check-label" for="privacyPolicyCheck">
                        I've read and agree to the
                        <a class="fst-italic"
                           href="https://www.bunkerity.com/en/privacy-policy?utm_campaign=self&utm_source=ui"
                           target="_blank"
                           rel="noopener">privacy policy</a>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary w-100 text-uppercase don-jose">Subscribe</button>
            </form>
        </div>
    </div>
</div>
<!-- / Content -->
{% endblock %}
