<div class="offcanvas offcanvas-end"
     tabindex="-1"
     id="side-offcanvas-notifications"
     data-bs-keyboard="false"
     data-bs-backdrop="false">
    <div class="offcanvas-header">
        <div class="social-buttons">
            <a href="https://discord.bunkerity.com/?utm_campaign=self&utm_source=ui"
               class="btn btn-sm btn-link"
               target="_blank"
               rel="noopener">
                <i class='bx bxl-discord-alt bx-sm'></i>
            </a>
            <a href="https://www.linkedin.com/company/bunkerity/"
               class="btn btn-sm btn-link"
               target="_blank"
               rel="noreferrer">
                <i class='bx bxl-linkedin bx-sm'></i>
            </a>
            <a href="https://www.reddit.com/r/BunkerWeb/"
               class="btn btn-sm btn-link"
               target="_blank"
               rel="noreferrer">
                <i class='bx bxl-reddit bx-sm'></i>
            </a>
            <a href="https://www.instagram.com/bunkerweb/"
               class="btn btn-sm btn-link"
               target="_blank"
               rel="noreferrer">
                <i class='bx bxl-instagram bx-sm'></i>
            </a>
            <a href="https://x.com/bunkerity/"
               class="btn btn-sm btn-link"
               target="_blank"
               rel="noreferrer">
                <img src="{{ url_for('static', filename='img/brands/Twitter-X-Logo.svg') }}"
                     class="x-logo"
                     alt="X logo"
                     width="20px"
                     height="20px"
                     loading="lazy" />
            </a>
        </div>
        <button type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
                data-i18n="aria.label.close"></button>
    </div>
    <div id="data-notifications-container"
         class="offcanvas-body row justify-content-center ps-3 pe-3{% if flash_messages %} pt-0{% endif %}">
        {% if flash_messages %}
            <div id="notifications-toast-container"
                 class="toast-container position-relative g-3 pt-6">
                {% for message in flash_messages|reverse %}
                    {% set content = message[0] %}
                    {% set category = message[1] %}
                    {% set datetime = message[2] %}
                    <div class="col-12 bs-toast toast show bg-{% if theme == 'light' %}white{% else %}dark{% endif %} border{% if category == 'error' %} border-danger{% elif category == 'warning' %} border-warning{% else %} border-primary{% endif %}">
                        <div class="toast-header d-flex align-items-center{% if category == 'error' %} text-danger{% elif category == 'warning' %} text-warning{% else %} text-primary{% endif %}">
                            <i class="d-block h-auto rounded tf-icons bx bx-xs bx-bell me-2"></i>
                            <span class="fw-medium me-auto">
                                {% if category != 'message' %}
                                    {{ category|capitalize }}
                                {% else %}
                                    Info
                                {% endif %}
                            </span>
                            <small class="text-body-secondary toast-datetime">{{ datetime }}</small>
                        </div>
                        <div class="toast-body">{{ content|safe }}</div>
                    </div>
                {% endfor %}
                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-secondary">
                    TZ: <script nonce="{{ script_nonce }}">document.write(Intl.DateTimeFormat().resolvedOptions().timeZone);</script>
                </span>
            </div>
        {% else %}
            <p class="g-3 text-center relative w-full p-2 text-primary rounded-lg fw-bold"
               data-i18n="status.no_notifications">No notifications to show</p>
        {% endif %}
    </div>
    <!-- Newsletter Signup Section -->
    <div class="newsletter-signup position-sticky bottom-0 start-0 w-100 p-4 bg-{% if theme == 'light' %}light{% else %}dark{% endif %}-subtle border-top">
        <h5 class="mb-3 text-primary" data-i18n="newsletter.title">Join the Newsletter</h5>
        <form action="https://sibforms.com/serve/MUIFAHoWe6WZdJ2ergvcJd8d2gn5T_x7bUzVM6jJd1FmAMfS6v-S9cUN3Iqw6DFiq7mRlDMvTXSIM9voEv8sCkZmEhtoDukSdI4BomhnTtgJAMXFkXUIj07KNw5gBWJ-1kPYCoSJlcabngBdufuqPnzGQ87UMecHcke3Hv2-AgAZOMYbCgKg2mx4ki8vhCkQtEpfBQhNZY22UY5y"
              method="POST"
              target="_blank">
            <input id="newsletter-email-check"
                   type="hidden"
                   name="email_address_check"
                   value="" />
            <input id="newsletter-locale" type="hidden" name="locale" value="en" />
            <div class="mb-3">
                <input type="email"
                       name="EMAIL"
                       class="form-control"
                       placeholder="John.doe@example.com"
                       required />
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" name="OPT_IN" required />
                <label class="form-check-label" for="privacyPolicyCheck">
                    <span data-i18n="newsletter.legal_agreement">I want to subscribe to the newsletter and I've read and agree to the:&nbsp;</span>
                    <a class="fst-italic"
                       href="https://www.bunkerity.com/en/privacy-policy?utm_campaign=self&utm_source=ui"
                       target="_blank"
                       rel="noopener"
                       data-i18n="link.privacy_policy">privacy policy</a>
                </label>
            </div>
            <button type="submit"
                    class="btn btn-primary w-100 text-uppercase don-jose"
                    data-i18n="button.subscribe">Subscribe</button>
        </form>
    </div>
    <!-- End Newsletter Signup Section -->
</div>
