<div class="offcanvas offcanvas-end"
     tabindex="-1"
     id="side-offcanvas-news"
     data-bs-keyboard="false"
     data-bs-backdrop="false">
    <div class="offcanvas-header">
        <div class="social-buttons">
            <a href="https://discord.bunkerity.com/?utm_campaign=self&utm_source=ui"
               class="btn btn-sm btn-link"
               target="_blank"
               rel="noopener">
                <i class='bx bxl-discord-alt bx-sm'></i>
            </a>
            <a href="https://www.linkedin.com/company/bunkerity/"
               class="btn btn-sm btn-link"
               target="_blank"
               rel="noreferrer">
                <i class='bx bxl-linkedin bx-sm'></i>
            </a>
            <a href="https://www.reddit.com/r/BunkerWeb/"
               class="btn btn-sm btn-link"
               target="_blank"
               rel="noreferrer">
                <i class='bx bxl-reddit bx-sm'></i>
            </a>
            <a href="https://www.instagram.com/bunkerweb/"
               class="btn btn-sm btn-link"
               target="_blank"
               rel="noreferrer">
                <i class='bx bxl-instagram bx-sm'></i>
            </a>
            <a href="https://x.com/bunkerity/"
               class="btn btn-sm btn-link"
               target="_blank"
               rel="noreferrer">
                <img src="{{ url_for('static', filename='img/brands/Twitter-X-Logo.svg') }}"
                     class="x-logo"
                     alt="X logo"
                     width="20px"
                     height="20px">
            </a>
        </div>
        <button type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
                data-i18n="aria.label.close"></button>
    </div>
    <div class="offcanvas-body position-relative ps-3 pe-3">
        <div id="data-news-container">
            <p class="text-center relative w-full p-2 text-primary rounded-lg fw-bold"
               data-i18n="status.blog_connection_fail">Impossible to connect to blog news.</p>
        </div>
        <div class="text-center relative w-full p-2 text-primary rounded-lg fw-bold mt-4">
            <a href="https://www.bunkerweb.io/blog?utm_campaign=self&utm_source=ui"
               class="text-decoration-underline link-underline-primary position-relative pe-4"
               target="_blank"
               rel="noopener"><span data-i18n="link.more_news">More news</span> <i class="bx bx-xs bx-right-arrow-alt position-absolute end-0 top-0 mt-0_5"></i></a>
        </div>
    </div>
    <!-- Newsletter Signup Section -->
    <div class="newsletter-signup position-sticky bottom-0 start-0 w-100 p-4 bg-{% if theme == 'light' %}light{% else %}dark{% endif %}-subtle border-top">
        <h5 class="mb-3 text-primary" data-i18n="newsletter.title">Join the Newsletter</h5>
        <form action="https://sibforms.com/serve/MUIFAP0xyuFFcc9mtytcctQIzW_cjdPXgyeSe6B5d_MjWDeB5qqHat9LKBXVPFWg-qCuUFnxAEEIJpc3dNHrFFpfat5a9wCUYqO67Bdcxyn6CoUDIdFrWp8wxfpPtSnL7W-OqU1ne_5lvIHAV8Dti6-Uhhmowgt8PdpM3YcuGiPNqZmH8jDbHeJJQI742OZjleH9UW1PscKj9V4k"
              method="POST">
            <input id="newsletter-email-check"
                   type="hidden"
                   name="email_address_check"
                   value="" />
            <input id="newsletter-locale" type="hidden" name="locale" value="en" />
            <div class="mb-3">
                <input type="email"
                       name="EMAIL"
                       class="form-control"
                       placeholder="John.doe@example.com"
                       required />
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" name="OPT_IN" required />
                <label class="form-check-label" for="privacyPolicyCheck">
                    <span data-i18n="newsletter.legal_agreement">I want to subscribe to the newsletter and I've read and agree to the:&nbsp;</span>
                    <a class="fst-italic"
                       href="https://www.bunkerity.com/en/privacy-policy?utm_campaign=self&utm_source=ui"
                       target="_blank"
                       rel="noopener"
                       data-i18n="link.privacy_policy">privacy policy</a>
                </label>
            </div>
            <button type="submit"
                    class="btn btn-primary w-100 text-uppercase don-jose"
                    data-i18n="button.subscribe">Subscribe</button>
        </form>
    </div>
    <!-- End Newsletter Signup Section -->
</div>
