[Unit]
Description=BunkerWeb UI service
Documentation=https://docs.bunkerweb.io
After=network.target

[Service]
Restart=always
StartLimitBurst=1
User=nginx
ExecStart=/usr/share/bunkerweb/scripts/bunkerweb-ui.sh start
ExecStop=/usr/share/bunkerweb/scripts/bunkerweb-ui.sh stop
ExecReload=/usr/share/bunkerweb/scripts/bunkerweb-ui.sh reload
Type=simple
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
Alias=bunkerweb-ui.service
