services:
  bunkerweb:
    image: bunkerity/bunkerweb:1.6.3-rc1
    container_name: bunkerweb
    ports:
      - "80:8080/tcp"
      - "443:8443/tcp"
      - "443:8443/udp" # for QUIC
    environment:
      API_WHITELIST_IP: "127.0.0.0/8 10.20.30.0/24"
    restart: "unless-stopped"
    networks:
      - bw-universe
      - bw-services

  bw-scheduler:
    image: bunkerity/bunkerweb-scheduler:1.6.3-rc1
    container_name: bw-scheduler
    depends_on:
      - bunkerweb
    volumes:
      - bw-data:/data
    environment:
      BUNKERWEB_INSTANCES: "bunkerweb"
      SERVER_NAME: "www.example.com" # replace with your domain
      API_WHITELIST_IP: "127.0.0.0/8 10.20.30.0/24"
      AUTO_LETS_ENCRYPT: "yes"
      DISABLE_DEFAULT_SERVER: "yes"
      MAX_CLIENT_SIZE: "50m"
      USE_CLIENT_CACHE: "yes"
      USE_GZIP: "yes"
      USE_REVERSE_PROXY: "yes"
      REVERSE_PROXY_URL: "/"
      REVERSE_PROXY_HOST: "http://myjoomla"
      LIMIT_REQ_URL_1: "/administrator/"
      LIMIT_REQ_RATE_1: "8r/s"
      LIMIT_REQ_URL_2: "/installation/index.php"
      LIMIT_REQ_RATE_2: "8r/s"
    restart: "unless-stopped"
    networks:
      - bw-universe

  myjoomla:
    image: joomla:5-apache
    volumes:
      - joomla-data:/var/www/html
    environment:
      JOOMLA_DB_HOST: "mydb"
      JOOMLA_DB_NAME: "joomla_db"
      JOOMLA_DB_USER: "user"
      JOOMLA_DB_PASSWORD: "db-user-pwd" # set a stronger password in a .env file (must match MYSQL_PASSWORD)
    networks:
      - bw-services

  mydb:
    image: mariadb:11
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: "db-root-pwd" # replace with a stronger password
      MYSQL_DATABASE: "joomla_db"
      MYSQL_USER: "user"
      MYSQL_PASSWORD: "db-user-pwd" # replace with a stronger password (must match JOOMLA_DB_PASSWORD)
    networks:
      - bw-services

volumes:
  bw-data:
  joomla-data:
  db-data:


networks:
  bw-universe:
    name: bw-universe
    ipam:
      driver: default
      config:
        - subnet: 10.20.30.0/24
  bw-services:
    name: bw-services
