[Unit]
Description=Web UI for bunkerized-nginx
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/opt/bunkerized-nginx/ui
EnvironmentFile=/opt/bunkerized-nginx/ui/variables.env
ExecStart=gunicorn --config config.py --bind 127.0.0.1:5000 -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
