<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/flag-icons.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BunkerWeb | TEST</title>
    <script type="module" crossorigin src="/assets/test-e985cac8.js"></script>
  </head>
  <body>
    <div data-default-value="DEFAULT TITLE" data-flask="{{ flask_data }}" class="hidden"></div>
    <div id="app"></div>
    
  </body>
</html>
